---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import Alert from '@components/page/Alert.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Clipboard from '@components/page/Clipboard.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import ExternalLink from '@components/react/ExternalLink';
import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Bikeways and Planned Bikeways',
  pageDescription: `Bikeway features across the state.`,
  stewards: ['UGRC'],
  type: ProductType.POLYLINE,
  category: SgidCategory.TRANSPORTATION,
  secondaryCategory: SgidCategory.RECREATION,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://bikeways.utah.gov/',
  updateHistory: [`August 2025`, `July 2025`, `June 2025`, `May 2025`, `April 2025`],
  hub: {
    ...dataPages['Utah Bikeways'],
  },
};

const hubParts = (hub) => {
  let id = hub.name.toLowerCase().replaceAll(' ', '-');
  let name = hub.name;
  const featureServiceHost = 'https://services1.arcgis.com/99lidPhWCzftIe9K/ArcGIS/rest/services/';

  const featureService = hub.featureServiceId || hub.name.toLowerCase().replaceAll(' ', '');
  let serviceUrl: string;
  if (hub.featureServiceId) {
    serviceUrl = `${featureServiceHost}${featureService}/FeatureServer/${hub.layerId}`;
  } else {
    serviceUrl = `${featureServiceHost}${hub.mapServiceId}/MapServer/${hub.layerId}`;
  }

  return { id, name, serviceUrl };
};

const primary = hubParts(page.hub);
const secondary = hubParts(dataPages['Utah Planned Bikeways']);
---

<Layout {...page} pageTitle={page.pageTitle} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The Utah Bikeways dataset provides a detailed representation of on-street and pathway bikeway features in the
      state and serves as a comprehensive resource for understanding the state's cycling infrastructure. The data
      includes various attributes such as the name of the bikeway, the city and county it traverses, and specific
      details about the facility type (e.g., dedicated bike lanes, shared-use paths). It also includes an estimated
      Level of Traffic Stress (LTS) score and the source of the data.
    </p>
    <p>
      This dataset is intended for planning, analysis, and visualization of cycling routes and infrastructure at various
      scales within Utah. Users should be aware that while efforts are made to keep the data current, recent changes in
      infrastructure are not immediately reflected. Data updates are sourced through periodic coordination between
      transportation agencies (UDOT and Utah's four MPOs) and local government GIS and active transportation contacts,
      and through user submissions with the bikeways.utah.gov web map. The geometry for this layer is polyline,
      representing linear features of bikeways.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <div class="grid grid-cols-1 gap-8 px-6 lg:grid-cols-2 lg:gap-4 lg:px-0">
      <div class="flex flex-col">
        <h2 class="pb-1">Explore and Download</h2>
        <span>
          <ExternalLink href={`https://opendata.gis.utah.gov/datasets/${primary.id}/about`}>{primary.name}</ExternalLink
          > in the SGID on ArcGIS
        </span>
        <ExternalLink href={primary.serviceUrl}>{primary.name} feature service</ExternalLink>
        <span class="pt-2">
          <ExternalLink href={`https://opendata.gis.utah.gov/datasets/${secondary.id}/about`}
            >{secondary.name}</ExternalLink
          > in the SGID on ArcGIS
        </span>
        <ExternalLink href={secondary.serviceUrl}>{secondary.name} feature service</ExternalLink>
        <slot name="more-links" />
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="pb-1">Quick clips</h2>
        <Clipboard title={`${primary.name} Feature service URL`} value={primary.serviceUrl} />
        <span class="pt-2"></span>
        <Clipboard title={`${secondary.name} Feature service URL`} value={secondary.serviceUrl} />
      </div>
      <div class="flex flex-col">
        <h2 class="pb-1">Getting started</h2>
        <div>Learn more about the <a href="/documentation/sgid/#sgid-on-arcgis">SGID on ArcGIS</a>.</div>
      </div>
      <Alert title="Tip">
        You can copy and paste the feature service URL above into ArcGIS Pro or a web map to visualize this data or
        access the query endpoint to query the data with your favorite programming language.
      </Alert>
    </div>
  </Section>

  <Fragment slot="description">
    <p>
      The bikeways data is maintained within two separate statewide editing layers stewarded by UGRC --
      <a href="road-centerlines/">Roads</a> and <a href="/products/sgid/recreation/trails-pathways/"
        >Trails and Pathways</a
      >. This more user-friendly dataset is derived by UGRC using a python script that combines bike facilities in the
      two editing layers. It merges and formats the data into a single schema, determines the best bike feature, and
      which side of the road the best feature is on. The script also calculates a <ExternalLink
        href="https://docs.google.com/document/d/1eo9BscAbXFHKlw8EONFRi4lntBwvON8JzV6tN2D_j6I/edit?tab=t.0"
        >Level of Traffic Stress</ExternalLink
      > metric that represents the amount of discomfort people feel when they ride their bicycles near traffic. Finally,
      the data is split into existing and planned features, for use in the <ExternalLink
        href="https://bikeways.utah.gov/">Utah Bikeways</ExternalLink
      > app.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="WFRC" href="https://wfrc.utah.gov/"
        >Wasatch Front Regional Council homepage.</CardWithPopularLink
      >
      <CardWithPopularLink title="Utah State Parks" href="https://stateparks.utah.gov/activities/mountain-biking/"
        >Mountain Bike at Utah State Parks!</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Multi-Modal Network Dataset" href="products/sgid/transportation/multimodal-network/"
        >Esri Network Dataset.</CardWithSmallLink
      >
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/road-centerlines/"
        >Authoritative statewide collection of road centerlines.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
