---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Railroads',
  description: `Rail tracks, including active and some abandoned lines, across the state.`,
  stewards: ['UGRC'],
  type: ProductType.POLYLINE,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`July 2017`],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Rail tracks, including active and some abandoned lines, across the state.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Railroads in the state of Utah derived from high resolution imagery (including 1 foot resolution color imagery,
      NAIP, and 1 meter USGS DOQs). The dataset includes cartographic attribution for large scale representations and
      differentiates between light, heavy, transit, and electrified tracks.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Railroad Mileposts" href="/products/sgid/transportation/railroad-mileposts"
        >A liner referencing system for the railroad lines.</CardWithPopularLink
      >
      <CardWithPopularLink title="Federal Railroad Administration" href="https://railroads.dot.gov/"
        >The main US DOT organization for rail transportation.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/road-centerlines" style="secondary"
        >Authoritative statewide collection of road centerlines.</CardWithSmallLink
      >
      <CardWithSmallLink title="UtahRails.net" href="https://utahrails.net/" style="secondary"
        >A private, non-commercial site chock full of historical railroad information.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
