---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'UTA Routes and Ridership',
  description: `Utah Transit Authority (UTA) routes for bus, light rail (TRAX), and commuter rail (Frontrunner).`,
  stewards: ['Utah Transit Authority (UTA)', 'UGRC'],
  application: 'https://rideuta.maps.arcgis.com/apps/webappviewer/index.html?id=448c3cfe44264f1e8931073dfb6e5417',
  type: ProductType.POLYLINE,
  category: SgidCategory.TRANSPORTATION,
  secondaryCategory: SgidCategory.PLANNING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`November 2023`, `August 2023`, `April 2023`],

  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout pageTitle={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      All routes for bus, light rail (TRAX), streetcar and commuter rail (Frontrunner). Attributes include: route
      number, route name, frequency in minutes, route type, average weekday ridership, and all cities and counties the
      route services.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Routes are updated 3 times a year (typically April, August, and December), weekday ridership values (AvgBrd) are
      updated monthly after the 10th of the following month.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UTA" href="https://www.rideuta.com/">Utah Transit Authority.</CardWithPopularLink>
      <CardWithPopularLink title="UTA data portal" href="https://data-rideuta.opendata.arcgis.com/"
        >Utah Transit Authority Data Portal.</CardWithPopularLink
      >
      <CardWithPopularLink title="UDOT" href="https://www.udot.utah.gov/connect/public/public-transit/"
        >Public transit.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="UTA Stops" href="/products/sgid/transportation/uta-stops" style="secondary"
        >All bus, TRAX, and Frontrunner stops.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="TRAX Routes"
        href="/products/sgid/transportation/uta-light-rail-routes"
        style="secondary">UTA light rail routes.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="TRAX Stops"
        href="/products/sgid/transportation/uta-light-rail-stations"
        style="secondary">UTA light rail stations.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Frontrunner Route"
        href="/products/sgid/transportation/uta-commuter-rail-routes"
        style="secondary">UTA commuter rail route.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
