---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah PLSS Point GCDB',
  description: `PLSS Points GCDB is a point dataset that depicts the Public Land Survey System (PLSS) for the State of Utah and are based on Geographic Coordinate Data Base (GCDB) coordinate data`,
  stewards: ['UGRC', 'BLM', 'SITLA', 'Utah Counties', 'Premier Data Services'],
  type: ProductType.POINT,
  category: SgidCategory.CADASTRE,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://plss.utah.gov/',
  updateHistory: [
    `December 15, 2020`,
    `October 15, 2019`,
    `January 15, 2019`,
    `January 1, 2018`,
    `November 1, 2016`,
    `August 28, 2015`,
  ],

  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      PLSS Point GCDB is a point dataset that depicts the Public Land Survey System (PLSS) for the State of Utah and are
      based on Geographic Coordinate Data Base (GCDB) coordinate data. This dataset was created to provide continuous
      data for the state of Utah. This data is Utah PLSS Fabric Version 2.3 2020 of the Utah GCDB.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      This data set represents the GIS Version of the Public Land Survey System. Updates are expected annually as
      horizontal control positions from published sources and global positioning system (GPS) observations are added.
      The primary source for the data is cadastral survey records housed by the BLM supplemented with local records and
      geographic control coordinates from states, counties as well as other federal agencies such as the USGS and USFS.
      This data was originally published on 1/3/2017. Updated 12/15/2020
    </p>
    <p>
      These are the corner points of the PLSS. This data set contains summary information about the coordinate location
      and reliability of corner coordinate information. The information in the corner feature has been collected by the
      identified data steward. For more information about corner locations, credits and use limitations the identified
      data steward in the corner feature should be contacted.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Utah Land Ownership" href="/products/sgid/cadastre/land-ownership"
        >Land ownership status and areas in Utah.</CardWithPopularLink
      >
      <CardWithPopularLink title="Utah Parcels" href="/products/sgid/cadastre/parcels"
        >County parcel data.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Boundaries" href="/products/sgid/boundaries" style="secondary"
        >Utah boundary data</CardWithSmallLink
      >
      <CardWithSmallLink title="Transportation" href="/products/sgid/transportation" style="secondary"
        >Utah transportation data</CardWithSmallLink
      >
      <CardWithSmallLink title="Economy" href="/products/sgid/economy" style="secondary"
        >Utah economic data</CardWithSmallLink
      >
      <CardWithSmallLink title="Political" href="/products/sgid/political" style="secondary"
        >Utah political data</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
