---
import Layout from '@layouts/DataPage.astro';

import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';
import HubDownloads from '@components/data/HubDownloads.astro';

import Section from '@components/page/Section.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';

export const metadata = {
  title: 'Utah Address Points',
  description:
    'An address point represents a geographic location that has been assigned a US Postal Service (USPS) address by the local address authority (i.e., county or municipality) but does not necessarily receive mail.',
  stewards: ['UGRC', 'local government partners'],
  type: 'Point GIS data',
};

const page = {
  title: metadata.title,
  description: metadata.description,
  stewards: metadata.stewards,
  type: metadata.type,
  category: 'Location',
  application: 'https://addressing.utah.gov/',
  lastUpdate: 'January 2024 - Box Elder, Davis, Millard, Morgan, Salt Lake, Utah, Washington, and Weber Counties',
  hub: {
    name: 'Utah Address Points',
    itemId: '3f4f7a8efcd147febeca8bacaea67a14',
    layerId: 0,
    openSgid: 'location.address_points',
  },
};
---

<Layout title={page.title} subTitle={page.lastUpdate} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="summary">
    <p>
      An address point represents a geographic location that has been assigned a US Postal Service (USPS) address by the
      local address authority (i.e., county or municipality) but does not necessarily receive mail. This data layer
      contains points for all twenty-nine Utah counties and ensures that all state entities are using the same verified,
      accurate county and municipality address information.
    </p>
  </Fragment>

  <Fragment slot="description">
    <p>
      This dataset contains geographic information system (GIS) mapping data representing address point locations for
      all twenty-nine Utah counties. This data layer ensures that all state entities are using the same verified,
      accurate county and municipality address information.
    </p>
    <p>
      An address point represents a geographic location that has been assigned a US Postal Service (USPS) address by the
      local address authority (i.e., county or municipality) but does not necessarily receive mail. Address points may
      include several pieces of information about the structure or location that's being mapped, such as:
    </p>
    <ul>
      <li>
        the full address (i.e., the USPS mailing address, if the address is for a physical location [rather than a PO
        box]);
      </li>
      <li>the landmark name;</li>
      <li>whether the location is a building;</li>
      <li>the type of unit;</li>
      <li>the city and ZIP code;</li>
      <li>
        unique code identifiers of the specific geographic location, including the Federal Information Processing
        Standard Publication (FIPS) county code and the US National Grid (USNG) spatial address;
      </li>
      <li>the address source; and</li>
      <li>the date that the address point was loaded into the map layer.</li>
    </ul>
    <p>
      This dataset is mapping grade; it is a framework layer that receives regular updates. As with all our datasets,
      the Utah Geospatial Resource Center (UGRC) works to ensure the quality and accuracy of our data to the best of our
      abilities.
    </p>
    <p>
      Maintaining the dataset is now an ongoing effort between UGRC, counties, and municipalities. Specifically, UGRC
      works with each county or municipality's <a
        href="https://docs.google.com/spreadsheet/ccc?key=0AkScYXX9W5INdFFRVHZkcWFYczd5MXhZYS1WTVN1elE&usp=sharing"
        >Master Address List</a
      > (MAL) authority to continually improve the address point data. Counties have been placed on an update schedule depending
      on the rate of new development and change within them. Populous counties, such as Weber, Davis, Salt Lake, Utah, and
      Washington, are more complete and are updated monthly, while rural or less populous counties may be updated quarterly
      or every six months.
    </p>
    <p>
      The information in the Address Points dataset was originally compiled by Utah counties and municipalities and was
      aggregated by UGRC for the MAL grant initiative in 2012. The purpose of this initiative was to make sure that all
      state entities were using the same verified, accurate county and municipal address information.
    </p>
    <p>
      Since 2012, more data has been added to the Address Points GIS data and is used for geocoding, 911 response, and
      analysis and planning purposes. The Address Point data is also used as reference data for the <a
        href="https://api.mapserv.utah.gov">api.mapserv.utah.gov</a
      > geocoding endpoint, and you can find the address points in many web mapping applications.
    </p>
    <h5>Address Points in Action</h5>
    <p>
      The statewide address point layer is used as reference data for the <a
        href="{% link data/address-geocoders-locators/index.html %}#WebAPI">api.mapserv.utah.gov</a
      >
      address locators. You can also find the address points in many <a href="https://atlas.utah.gov"
        >web mapping applications</a
      >.
    </p>
    <h5>Address Points as a Service</h5>
    <p>
      The address points are published as an <a
        href="https://utah.maps.arcgis.com/home/item.html?id=5b92021338f64f5ba77765d6fc47cbc9">ArcGIS Online service</a
      >
      as well as a <a href="{% link discover/index.html %}">Discover service</a>.
    </p>
    <p>
      % include contact.html subject=page.title contact=site.data.contacts.address_points % For county specific
      questions, see the <a
        href="https://docs.google.com/spreadsheet/ccc?key=0AkScYXX9W5INdFFRVHZkcWFYczd5MXhZYS1WTVN1elE&usp=sharing"
        >contact list</a
      > for the Master Address Authority at each county.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history">
    <ul>
      <li>January 2024 - Box Elder, Davis, Millard, Morgan, Salt Lake, Utah, Washington, and Weber Counties</li>
      <li>December 2023 - Davis, Iron, Salt Lake, Utah, Washington, and Weber Counties</li>
      <li>November 2023 - Davis, Kane, Salt Lake, Tooele, Utah, Washington, and Weber Counties</li>
      <li>October 2023 - Box Elder, Carbon, Davis, Salt Lake, Sevier, Utah, Washington and Weber Counties</li>
      <li>September 2023 - Davis, Iron, Salt Lake, Utah, Washington, and Weber Counties</li>
      <li>August 2023 - Davis, Garfield, Salt Lake, Tooele, Utah, Washington, and Weber Counties</li>
      <li>July 2023 - Box Elder, Davis, Grand, Salt Lake, San Juan, Summit, Utah, Washington, and Weber Counties</li>
      <li>June 2023 - Beaver, Emery, Davis, Salt Lake, Utah, Washington, and Weber Counties</li>
      <li>May 2023 - Cache, Davis, Morgan, Salt Lake, Tooele, Utah, Wasatch, Washington, and Weber Counties</li>
      <li>April 2023 - Davis, Morgan, Piute, Salt Lake, Sevier, Summit, Utah, Washington, and Weber Counties</li>
      <li>March 2023 - Box Elder, Cache, Davis, Iron, Salt Lake, Utah, Washington, Weber Counties</li>
      <li>February 2023 - Carbon, Davis, Garfield, Grand, Salt Lake, Tooele, Utah, Washington, Weber Counties</li>
      <li>January 2023 - Box Elder, Davis, Iron, Salt Lake, Utah, Wasatch, Washington, Weber Counties</li>
      <li>Address Points were made public by UGRC on June 27, 2013</li>
    </ul>
  </UpdateHistory>

  <Section title={`More ${page.title} resources`} slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="Schema definitions"
        href="https://docs.google.com/document/d/1fVmLrp0pbR3J1aXo83jTt3gtGUsPwSYztf-HM-RB-cI/edit?usp=sharing"
      >
        The definition and meanings of every attribute and value for the dataset.
      </CardWithPopularLink>
      <CardWithPopularLink
        title="County Master Address List (MAL) contacts"
        href="https://docs.google.com/spreadsheet/ccc?key=0AkScYXX9W5INdFFRVHZkcWFYczd5MXhZYS1WTVN1elE&usp=sharing"
      >
        Comment and questions can be directed to the Master Address List (MAL) authority at each county.
      </CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://data.udot.utah.gov">
        This web app uses the address points for geocoding and you can toggle an address point base map layer.
      </CardWithSmallLink>
      <CardWithSmallLink title="Transportation" href="/products/sgid/transportation">
        Transportation related data sets.
      </CardWithSmallLink>
      <CardWithSmallLink title="Addresses" href="/products/sgid/address">
        Address releated datasets, applications, and services.
      </CardWithSmallLink>
      <CardWithSmallLink title="Discover" href="/products/discover">
        Discover has an address point base map service for your projects and maps.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
