---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import accuracy from '@images/discover/accuracy.svg';
import discoverLogo from '@images/discover/discover-logo.svg';
import getConnected from '@images/discover/get-connected.svg';
import licensedAccess from '@images/discover/licensed-access.svg';
import problems from '@images/discover/problems.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Discover',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    { actionUrl: '/documentation/discover/basics', actionText: 'Learn the basics' },
    { title: 'Connecting your client', actionUrl: '/documentation/discover/clients', actionText: 'Get Connected' },
    {
      title: 'Licensed imagery',
      actionUrl: '/documentation/discover/licensed-imagery',
      actionText: 'See who qualifies',
    },
    {
      title: 'Coordinate systems and accuracy',
      actionUrl: '/documentation/discover/coord-system',
      actionText: 'Check your CRS',
    },
    { title: 'Common problems and issues', actionUrl: '/documentation/discover/problems', actionText: 'Get help' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={discoverLogo}
      loading="eager"
      alt="Discover logo"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Discover allows you to connect to streaming tile services of our base maps and imagery, freeing you from
      downloading and storing massive amounts of data. They also work great in web maps as background layers for your
      data.
    </p>
    <p>
      Discover serves data as either a single full raster (WMS) or a set of pre-rendered raster tiles (WMTS). WMTS
      should be used wherever possible to access any of our base maps or imagery services.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image slot="image" src={getConnected} alt="A person sitting on a globe" class="w-full max-w-[400px] rounded-2xl" />
    <p>
      You can connect to Discover using a variety of desktop and web clients, including QGIS, ArcGIS Pro, AutoCAD, and
      ArcGIS Online.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={licensedAccess}
      alt="A person looking at their phone with a fingerprint on the screen and a lock"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Licensed Discover access includes our high-res imagery licensed from Hexagon and Google. These services have their
      own considerations and restrictions and are only available to users associated with the State or its entities.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={accuracy}
      alt="A person shooting arrows at a target"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Discover services use the Web Mercator WGS84 projection (wkid/EPSG 3857). You may need to transform or project
      your data to match.
    </p>
    <p>Discover hosts several different imagery services, each with its own accuracy and resolution.</p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={problems}
      alt="A person struggling to solve a problem with his hand on his head"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>Discover uses the common and open source WMS and WMTS standards, but you may still run into some problems.</p>
  </Section>
</Layout>
