---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import arcGisOnlinePhoto from '@images/documentation/sgid/agol-logo.png';
import apiLogo from '@images/documentation/sgid/api-logo.svg';
import discoverLogo from '@images/documentation/sgid/discover-logo.svg';
import openSgidPhoto from '@images/documentation/sgid/open-sgid.svg';
import sgidIndexPhoto from '@images/documentation/sgid/sgid-index.svg';
import sgidLogo from '@images/documentation/sgid/sgid-logo.svg';
import sgidOpenDataPhoto from '@images/documentation/sgid/sgid-opendata.svg';
import sharePhoto from '@images/documentation/sgid/share.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'State Geographic Information Datasource',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    { title: 'What is the SGID' },
    { title: 'Choosing the right SGID technology' },
    { title: 'The SGID Index', actionText: 'Search the index', actionUrl: '/products/sgid/sgid-index/' },
    { title: 'The Open SGID database', actionText: 'Get connected', actionUrl: '/documentation/sgid/open-sgid' },
    {
      title: 'UGRC ArcGIS Online',
      actionText: 'Browse ArcGIS Online',
      actionUrl: 'https://utah.maps.arcgis.com/home/groups.html',
    },
    { title: 'SGID on ArcGIS', actionText: 'Explore Utah data', actionUrl: 'https://opendata.gis.utah.gov/' },
    { title: 'Discover base maps and imagery', actionText: 'Learn more', actionUrl: '/documentation/discover' },
    { title: 'Raster discovery app', actionText: 'Search and download imagery', actionUrl: 'https://raster.utah.gov' },
    { title: 'UGRC API', actionText: 'Learn more', actionUrl: '/products/api' },
    { title: 'Sharing with the SGID', actionUrl: '/documentation/sgid/sharing' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      src={sgidLogo}
      slot="image"
      loading="eager"
      alt="sgid logo"
      class="w-full rounded-2xl px-3 py-2 dark:bg-white/20"
    />
    <p>
      Established by State law in 1991, Utah's State Geographic Information Datasource (SGID) provides a centralized
      collection of hundreds of GIS data layers developed, aggregated, or acquired by the State. Evolving technologies
      have allowed us to transform the SGID from a single database to a broad collection of data resources under the
      SGID umbrella. It contains both UGRC-curated datasets and references to data from a wide variety of state and
      local agencies. Many resources have both download links and links to web services for direct consumption.
    </p>
    <p>
      There are many facets, or parts, to the SGID today, with each one addressing specific audiences and technologies.
      Every facet is organized by <a href="/products/sgid/categories">SGID data categories</a>. When you know the
      category of the data you want to use, you can find it in the SGID. Read the following sections to figure out which
      SGID technology is right for you.
    </p>
  </Section>

  <Section {...page.section[1]}>
    <p>
      With so many ways to access SGID Data, how do you you know which one to use? We created a guide to help you
      understand the best ways to access the data based on your use case.
    </p>
    <h4>Browsing for data</h4>
    <BulletedList>
      <li>Use the <a href="/products/sgid/sgid-index">SGID Index</a>.</li>
      <li>Search the <ExternalLink href="https://opendata.gis.utah.gov">SGID on ArcGIS</ExternalLink>.</li>
      <li>
        Browse the Utah SGID groups in our <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online organization</ExternalLink
        >.
      </li>
    </BulletedList>
    <h4>Desktop mapping (ArcGIS, QGIS, etc)</h4>
    <BulletedList>
      <li>
        Connect directly to the <a href="/documentation/sgid/open-sgid">Open SGID</a> to load UGRC-curated vector data.
      </li>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">SGID on ArcGIS</ExternalLink>.
      </li>
      <li>
        Download shapefiles or geodatabases from <ExternalLink href="https://opendata.gis.utah.gov"
          >SGID on ArcGIS</ExternalLink
        > or from the steward's website.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
      <li>
        Download raster data from the <ExternalLink href="https://raster.utah.gov">Raster Discovery app</ExternalLink>.
      </li>
    </BulletedList>
    <h4>ArcGIS Online webmaps and storymaps</h4>
    <BulletedList>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">SGID on ArcGIS</ExternalLink>.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
    </BulletedList>
    <h4>Custom web app development</h4>
    <BulletedList>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">SGID on ArcGIS</ExternalLink>.
      </li>
      <li>
        Zoom to an address and search for a boundary or nearby feature with the <ExternalLink
          href="https://developer.mapserv.utah.gov/StartupGuide">UGRC API</ExternalLink
        >.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
    </BulletedList>
    <h4>Geocoding Addresses</h4>
    <BulletedList>
      <li>
        Geocode individual addresses with the <ExternalLink href="https://developer.mapserv.utah.gov/StartupGuide"
          >UGRC API</ExternalLink
        >.
      </li>
      <li>
        Download our <a href="/blog/2021-11-29-introducing-the-official-ugrc-api-client">API Client</a> to geocode a table
        of addresses with the UGRC API.
      </li>
      <li>
        Use our <ExternalLink href="https://github.com/agrc/masquerade?tab=readme-ov-file#masquerade"
          >Masquerade service
        </ExternalLink> to geocode within Esri products..
      </li>
    </BulletedList>
  </Section>

  <Section {...page.section[2]}>
    <Image slot="image" src={sgidIndexPhoto} alt="a person using a search engine" class="w-full max-w-[400px]" />
    <p>
      The SGID Index is <span class="font-bold">the primary source</span> of information for SGID datasets. It includes links
      to detailed product pages about UGRC-maintained datasets as well as direct links to the authoritative sources for datasets
      served by other state agencies. The index lists the resource's category, name, and primary data steward, along with
      a short description of the resource and links to web services (if available). <a href="/contact">Contact us</a> if
      you would like your data to be included in the SGID Index.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image slot="image" src={openSgidPhoto} alt="a person connected to a database" class="w-full max-w-[400px]" />
    <p>
      The Open SGID is a publicly available database containing our curated collection of GIS datasets. You can use this
      vendor-neutral database connection to directly access Utah spatial data in a wide variety of applications,
      including most GIS programs and common database clients, and programming languages. You can find the most
      up-to-date information about the Open SGID, including troubleshooting tips and an issue tracker, in the <ExternalLink
        href="https://github.com/agrc/open-sgid">Open SGID GitHub repository</ExternalLink
      >. Please read, understand, and abide by the <a href="/documentation/policy/open-sgid">terms of use</a> prior to connecting.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={arcGisOnlinePhoto}
      alt="the ArcGIS Online category template for all Utah data"
      class="w-full max-w-[400px]"
    />
    <p>
      UGRC uploads all the curated datasets to <ExternalLink href="https://utah.maps.arcgis.com"
        >ArcGIS Online</ExternalLink
      > as hosted feature services. You can access them via their service URLs or directly in Esri products. The name of
      every SGID item in ArcGIS Online will start with "Utah" (i.e., "Utah Roads") and have an UGRC-branded thumbnail. They
      are also shared with a Utah SGID group that matches their category.
    </p>
    <p>
      The UGRC ArcGIS Online organization also acts as the repository for "shelved" and "static" curated SGID datasets.
      These types of datasets are only available in ArcGIS Online as specified in our <a
        href="/documentation/policy/sgid/">SGID Database policy</a
      >. If you are looking for a specific year of data or a dataset that was replaced, start here.
    </p>
    <p>
      These services are a great tool if you want to display the data in a web map, programmatically query for
      attributes or geometry in an application or script, or include the data in an analysis.
    </p>
  </Section>
  <Section {...page.section[5]}>
    <Image
      slot="image"
      src={sgidOpenDataPhoto}
      alt="people connected to a network through geography"
      class="w-full max-w-[400px]"
    />
    <p>
      The SGID on ArcGIS is a single destination for ArcGIS Online GIS resources stewarded by multiple agencies with
      ArcGIS Online accounts. Each item in the Hub contains data download links along with web service links for
      consuming the datasets in web maps and other applications. We share all our curated datasets through the site and
      encourage other agencies and organizations to share their datasets with the SGID on ArcGIS as well to help spread
      GIS data to the widest possible audience.
    </p>
    <p>
      The SGID on ArcGIS is the best place to download data. Every non-shelved ArcGIS Online service is catalogued in
      the SGID on ArcGIS.
    </p>
  </Section>

  <Section {...page.section[6]}>
    <Image slot="image" src={discoverLogo} alt="the discover wavy gravy logo" class="w-full max-w-[400px]" />
    <p>
      Discover complements the SGID vector GIS data with raster imagery and base maps. The base maps are created by
      UGRC's cartographers, and Discover serves them using WMS image and WMTS tiled image services that anyone can use
      in a wide variety of desktop and web applications. The Discover base maps are a beautiful reference layer for your
      daily GIS work, web maps, or printed media. The imagery is a valuable resource for artificial intelligence
      projects using computer vision to extract difficult to map information or comparing change from year to year.
    </p>
  </Section>

  <Section {...page.section[7]}>
    <p>
      The Raster discovery app allows users to search and download all of UGRC's raster datasets, including
      publicly-available <a href="/products/sgid/aerial-photography">imagery</a>,
      <a href="/products/sgid/elevation">elevation</a>, <a href="/products/sgid/elevation/lidar">lidar</a>, and <a
        href="/products/sgid/topo">scanned maps</a
      >. You can see the Discover base maps in the app as well as search for and download the tiles that cover your area
      of interest. If you need local copies of imagery, the Raster discovery app is the place to start.
    </p>
  </Section>

  <Section {...page.section[8]}>
    <Image slot="image" src={apiLogo} alt="the api wavy gravy logo" class="w-full max-w-[400px]" />
    <p>
      UGRC’s API is an http-enabled service for accessing this valuable geospatial data. From geocoding addresses
      against the most accurate statewide roads and address points dataset to querying any data layer in the Open SGID,
      the solutions created by the API are endless. The API powers UGRC’s <ExternalLink
        href="https://www.npmjs.com/search?q=%40ugrc">components</ExternalLink
      >, <a href="/products/sgid/address/masquerade">Esri locator proxy service</a>, and our <a
        href="/products/sgid/address/api-client">API Client</a
      > which can help you navigate the sea of data within the SGID.
    </p>
  </Section>
  <Section {...page.section[9]}>
    <Image
      slot="image"
      src={sharePhoto}
      alt="Two people putting a lightbulb together as if it were a puzzle"
      class="w-full max-w-[400px]"
    />
    <p>
      The Utah State Geographic Information Datasource is one of the premier statewide GIS data resources in the
      country, providing clean, consistent, and authoritative data across every geography in the state. People have been
      turning to the SGID for nearly <a href="/blog/2019-06-11-sgid-then-and-now">30 years</a> to support their personal,
      commercial, academic, and government projects.
    </p>
    <p>
      Nearly all the data that make the SGID such a valuable resource come from cities, counties, and other state
      agencies. We offer a heartfelt <strong>Thank You!</strong> on behalf of both UGRC and all the users of the SGID to
      everyone who has contributed data.
    </p>
    <p>
      We hope you'll follow the example of our current contributors and consider sharing your data with a broad audience
      through the SGID. We have three separate "tracks" to follow based on where your data fits best: the <strong
        >SGID Index</strong
      >, the <strong>SGID on ArcGIS</strong>, and the <strong>Open SGID</strong>. There's also a separate process for
      contributing to or updating an existing SGID dataset.
    </p>
  </Section>
</Layout>
