---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import BulletedList from '@components/page/BulletedList.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import getConnected from '@images/discover/get-connected.svg';
import conference from '@images/solutions/conference.svg';
import gps from '@images/solutions/gps.svg';
import learning from '@images/solutions/learning.svg';
import rocket from '@images/solutions/rocket.svg';
import turnLogo from '@images/turn/turn-logo.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'TURN GPS',
  pageDescription:
    'The Utah Reference Network (TURN) GPS is a high-precision GPS network that provides real-time, high-accuracy GPS positioning.',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    {},
    { title: 'CORS networks' },
    { title: 'Getting connected', actionText: 'Connect now', actionUrl: '/documentation/turn/connecting' },
    { title: 'Troubleshooting TURN GPS' },
    { title: 'Resources' },
    { title: 'Organizations' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={turnLogo}
      loading="eager"
      alt="turn logo"
      class="w-full max-w-[400px] rounded-2xl px-3 py-2 dark:bg-white/20"
    />
    <p>
      The Utah Reference Network (TURN) GPS is a high-precision global navigation satellite system (GNSS) Continuously
      Operating Reference Station (CORS) network that provides real-time, high-accuracy GPS positioning. This central
      system analyzes the input and adjusts and corrects the data to provide the most accurate locations, usually down
      to centimeter level.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={gps}
      loading="eager"
      alt="Satellites around the planet"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p><em>What is a CORS network and how exactly does it work?</em></p>
    <p>
      A Continuously Operating Reference System (CORS) providing real-time corrections and post-processing data for
      Global Navigation Satellite Systems (GNSS), like GPS or Galileo. Our network consists of permanently located GPS
      receivers installed across Utah and portions of Idaho, Wyoming, and southern Nevada that generate real-time,
      high-accuracy GPS positioning. These receivers send their data via the Networked Transport of RTCM via Internet
      Protocol (NTRIP) to a central system that analyzes the input to adjust and correct the data to provide the most
      accurate locations, usually down to centimeter level. Our network uses the Trimble Pivot VRS Platform.
    </p>
    <p>Our TURN GPS network supports a variety of devices from survey units, to drones and self-driving cars.</p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={rocket} alt="a rocket launching" class="w-full max-w-[400px]" />
    <p>
      Once you're ready to get connected to the TURN or Nevada GPS networks, the first step will be to create your new
      account. We have provided a step-by-step guide to getting started with our network, as well as essential resources
      for getting the most out of TURN GPS.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={getConnected}
      loading="eager"
      alt="Get connected"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      If your having trouble connecting to the TURN GPS network on your device, first check to make sure that you have
      entered the correct username and password. It is important to note that subscriptions can only be used on one
      device at a time. If someone else is logged into your account, you will not be able to use it until they have
      logged out.
    </p>
    <p>
      If you're still having difficulties, you'll want to double-check to confirm that you're using the correct IP
      address and port number. For the TURN GPS network, you'll want to be using: <strong>165.239.144.5</strong> with port
      <strong>2101</strong>. For the Nevada GPS network, you'll want to be using: <strong>168.179.231.11</strong> with port
      <strong>2102</strong>.
    </p>
    <p>
      Cellular data is needed in order to connect to the network. For more information about coverage, view the <ExternalLink
        href="https://business.utah.gov/broadband/">cell coverage in Utah</ExternalLink
      > and the <ExternalLink href="https://connectednation.org/">cell coverage in Nevada</ExternalLink>.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image slot="image" src={learning} alt="Person learning" class="w-full max-w-[400px] rounded-2xl" />
    <p>The following are websites that we recommend for surveyors and other professionals using our network:</p>
    <BulletedList>
      <li>
        <strong><ExternalLink href="https://geodesy.noaa.gov/">National Geodetic Survey:</ExternalLink></strong> NOAA's National
        Geodetic Survey (NGS) provides the framework for all positioning activities in the Nation. The foundational elements
        of latitude, longitude, elevation, and shoreline information impact a wide range of important activities.
      </li>
      <li>
        <ExternalLink href="https://geodesy.noaa.gov/ADVISORS/state-geodetic-coordinators.shtml"
          >State Geodetic Coordinators:</ExternalLink
        >
        The State Geodetic Coordinator is a designee of a state government agency or university and is not an NGS employee.
        The Coordinator serves as a liaison between the state and NGS. State Coordinators should have technical expertise
        in geodesy to make informed decisions and provide guidance for geospatial activities that benefit from connecting
        to the NSRS. The State Geodetic Coordinator is a primary point of contact for the Regional Geodetic Advisor in their
        state.
      </li>
      <li>
        <ExternalLink href="https://www.ngs.noaa.gov/NCAT/"
          >NGS Coordinate Conversion<wbr /> and Transformation Tool<wbr /></ExternalLink
        > (NCAT): This tool allows users to easily convert between different coordinate systems and/or transform between
        different reference frames and/or datums, in a single step.
      </li>
      <li>
        <ExternalLink href="https://geodesy.noaa.gov/OPUS-Projects/OpusProjects.shtml">OPUS Projects 5.2:</ExternalLink>
        OPUS Projects provides simple management and processing tools for your survey projects involving multiple sites and
        multiple occupations.
      </li>
    </BulletedList>
  </Section>
  <Section {...page.section[5]}>
    <Image slot="image" src={conference} alt="A person sitting on a globe" class="w-full max-w-[400px] rounded-2xl" />
    <BulletedList>
      <li>
        <ExternalLink href="https://www.ucls.org/">Utah Council of Land Surveyors:</ExternalLink> The Utah Council of Land
        Surveyors strives to establish common interests of all individuals engaged in the surveying profession, define a
        standard of care intent on protecting the public welfare while encouraging professional ethics and sound surveying
        practices, promote public awareness of professional land surveyors and their work, and mentor the next generation
        of surveyors.
      </li>
      <li>
        <ExternalLink href="https://www.uacnet.org/countysurveyors">Utah Association of Counties:</ExternalLink> The Utah
        Association of Counties (UAC) is a voluntary, statewide organization whose members are the 29 counties of Utah. The
        counties, through their elected officials, direct UAC activities in providing services to county officials.
      </li>
    </BulletedList>
  </Section>
</Layout>
