---
import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';
import { Pillar, type IStandardPageMetadata } from '@models/types';
import { stripeSections } from '@utils/page';

const audioEpisodes = [
  {
    title:
      'Episode 15 - Reflecting on 30 years in Geospatial- A conversation with Matt Peters - former UGRC Director, traveler, geographer, and avid cyclist',
    src: '/audio/Episode 15 - Reflecting on 30 years in Geospatial- A conversation with Matt Peters - former UGRC Director, traveler, geographer, and avid cyclist.mp3',
    description: `In this episode, Denise Peterson and I sit down with Matt Peters, the former UGRC Director. Matt tells us how he went from office intern to director over his 30-year career. He tells us the key to a successful career comes down to relationships and communication. He also shares some of his favorite traveling experiences from around the globe and fills us in on his retirement plan to bike across America. Don’t miss this episode!`,
    date: '2024-08-12',
  },
  {
    title:
      "Episode 14 - Wildlife Tracking and Monitoring in Utah- A Conversation with Blair Stringham of Utah's Wildlife Migration Initiative",
    src: "/audio/Episode 14 - Wildlife Tracking and Monitoring in Utah- A Conversation with Blair Stringham of Utah's Wildlife Migration Initiative.mp3",
    description: `In this episode, we talk with Blair Stringham from Utah's Wildlife Migration Initiative. He talks about wildlife tracking using GPS and RFID technology on over 28 species in the state, including fish, birds, deer, elk, and even mountain lions. If you have ever wondered how this works, this episode is for you.

Matt and I welcome Denise Peterson to the podcast in this episode. She is one of the newest URGC members and will be co-hosting the show with me once Matt bikes off into the sunset in mid-August—more to come on Matt’s retirement in the next episode.`,
    date: '2024-05-25',
  },
  {
    title:
      'Episode 13 - Air Quality in Utah- A Conversation with Lexie Wilson of the Utah Department of Environmental Quality',
    src: '/audio/Episode 13 - Air Quality in Utah- A Conversation with Lexie Wilson of the Utah Department of Environmental Quality.mp3',
    description: `In this episode, we talk with Lexie Wilson, an environmental scientist at the Utah Department of Environmental Quality.  Lexie helps us break down Utah's air quality science and chemistry.  You don't want to miss this one!`,
    date: '2023-10-20',
  },
  {
    title:
      "Episode 12 - Water in Utah- Part 3 - Deidre Beck from DEQ's Division of Drinking Water on the importance of securing safe drinking water in Utah",
    src: "/audio/Episode 12 - Water in Utah- Part 3 - Deidre Beck from DEQ's Division of Drinking Water on the importance of securing safe drinking water in Utah.mp3",
    description: `In this episode, we talk with Deidre Beck from the Utah Department of Environmental Quality.  Deidre works in the Division of Drinking Water as an Environmental Scientist.

This episode was recorded on January 25th, 2023, and concludes our three-part series on water here in Utah.  You can listen to all of our episodes, including the water series, wherever you find your podcast.

Deidre explains how her division has primacy over the Utah Safe Drinking Water Act.

Her division is also tasked with conducting regular sanitary surveys for every public water system in Utah - ensuring these systems meet water quality standards

She explains how Utah obtains much of its drinking water via surface water - and how important the Provo River is to drinking water along the Wasatch Front.

Deidre also explains the concept of ridgeline authority, which gives some of the larger cities (such as Salt Lake City) the right to establish ordinances in areas outside of their jurisdiction. This ridgeline authority allows them to protect public drinking water in these zones.

We also talk a bit about the Bipartisan Infrastructure Law and how the Division of Drinking Water created a map to show disadvantaged areas, so the water suppliers in these areas can apply for hardship funding to improve the water systems there.

So, take a moment to sit back, and enjoy the show.`,
    date: '2023-04-21',
  },
  {
    title:
      "Episode 11 - Water in Utah- Part 2 - Lee Eschler from DNR's Division of Water Rights on water allocation and monitoring in Utah",
    src: "/audio/Episode 11 - Water in Utah- Part 2 - Lee Eschler from DNR's Division of Water Rights on water allocation and monitoring in Utah.mp3",
    description: `This episode is part two of a three-part series on water here in Utah.

In Part one we focus on water resources. In Part two we discuss water rights,
and in part three we focus on drinking water.

You can find all of our episodes in our podcast feed or wherever you find your podcasts.

Today's show is part two in the water series and we’re talking with Lee Eschler from DNR’s Division of Water Rights.

Lee tells us how the PLSS section corners are a critical piece to water rights in Utah including the locating, purchasing, and the selling of these rights.

He also explains the current water rights situation for water in and around the Great Salt Lake and how there are no new water rights being granted on water that flows into the Lake

Then we discuss a bit on adjudication and how it gives the state a better understanding of what is and what is not being used and how this is an ongoing process

So sit back and take a moment to enjoy the show. `,
    date: '2023-02-24',
  },
  {
    title:
      "Episode 10 - Water in Utah- Part 1 - Aaron Austin from DNR's Division of Water Resources on Utah's water supply",
    src: "/audio/Episode 10 - Water in Utah- Part 1 - Aaron Austin from DNR's Division of Water Resources on Utah's water supply.mp3",
    description: `In this episode of the podcast, we talk with Aaron Austin, the GIS Manager at the Utah Department of Natural Resources’ Division of Water Resources. He tells us how his division went from clipboards out in the field to now the use of satellite data. We also hear how collaboration among agencies played into the creation of the water supplier boundary layer. Additionally, Aaron fills us in on the Division of Water Resources’ involvement in secondary water metering and also on the water budget for the Great Salt Lake.

This is the first episode in three-part series on water here in Utah.`,
    date: '2022-11-22',
  },
  {
    title: 'Episode 9 - Lynda Bell from NOAA-NGS on datums, the National Spatial Reference Frame, and the PLSS',
    src: '/audio/Episode 9 - Lynda Bell from NOAA-NGS on datums, the National Spatial Reference Frame, and the PLSS.mp3',
    description: `In this episode, we talk to Lynda Bell, who is the Southwest Regional Geodetic Advisor for NOAA’s National Geodetic Survey. She is the geodetic advisor for Arizona, New Mexico, and Utah.

In the episode, she explains why the National Spatial Reference Frame (NSRS) is so important and how it is a framework that ties all of our geospatial data together. She also reminds us of what a datum is and what we need to know about the new datums that are coming in 2023. She also explains the GPS on BenchMark program and how you can contribute. We then ask her about her recent visit to Utah and the importance of the PLSS monument preservation at Temple Square and also the USGS/UGRC Great Salt Lake Causeway project - a project measuring water levels and height.`,
    date: '2022-10-25',
  },
  {
    title: 'Episode 8 - Bert Granberg from WFRC and the role of the MPO',
    src: '/audio/Episode 8 - Bert Granberg from WFRC and the role of the MPO.mp3',
    description: `In this episode, we talk to Bert Granberg, the analytics director at the Wasatch Front Regional Council - commonly known as WFRC.

WFRC is a metropolitan planning organization (MPO) here in Utah and they play a significant role in transportation planning along the Wasatch Front.

Bert fills us in on how analytics are used in transportation planning, and how transit and biking play into growth along the Wasatch Front.

Jake Adams from UGRC also joins us on this episode to talk about the housing inventory map that WFRC created.

Don't forget to check out WFRC's map gallery and their map of the month series`,
    date: '2022-08-15',
  },
  {
    title:
      'Episode 7 - Next-Generation 911 and the Role of Geospatial Data (a conversation with Tina Mathieu from the Weber Area Dispatch 911)',
    src: '/audio/Episode 7 - Next-Generation 911 and the Role of Geospatial Data (a conversation with Tina Mathieu from the Weber Area Dispatch 911).mp3',
    description: `In this episode, we talk with Tina Mathieu, the Executive Director of the
Weber Area Dispatch 911 & Emergency Services District.

Tina explains why GIS data is so critical in Next-Generation 911 systems and how local and state agencies work together to make this happen.

Tina also walks us through a typical 911 call, from a call being placed to the routing of the call, and then to the actual dispatch and emergency response.`,
    date: '2022-04-11',
  },
  {
    title: 'Episode 6 - The Utah Department of Health (covid-19 and outbreaks)',
    src: '/audio/Episode 6 - The Utah Department of Health (covid-19 and outbreaks).mp3',
    description: `In this episode, we talk with Nancy Arbon, the Customer Relations Manager at the Utah Public Health Laboratory, and George McEwan, the Director of Information Technology at the Utah Department of Health.

Listen as we discuss how GIS was used at the state government level during the covid-19 pandemic.

Learn how technology and human relationships play a key role during a health crisis or outbreak and how these relationships in Utah have strengthened during the covid-19 pandemic.

We hear about data standardization and how it's important when aggregating data.

We also hear how privacy and security are items we need to be keenly aware of as we visualize more data on the map.

And then, how the GIS component is critical when deploying social services and resources.`,
    date: '2021-11-22',
  },
  {
    title: "Episode 5 - We're all in this together (a smorgasbord of news and happenings from around the state)",
    src: "/audio/Episode 5 - We're all in this together (a smorgasbord of news and happenings from around the state).mp3",
    description: `UGRC has a new logo!
Statewide 6-inch imagery update
Utah Geographic Information Systems Advisory Council (GISAC)
Utah Public Notice website (search for GISAC in the search tool)
SGID Data Tiers (categorizing SGID data)
National Address Database (NAD)
NSGIC’s Geospatial Maturity Assessment (GMA)
Redistricting and Census data
Kem C Gardner Policy Institute 2020 Census
UGRC 2020 Census data page
US Census upcoming data release
US Census 2020 redistricting data news release
Next Generation 911 update
Utah Communications Authority (UCA) 911 Division
UGRC NG911 Database
UGRC - automating NG911 boundaries
UGRC - NG911 Road map
Elections
Utah Independent Redistricting Commission
Civix election management solutions
UGRC voting precinct data
UGRC address point data
Streamlined Sales tax`,
    date: '2021-08-09',
  },
  {
    title: 'Episode 4 - Kate Staley from SITLA talks SITLA',
    src: '/audio/Episode 4 - Kate Staley at SITLA.mp3',
    description: `In this episode, we hear from Kate Staley at SITLA - State of Utah School and Institutional Trust Lands Administration.

SITLA was established by Utah Legislature in 1994 to administer the state trust lands.  One of the very popular datasets that they manage is the Land Ownership GIS layer.

Listen in, as Kate takes us behind the scenes with managing state trust lands data.`,
    date: '2021-05-28',
  },
  {
    title: 'Episode 3 - The Survey Corner with Sean Fernandez',
    src: '/audio/Episode 3 - The Survey Corner with Sean Fernandez.mp3',
    description: `On this episode we here from Sean Fernandez on the importance of surveying and the role of the state surveyor in Utah.  This will become a regular segment called the Survey Corner.

Article on PLSS and Surveying: The Western Grid, Explained
Location matters

Check out UGRC’s good idea platform, called Darwin. Feel free to submit an idea to UGRC.
Read more about UGRC initiative to build a statewide pseudo addressing grid where users can click on the map and get a suggested address for that area.`,
    date: '2021-04-30',
  },
  {
    title: 'Episode 2 - Buck Ehler at the Utah Department of Natural Resources',
    src: '/audio/Episode 2 -  Buck Ehler at the Utah Department of Natural Resources.mp3',
    description: `Today we hear from Buck Ehler at the Utah Department of Natural Resources, Division of Wildlife Resources.`,
    date: '2021-04-30',
  },
  {
    title: 'Episode 1 - News from the state GIS office',
    src: '/audio/Episode 1 - News from the state GIS office.mp3',
    description: `Welcome to episode one of the Utah Geospatial Podcast hosted by Matt Peters and Greg Bunce.

In this episode we discuss:

The state GIS office
The role of the office and some SGID history
Name change from AGRC to UGRC
Statewide NG911 data
Utah election information
Get the latest Utah imagery
Get the latest Utah LiDAR data
Contributing data to the SGID
Notable legislation from the 2021 session
Utah Housing Affordability Amendments
Utah Geographic Information Systems Advisory Council (GISAC)
UGIC 2021 Bryce Canyon
Census 2020 geographies now in the SGID`,
    date: '2021-03-19',
  },
];

const page: IStandardPageMetadata = {
  pageTitle: 'UGRC Geospatial Podcast',
  pageDescription: 'The UGRC podcast.',
  pillar: Pillar.COLLABORATION,
  section: stripeSections([
    {
      title: `The UGRC Geospatial Podcast`,
    },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <Section {...page.section[0]}>
    <ul class="space-y-4">
      {
        audioEpisodes.map((ep) => (
          <li class="grid grid-cols-1 items-start gap-4 border-b border-gray-300 pb-4 md:grid-cols-2 dark:border-black">
            <div>
              <div>{ep.title}</div>
              <audio controls controlslist="nodownload" preload="metadata" class="mt-8">
                <source src={ep.src} type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
              <div class="mt-4 flex items-center gap-1">
                <span>Recorded on </span>
                <span class="text-lg font-medium">{ep.date}</span>
              </div>
            </div>
            <div>
              <div class="text-sm text-gray-500 dark:text-gray-300">{ep.description}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
