---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import Disclaimer from '@components/data/Disclaimer.astro';
import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Coal Deposits',
  description: `Areas of coal deposits in Utah as defined in 1988.`,
  stewards: ['UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.ENERGY,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`1988`],
  hub: {
    ...dataPages['Utah Coal Deposit Areas 1988'],
  },
};
---

<Layout
  pageTitle={page.title}
  subTitle={page.updateHistory[0]}
  pageDescription={page.description}
  category={page.category}
  actionUrl={page.application}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>This dataset represents areas of coal deposits in Utah as defined in 1988.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Disclaimer slot="disclaimer" style="secondary">
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
  </Disclaimer>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Utah Coal Leases" href="https://opendata.gis.utah.gov/datasets/utah-coal-leases"
        >Utah Coal Leases from UGRC's SGID on ArcGIS</CardWithPopularLink
      >

      <CardWithPopularLink
        title="Utah Coal Mines (UGS)"
        href="https://opendata.gis.utah.gov/datasets/utah-coal-mines-ugs"
        >Utah Coal Mines (UGS) from UGRC's SGID on ArcGIS</CardWithPopularLink
      >

      <CardWithPopularLink
        title="Utah Coal 4 Foot Seams"
        href="https://opendata.gis.utah.gov/datasets/utah-coal-4-foot-seams"
        >Utah Coal 4 Foot Seams from UGRC's SGID on ArcGIS</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Energy" href="/products/sgid/energy" style="secondary">Energy page</CardWithSmallLink>
      <CardWithSmallLink title="Utilities" href="/products/sgid/utilities" style="secondary"
        >Utilities page</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
