---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Health Care Districts',
  description: `Health district boundaries corresponding to local health departments`,
  stewards: ['UGRC', 'DHHS', 'DEM'],
  type: ProductType.POLYGON,
  category: SgidCategory.HEALTH, 
  secondaryCategory: SgidCategory.PLANNING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [
    `January 2016`,
  ],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Health district boundaries corresponding to local health departments
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Local health departments are the main entities for reporting and tracking communicable diseases, health education, health screenings and immunizations, and food regulation for establishments. Their boundaries are comprised of one or more counties.
    </p>
    <p>
      The <code>DISTNAME</code> field contains the district name.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Department Contact Info" href="https://vitalrecords.utah.gov/utah-health-districts">Listings for all the local health departments along with their contact info.</CardWithPopularLink>
      <CardWithPopularLink title="Small Health Statistical Areas" href="/products/sgid/health/small-health-statistical-areas">Areas used by DHHS for reporting.</CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title = "DHHS Homepage" href="https://dhhs.utah.gov">The Utah Department of Health and Human Services</CardWithSmallLink>
      <CardWithSmallLink title="CDC" href="https://www.cdc.gov/">Nationwide health information at The Centers for Disease Control and Prevention</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
