---
import BulletedList from '@components/page/BulletedList.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Petroleum Storage Tank Facilities',
  description:
    'Utah facility information for each petroleum storage tank (PST). This is the facility where the storage tanks are located.',
  stewards: ['DEQ DERR'],
  type: ProductType.POINT,
  category: SgidCategory.ENVIRONMENT,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://enviro.deq.utah.gov',
  updateHistory: ['Nightly'],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout
  pageTitle={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  pageDescription={page.description}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Utah facility information for each petroleum storage tank (PST). This is the facility where the storage tanks are
      located.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>Additional tank information can be found in these related tables:</p>
    <BulletedList>
      <li>
        <ExternalLink href="https://opendata.gis.utah.gov/datasets/utah::utah-petroleum-storage-tanks-compliance/about"
          >Tanks Compliance</ExternalLink
        >
      </li>
      <li>
        <ExternalLink href="https://opendata.gis.utah.gov/datasets/utah::utah-petroleum-storage-tanks/about"
          >Tanks</ExternalLink
        >
      </li>
      <li>
        <ExternalLink href="https://opendata.gis.utah.gov/datasets/utah::utah-deqmap-lust/about">LUST</ExternalLink>
      </li>
    </BulletedList>
    <p>
      This data layer contains coordinates of Facility PST sites. There can be multiple tanks for each facility. Each
      storage tank is associated with a facility via the FacilityID (the number that uniquely identifies a facility).
      The coordinate data have been created and utilized by the Utah Division of Environmental Response and Remediation
      (DERR) for the plotting of Facility PST sites on maps depicting the state and several counties. The data used to
      produce these maps have been reviewed by DERR staff and found to be adequate for DERR's purposes which require the
      depiction of general site locations. The accuracy of these locations may not be sufficient for other purposes.
      Persons relaying upon these maps do so at their own risk. The DERR assumes no responsibility or liability oft he
      accuracy of these points.
    </p>
    <Contacts contactKey="ust" />
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="DEQ VCP"
        href="https://deq.utah.gov/environmental-response-and-remediation/cercla-comprehensive-environmental-response-compensation-and-liability-act/voluntary-cleanup-program"
        >Utah Voluntary Cleanup Program</CardWithPopularLink
      >
      <CardWithPopularLink title="DERR" href="https://deq.utah.gov/division-environmental-response-remediation/"
        >Division of Environmental Response and Remediation</CardWithPopularLink
      >
      <CardWithPopularLink title="DEQ" href="https://deq.utah.gov"
        >Utah Department of Environmental Quality</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov" style="secondary"
        >Web application showing off SGID services & data</CardWithSmallLink
      >
      <CardWithSmallLink title="Environment" href="/products/sgid/environment" style="secondary"
        >SGID Environment category</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
