---
import type { SgidCategory } from '@models/types';

import ChevronRight from '@components/page/ChevronRight.astro';

import BreadCrumbChrome from '@components/supporting/BreadCrumbChrome.astro';

interface Props {
  product?: string;
  category: SgidCategory | string;
  class?: string;
  gradients?: string;
}

const { product, category, class: className, gradients = 'from-white dark:from-primary-950' } = Astro.props;
---

<BreadCrumbChrome class={className} gradients={gradients}>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="relative flex shrink-0 items-center"
  >
    <a
      itemprop="item"
      class="custom-style relative block select-none rounded-full px-3 py-2 text-sm font-medium leading-none text-zinc-600 no-underline outline-none hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100 dark:focus:shadow-zinc-200"
      href="/"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
        ></path>
      </svg>
      <span itemprop="name" class="sr-only">Home</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="relative flex shrink-0 items-center"
  >
    <ChevronRight />
    <a
      itemscope
      itemtype="https://schema.org/WebPage"
      itemprop="item"
      itemid="/products/sgid"
      class="custom-style relative block select-none rounded-full px-3 py-2 text-sm font-normal leading-none text-zinc-600 no-underline outline-none hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100 dark:focus:shadow-zinc-200"
      href="/products/sgid"><span itemprop="name">SGID</span></a
    >
    <meta itemprop="position" content="2" />
  </li>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="relative flex shrink-0 items-center"
  >
    <ChevronRight />
    <a
      itemscope
      itemtype="https://schema.org/WebPage"
      itemprop="item"
      itemid="/products/sgid/categories"
      class="custom-style relative block select-none rounded-full px-3 py-2 text-sm font-normal leading-none text-zinc-600 no-underline outline-none hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100 dark:focus:shadow-zinc-200"
      href="/products/sgid/categories"><span itemprop="name">SGID Categories</span></a
    >
    <meta itemprop="position" content="3" />
  </li>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="relative flex shrink-0 items-center"
  >
    <ChevronRight />
    {
      product ? (
        <a
          itemscope
          itemtype="https://schema.org/WebPage"
          itemprop="item"
          itemid={`/products/sgid/${category.toLowerCase()}`}
          class="custom-style relative block select-none rounded-full px-3 py-2 text-sm font-normal leading-none text-zinc-600 no-underline outline-none hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100 dark:focus:shadow-zinc-200"
          href={`/products/sgid/${category.toLowerCase()}`}
        >
          <span itemprop="name">{category.replaceAll('-', ' ')}</span>
        </a>
      ) : (
        <span class="custom-style px-3 font-medium dark:text-white dark:focus:shadow-zinc-200" aria-current="page">
          <span itemprop="name">{category.replaceAll('-', ' ')}</span>
        </span>
      )
    }
    <meta itemprop="position" content="4" />
  </li>
  {
    product && (
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
        class="relative flex shrink-0 items-center"
      >
        <ChevronRight />
        <span
          itemprop="name"
          class="custom-style px-3 font-medium dark:text-white dark:focus:shadow-zinc-200"
          aria-current="page"
        >
          {product}
        </span>
        <meta itemprop="position" content="5" />
      </li>
    )
  }
</BreadCrumbChrome>
