---
import ButtonLink from '@components/page/ButtonLink.astro';

interface Props {
  name: string;
  itemId: string;
  oddHubName?: string;
  externalHubOrganization?: string;
  layerId?: number;
}
const { name, oddHubName, itemId, externalHubOrganization, openSgid, layerId = 0 } = Astro.props;

let id = oddHubName?.toLowerCase() || name.toLowerCase().replaceAll(' ', '-');

if (externalHubOrganization) {
  id = `${externalHubOrganization.toUpperCase()}::${id}`;
}
---

<div class="grid grid-cols-1 gap-10 xl:grid-cols-2">
  <div>
    <h4>Evergreen Services</h4>
    <div>
      <ul>
        <li>
          <a href={`https://opendata.arcgis.com/datasets/${id}_${layerId}.gdb`}>Esri Feature Service</a>
        </li>
        <li>
          {openSgid} in the <a href="/products/sgid/open-sgid">Open SGID</a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4>Download and Explore on SGID on ArcGIS</h4>
    <div>
      <span class="block">This data is available in the <a href="/products/sgid/open-sgid">SGID on ArcGIS</a></span>
      <ul>
        <li>
          <a href={`https://opendata.gis.utah.gov/datasets/${id}`}>SGID on ArcGIS Downloads and APIs</a>
        </li>
      </ul>
    </div>
  </div>
</div>
