---
import Pagination from '@components/Pagination.astro';
import CardForBlog from '@components/page/CardForBlog.astro';
import Layout from '@layouts/BlogPostIndex.astro';

import { getBlogFilters, getBlogPosts, type BlogFilter, type DecoratedBlogEntry } from '@utils/collections';

import type { Page } from 'astro';

export async function getStaticPaths({ paginate }) {
  const posts = await getBlogPosts();

  return paginate(posts, { pageSize: 9 });
}

const categories = await getBlogFilters('categories');
const { page } = Astro.props as { page: Page<DecoratedBlogEntry> };
---

<Layout title="Post categories" category="All">
  <Pagination page={page} class="my-5" baseHref="blog" slot="pagination" />
  <Fragment slot="categories">
    {
      categories.map((category: BlogFilter) => (
        <a href={`/blog/categories/${category.slug}`} class="mr-2">
          {category.name}
        </a>
      ))
    }
  </Fragment>
  {
    page.data.map((post) => (
      <CardForBlog
        category={post.data.category}
        coverImage={post.data.cover_image}
        coverImageAlt={post.data.cover_image_alt}
        date={post.data.date}
        snippet={post.data.snippet}
        estimatedReadingTime={post.data.estimatedReadTime}
        slug={post.slug}
        tags={post.data.tags}
        title={post.data.title}
      />
    ))
  }
</Layout>
