---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Raster Coverage Extents',
  description: `The polygon coverage extents of the various raster datasets available from the Raster Discover Application.`,
  stewards: ['UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.INDICES,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`As needed`],
};
---

<Layout
  pageTitle={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{
    skipInDepth: true,
  }}
  pageDescription={page.description}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The Raster Extents are polygon areas representing the coverage and attributes of the various raster datasets
      available from the Raster Discover Application.
    </p>
    <p>
      Each polygon contains multiple attributes about the various raster datasets including product descriptions. Of
      note are the attributes <code>Project_Status</code> and <code>USGS_QualityLevel</code> in the Lidar Extents.
    </p>
  </Fragment>

  <Section title="Get the Lidar extents" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah LiDAR Extents']} />
  </Section>
  <Section title="Get the Aerial photography extents" slot="downloads" titlePosition="center" stripe>
    <HubDownloads {...dataPages['Utah Aerial Photography Extents']} />
  </Section>
  <Section title="Get the USGS DEM extents" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah USGS DEM Extents']} />
  </Section>
  <Section title="Get the auto-correlated DEM extents" slot="downloads" titlePosition="center" stripe>
    <HubDownloads {...dataPages['Utah Auto Correlated DEM Extents']} />
  </Section>
  <Section title="Get the Contour extents" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah Contour Line Extents']} />
  </Section>
  <Section title="Get the USGS Topographic Map (DRG) extents" slot="downloads" titlePosition="center" stripe>
    <HubDownloads {...dataPages['Utah DRG Extents']} />
  </Section>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UGRC Raster Data Discovery" href="https://raster.utah.gov/"
        >Download various raster datasets such as aerial photography, digital elevation models, and USGS topographic
        maps.</CardWithPopularLink
      >
      <CardWithPopularLink
        title="Utah Geological Survey (UGS) Scanned Aerial Imagery"
        href="https://geodata.geology.utah.gov/imagery/">1935-Present scanned aerial imagery.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Lidar" href="/products/sgid/elevation/lidar" style="secondary"
        >Lidar page</CardWithSmallLink
      >
      <CardWithSmallLink title="Boundaries" href="/products/sgid/boundaries" style="secondary"
        >Boundaries page</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
