---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Wilderness BLM 98 Reinventory',
  description: 'The 1998 Bureau of Land Management (BLM) Wilderness Characteristics Inventory.',
  stewards: ['UGRC', 'BLM', 'USFS'],
  type: ProductType.POLYGON,
  category: SgidCategory.BOUNDARIES,
  secondaryCategory: SgidCategory.PLANNING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: ['2001'],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout
  pageTitle={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  pageDescription={page.description}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The Wilderness BLM98 Reinventory dataset represents the 1998 Bureau of Land Management (BLM) Wilderness
      Characteristics Inventory. It represents the BLM's inventory of areas that have Wilderness Characteristics.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      The data set is at 1:24,000. The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter
      coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are
      encouraged to attribute content to: State of Utah, SGID. The dataset is maintained by the United States Forest
      Service.
    </p>
    <Contacts contactKey="ugrc" />
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="Conducting Wilderness Characteristics Inventory"
        href="https://www.blm.gov/sites/blm.gov/files/docs/2021-01/BLM-Policy-Manual-6310.pdf"
        >This revised policy contains the Bureau of Land Management’s (BLM) updated guidance and general procedures for
        conducting wilderness characteristics.</CardWithPopularLink
      >
      <CardWithPopularLink
        title="BLM State Wilderness Study Documents"
        href="https://www.blm.gov/learn/blm-library/agency-publications/select-state-publications/state-wilderness-documents"
        >BLM reporting documents summaries.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov" style="secondary"
        >Web Application</CardWithSmallLink
      >
      <CardWithSmallLink title="Boundaries" href="/products/sgid/boundaries" style="secondary"
        >SGID Category</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
