---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import DirectDownloads from '@components/data/DirectDownloads.astro';
import Disclaimer from '@components/data/Disclaimer.astro';
import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah County Boundaries',
  description: `This authoritative dataset represents the 29 Utah county boundaries mapped to their legal description y.`,
  stewards: ['UGRC', `Lieutenant Governor's Office`],
  type: ProductType.POLYGON,
  category: SgidCategory.BOUNDARIES,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`Data is current through Nov. 15, 2021.`],

  hub: {
    ...dataPages[metadata.title],
  },

---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      County Boundaries is a multi-purpose statewide dataset of county boundaries for cartography and approximate boundary identification.
    </p>
  </Fragment>

  <!-- the title for hub data is typically `Use the data` but it can be anything
  When using direct downloads for apps or services, use `Get the app`, or `Use the service` -->
  <Section title="Use the data" slot="downloads" titlePosition="center">
    <!-- a hub download uses the hub component. Only keep one element and delete the unused. -->
    <HubDownloads {...page.hub} />
    <!-- links use the direct downloads component. Only keep one element and delete the unused. -->
    <DirectDownloads title="A title describing the links. e.g. Install links" links={page.links!} />
  </Section>

  <Fragment slot="description">
    <p>A description of the product. This is the extra information that didn't fit into the summary.</p>
    <p>
      Schema definitions, and deeper dive things that only a few will read. You use standard html in the summary slot.
    </p>
    <p>
      Use the <ExternalLink href="https://gis.utah.gov">ExternalLink</ExternalLink> component for external links. Use <a
        href="/products/sgid/address">relative links</a
      > for internal links.
    </p>
    <p>
      Styling is done with <ExternalLink href="https://tailwindcss.com/docs/utility-first">tailwindcss</ExternalLink>.
      But I can help take care of any extra formatting you are missing.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Disclaimer slot="disclaimer">
    <p>
      If there is a specific disclaimer different from our standard disclaimer, it goes here. Otherwise delete this
      element
    </p>
  </Disclaimer>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Item 1" href="https://gis.utah.gov">Item 1 description.</CardWithPopularLink>
      <CardWithPopularLink title="Item 2" href="/products/sgid/address/">Item 2 description.</CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://data.udot.utah.gov">Description</CardWithSmallLink>
      <CardWithSmallLink title="Transportation" href="/products/sgid/transportation">Description</CardWithSmallLink>
      <CardWithSmallLink title="Addresses" href="/products/sgid/address">Description</CardWithSmallLink>
      <CardWithSmallLink title="Discover" href="/products/discover">Description</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
