---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import ExternalLink from '@components/page/ExternalLink.astro';
import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Historic Lake Bonneville',
  description: `Historic Lake Bonneville represents the geographic extent of the historic Lake Bonneville shoreline.`,
  stewards: ['UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.WATER,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`2007`],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout
  title={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{ skipInDepth: true }}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      This data set was derived from classified shoreline polylines found in the publication Revisiting the deformed
      high shoreline of Lake Bonneville, by Christine Y. Chen and Adam C. Maloof. More information and other Lake
      Bonneville related data can be found on <ExternalLink
        href="https://www.sciencedirect.com/science/article/abs/pii/S0277379116307399?via%3Dihub"
        >Science Direct</ExternalLink
      >.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Section title={`More ${page.title} resources`} slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="UGS Lake Bonneville StoryMap"
        href="https://storymaps.arcgis.com/stories/f5011189bdc94545b9231d56e4ffc1e4"
        >This StoryMap summarizes geologic evidence of the most significant lake levels of the Bonneville basin over the
        past 30,000 years.</CardWithPopularLink
      >
      <CardWithPopularLink title="State History blog post" href="https://historytogo.utah.gov/lake-bonneville/"
        >A blog post discussing how the lake was formed and its impact on Utah.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink
        title="National Wetlands Inventory (NWI)"
        href="https://www.fws.gov/program/national-wetlands-inventory"
        >The (NWI) program maintains a dataset depicting wetland and water body features across the United States.</CardWithSmallLink
      >
      <CardWithSmallLink title="Great Salt Lake" href="/products/sgid/water/great-salt-lake-resources/"
        >Various resources related to the Great Sale Lake.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
