---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import DirectDownloads from '@components/data/DirectDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import Alert from '@components/page/Alert.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import logos from '@downloads/google_logos.zip?url';

export const metadata: IMetadata = {
  title: 'Utah Google licensed imagery',
  description: `Statewide Google licensed 6-inch aerial photography. This data is available as a service or download for licensed Discover users.`,
  stewards: ['UGRC', 'Google'],
  type: ProductType.DISCOVER_SERVICE,
  category: SgidCategory.AERIAL_PHOTOGRAPHY,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://atlas.utah.gov/',
  updateHistory: ['2018'],
  links: [
    {
      title: 'Discover licensed access form',
      url: 'https://docs.google.com/forms/d/18FnT2fdg7nrA9xZYKUYV5UvxG0GO9w9DNFfeNG1D4TU/edit?ts=5cf67d38',
    },
  ],
};
---

<Layout
  pageTitle={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{
    skipInDepth: true,
  }}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      UGRC has a public-sector license to Google's statewide 6-inch aerial photography. The Google license is for color
      aerial photography, typically collected during the spring, summer, or fall. You must have Discover licensed access
      to use this product.
    </p>
    <p>
      The imagery is statewide, and the resolution is 6 inch or better with a horizontal positional accuracy to achieve
      or exceed 1 meter (CE90) in most areas without significant vertical relief. The flight dates of the imagery can be
      found in the
      <ExternalLink href="https://opendata.gis.utah.gov/datasets/utah-google-service-dates"
        >Utah Google Service Dates</ExternalLink
      > dataset from in the SGID on ArcGIS.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <div class="grid grid-cols-1 gap-8 px-6 lg:grid-cols-2 lg:gap-4 lg:px-0">
      <div class="flex flex-col">
        <DirectDownloads title="Request access" links={page.links!} />
      </div>
      <Alert title="Google citation requirements">
        <p>
          As part of our licenses with Google, you must provide proper attribution of any products created with their
          imagery. Add one of the following <a href={logos}> logos (compressed zip file)</a> to your published product to
          be in comp.
        </p>
      </Alert>
      <div class="flex flex-col gap-2">
        <h2 class="pb-1">Getting started</h2>
        <p>
          Utah state agencies, cities, counties, special service districts, educational institutions and their students,
          and tribal entities (along with formal partners of these groups) can sign up for licensed access to our latest
          state-wide high-resolution aerial imagery in both streaming and downloadable formats. Read more about getting
          started with <a href="/products/discover">Discover</a>.
        </p>
      </div>
    </div>
  </Section>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Flight dates" href="https://opendata.gis.utah.gov/datasets/utah-google-service-dates"
        >View flight date polygons.</CardWithPopularLink
      >
      <CardWithPopularLink title="Discover" href="/products/discover"
        >Read more about the Discover imagery service and the available services.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov"
        >View this imagery as a base map service in the atlas web app.</CardWithSmallLink
      >
      <CardWithSmallLink title="Aerial photography index" href="/products/sgid/aerial-photography/"
        >View other aerial photography products</CardWithSmallLink
      >
      <CardWithSmallLink title="Common imagery issues" href="/documentation/discover/problems/"
        >Find solutions to some common issues using the latest imagery products provided by UGRC.</CardWithSmallLink
      ><CardWithSmallLink title="Logos for citation" href={logos}
        >Dark and light Google logos for citation purposes.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
