---
import {
  Pillar,
  ProductType,
  SgidCategory,
  type IMetadata,
  type IStandardPageMetadata,
} from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import BreadCrumbs from '@components/data/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';

import { Image } from 'astro:assets';

import hro from '@images/sgid/hro_sample.png';

import { stripeSections } from '@utils/page';

export const metadata: IMetadata = {
  title: 'High Resolution Orthophotography (HRO)',
  description: `High resolution color aerial photography collected by airplane starting in 2003.`,
  stewards: ['UGRC'],
  type: ProductType.IMAGERY_RASTER,
  category: SgidCategory.AERIAL_PHOTOGRAPHY,
};

const page: IStandardPageMetadata = {
  title: 'HRO',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    {
      title: 'High Resolution Orthophotography (HRO)',
      actionText: 'Download HRO',
      actionUrl:
        'https://raster.utah.gov/?catGroup=HRO%202012%20(12.5cm),HRO%202012%20(1ft),HRO%202009%20(25cm),HRO%202006%20(25cm),HRO%202003%20(30cm)&title=Utah%20HRO%20Imagery',
    },
    {
      title: '2012 HRO',
      actionText: 'Download 2012 HRO',
      actionUrl:
        'https://raster.utah.gov/?catGroup=HRO%202012%20(12.5cm),HRO%202012%20(1ft)&title=Utah%20HRO%202012%20Imagery',
    },
    {
      title: '2009 HRO',
      actionText: 'Download 2009 HRO',
      actionUrl: 'https://raster.utah.gov/?cat=HRO%202009%20(25cm)',
    },
    {
      title: '2006 HRO',
      actionText: 'Download 2006 HRO',
      actionUrl: 'https://raster.utah.gov/?cat=HRO%202006%20(25cm)',
    },
    {
      title: '2003 HRO',
      actionText: 'Download 2003 HRO',
      actionUrl: 'https://raster.utah.gov/?cat=HRO%202003%20(30cm)',
    },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs category={metadata.category} product={metadata.title} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <a href={hro.src} slot="image">
      <Image
        src={hro}
        width="400"
        loading="eager"
        alt="A map with project boundary"
        class="w-full max-w-[400px] rounded-lg"
      /></a
    >
    <p>
      High resolution orthorectified images combine the image characteristics of an aerial photograph with the geometric
      qualities of a map. An orthophoto is a uniform-scale image where corrections have been made for feature
      displacement such as building tilt and for scale variations caused by terrain relief, sensor geometry, and camera
      tilt. A mathematical equation based on ground control points, sensor calibration information, and a digital
      elevation model is applied to each pixel to rectify the image to obtain the geometric qualities of a map.
    </p>
    <p>
      All HRO imagery has a UTM NAD83 Zone 12 North meters projection. The naming convention for the imagery tiles are
      based off the <ExternalLink href="https://www.fgdc.gov/usng/how-to-read-usng/index_html"
        >U.S. National Grid (USNG)</ExternalLink
      >. The <code>.XML</code> files for each image tile contain the metadata for the imagery and <code>CALDATE</code> contains
      the date the imagery was flown and collected.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <p>
      6-inch (12.5 cm) resolution 4-band aerial photography from the spring of 2012 for the Wasatch Front and mid-summer
      for the Uintah Basin. Although this imagery is generically referred to as 6-inch imagery it is actually 12.5
      centimeter or 4.92 inch resolution. The imagery in the Uintah Basin is 1-foot resolution and was collected June
      4th, 2012.
    </p>
    <p>
      The image tile boundaries and <code>USNG</code> tile names can be viewed in the <ExternalLink
        href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/hro/hro2012/4-band/HRO2012_4-Band_Index.zip"
        >HRO2012 Index shapefile</ExternalLink
      >.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <p>
      1-foot (25 cm) resolution color aerial photography from 2009 for the Wasatch Front, Canyonlands National Park, and
      Moab. Although this imagery is generically referred to as 1-foot imagery it is 25 centimeter or 9.84 inch
      resolution.
    </p>
    <p>
      The image tile boundaries and <code>USNG</code> tile names can be viewed in the <ExternalLink
        href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/hro/hro2009/HRO2009_Index.zip"
        >HRO2009 Index shapefile</ExternalLink
      >.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <p>
      1-foot (25 cm) resolution color aerial photography from 2006 for many areas across the state of Utah. Although
      this imagery is generically referred to as 1-foot imagery it is 25 centimeter or 9.84 inch resolution. Some tiles
      are incomplete and have black areas as a result of the proximity to the flight boundary.
    </p>
    <p>
      The image tile boundaries and <code>USNG</code> tile names can be viewed in the <ExternalLink
        href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/hro/hro2006/HRO2006_Index.zip"
        >HRO2006 Index shapefile</ExternalLink
      >.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <p>1-foot resolution color aerial photography from 2003 for the Wasatch Front north of Utah County.</p>
    <p>
      The image tile boundaries and <code>USNG</code> tile names can be viewed in the <ExternalLink
        href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/hro/uao2003/UAO_Index.zip"
        >UAO Index shapefile</ExternalLink
      >. For more information on the collection take a look at the <ExternalLink
        href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/hro/uao2003/UAO_metadata.htm"
        >project metadata</ExternalLink
      >.
    </p>
  </Section>

  <Section {...page.section[5]}>
    <GridForMoreResources>
      <CardWithPopularLink
        title="Digital Orthophoto Quadrangle (DOQ)"
        href="/products/sgid/aerial-photography/digital-orthophoto-quadrangle"
        >Low resolution color and black and white aerial photography collected by airplane.</CardWithPopularLink
      >
      <CardWithPopularLink
        title="National Agriculture Imagery Program (NAIP)"
        href="/products/sgid/aerial-photography/naip"
        >Low resolution color and infrared aerial photography collected by airplane starting in 2003.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section {...page.section[6]}>
    <GridForYouMightLike>
      <CardWithSmallLink
        title="UGRC Raster data discovery application"
        href="https://raster.utah.gov/"
        style="secondary">A web application that allows you to download UGRC imagery.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Digital Maps - How Chance, Timing, and Heritage Shaped Modern GIS"
        href="/blog/2019-09-03-digital-maps-gis-history"
        style="secondary">A blog post by Greg Bunce explaining digital maps.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
