---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import DirectDownloads from '@components/data/DirectDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import BulletedList from '@components/page/BulletedList.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import functionChainPhoto from '@images/sgid/function_chain.jpg';
import functionPhoto from '@images/sgid/function_template_editor.jpg';
import naipNRGImage from '@images/sgid/naip-nrg.png';
import naipRGBImage from '@images/sgid/naip-rgb.png';

export const metadata: IMetadata = {
  title: 'National Agriculture Imagery Program (NAIP)',
  description: `Low resolution color and infrared aerial photography collections by airplane starting in 2003.`,
  stewards: ['UGRC', 'U.S. Department of Agriculture (USDA)'],
  type: ProductType.IMAGERY_RASTER,
  category: SgidCategory.AERIAL_PHOTOGRAPHY,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`2021`],
  links: [
    {
      title: 'Download from Raster app',
      url: 'https://raster.utah.gov/?catGroup=NAIP%202021%20(60cm),NAIP%202018%20(60cm),NAIP%202016%20(1m),NAIP%202014%20(1m),NAIP%202011%20(1m),NAIP%202009%20(1m),NAIP%202006%20(1m),NAIP%202004%20(1m),NAIP%202003%20(2m)&title=Utah%20NAIP%20Imagery',
    },
  ],
};
---

<Layout pageTitle={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <div class="flex justify-around gap-2">
      <a href={naipRGBImage.src}>
        <Image
          src={naipRGBImage}
          width="300"
          alt="An RGB image of the NAIP"
          class="w-full max-w-[300px] rounded-lg"
        /></a
      >
      <a href={naipNRGImage.src}>
        <Image
          src={naipNRGImage}
          width="300"
          alt="An NRG image of the NAIP"
          class="w-full max-w-[300px] rounded-lg"
        /></a
      >
    </div>
    <p>
      The <ExternalLink
        href="https://www.usgs.gov/centers/eros/science/usgs-eros-archive-aerial-photography-national-agriculture-imagery-program-naip"
        >National Agriculture Imagery Program (NAIP)</ExternalLink
      > collects aerial photography every 2 or 3 years in the middle of the summer. Starting in 2006 the acquisitions have
      been statewide. The resolution is usually 1 meter with a horizontal positional accuracy of -/+ 5 meters. The 2018 and
      newer imagery is .6 meter (60 centimeter) resolution with a horizontal positional accuracy of -/+ 4 meters. In addition
      to the 3-band RGB color imagery, there is color-infrared imagery for most years. Currently there is NAIP imagery from
      2003, 2004, 2006, 2009, 2011, 2014, 2016, 2018, and 2021. Utah is scheduled to be recollected in 2024.
    </p>

    <p>
      Although the NAIP imagery collection is typically 4-band imagery, we have separated the Red, Green, and Blue (RGB)
      bands from the Infrared band to support most software platforms. To merge the RGB images with the single infrared
      band to create a 4-band image you can use the ArcGIS Composite Bands (Data Management) tool, the Image Analysis
      window to add a <a href={functionPhoto.src}>Function Chain</a>, or create a <a href={functionChainPhoto.src}
        >Reference Mosaic</a
      >. 3-band Mr. Sid county mosaics are also available.
    </p>
  </Fragment>

  <Section title="Get the data" slot="downloads" titlePosition="center">
    <DirectDownloads title="Links" links={page.links!} />
  </Section>

  <Fragment slot="description">
    <p>All NAIP imagery has a UTM NAD83 Zone 12 North meters projection.</p>
    <p>
      For more information about the history of the NAIP collections take a look at this <ExternalLink
        href="https://www.arcgis.com/apps/MapTour/index.html?appid=445e3dfd16c4401f95f78ad5905a4cce&webmap=6d117f2ede424ace93917e2bc88202b3"
        >Map Tour</ExternalLink
      >
      from the USDA or visit their <ExternalLink href="https://naip-usdaonline.hub.arcgis.com/"
        >NAIP GeoHub</ExternalLink
      >. A 4-band imagery service of the most current NAIP imagery for all the states in the U.S. is also available from
      USDA. The USDA NAIP GIS Service URL is <ExternalLink href="https://gis.apfo.usda.gov/arcgis/rest/services/NAIP"
        >https://gis.apfo.usda.gov/arcgis/rest/services/NAIP</ExternalLink
      >.
    </p>
    <h3>Finding flight dates</h3>
    <p class="text-lg font-bold">
      The date the photography was flown for the year of interest can be found in the list below.
    </p>
    <div>
      <p class="font-semibold">2021</p>
      <BulletedList>
        <li>
          Within the <code>SrcImgDate</code> field of the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2021/NAIP2021_Index.zip"
            >NAIP2021 Index shapefile</ExternalLink
          > or
        </li>
        <li>the <code>SDATE</code> field of the county mosaics shapefile.</li>
      </BulletedList>
      <p class="font-semibold">2018, 2016, 2014</p>
      <BulletedList>
        <li>
          Within the <code>SrcImgDate</code> field of the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2018/NAIP2018_Index.zip"
            >NAIP2018 Index shapefile</ExternalLink
          >,
          <li>in the <code>.txt</code> metadata files after <code>Calendar_Date</code> in the image tile,</li>
          <li>or the <code>SDATE</code> field of the county mosaics shapefile downloaded from the Raster app.</li>
        </li>
      </BulletedList>
      <p class="font-semibold">2011</p>
      <BulletedList>
        <li>
          Within the <code>SrcImgDate</code> field of the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2011/NAIP2011_4-band_Index.zip"
            >NAIP2011_4-band_Index shapefile</ExternalLink
          >,
        </li>
        <li>
          in the <code>IDATE</code> field in the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2011/NAIP2011_4-band_FlightDate_Index.zip"
            >NAIP2011_4-band_FlightDate_Index shapefile</ExternalLink
          >,
        </li>
        <li>or the <code>SDATE</code> field of the county mosaics shapefile downloaded from the Raster app.</li>
      </BulletedList>
      <p class="font-semibold">2009</p>
      <BulletedList>
        <li>
          Within the <code>SrcImgDate</code> field of the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2009/NAIP2009_4-band_Index.zip"
            >NAIP2009 Index shapefile</ExternalLink
          >
        </li>
        <li>or the <code>SDATE</code> field of the county mosaics index file downloaded from the Raster app.</li>
      </BulletedList>
      <p class="font-semibold">2006</p>
      <BulletedList>
        <li>
          <code>FLIGHT_DAT</code> field of the <ExternalLink
            href="https://storage.googleapis.com/state-of-utah-sgid-downloads/aerial-photography/naip/naip2006/NAIP2006_Index.zip"
            >NAIP2006 Index shapefile</ExternalLink
          >
        </li>
        <li>or the <code>.txt</code> metadata files downloaded from the Raster app.</li>
      </BulletedList>
      <p class="font-semibold">2004</p>
      <BulletedList>
        <li>
          Within the <code>IDAT</code> field of the compressed county mosaic index downloaded from the Raster app.
        </li>
      </BulletedList>
      <p class="font-semibold">2003</p>
      <BulletedList>
        <li>Within the <code>.txt</code> file of county mosaic downloaded from the Raster app.</li>
      </BulletedList>
    </div>
  </Fragment>
  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="NAIP 2021" href="https://raster.utah.gov/?cat=NAIP%202021%20(60cm)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2018" href="https://raster.utah.gov/?cat=NAIP%202018%20(60cm)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2016" href="https://raster.utah.gov/?cat=NAIP%202016%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2014" href="https://raster.utah.gov/?cat=NAIP%202014%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2011" href="https://raster.utah.gov/?cat=NAIP%202011%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2009" href="https://raster.utah.gov/?cat=NAIP%202009%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2006" href="https://raster.utah.gov/?cat=NAIP%202006%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2004" href="https://raster.utah.gov/?cat=NAIP%202004%20(1m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink title="NAIP 2003" href="https://raster.utah.gov/?cat=NAIP%202003%20(2m)"
        >Download from raster app.
      </CardWithPopularLink>

      <CardWithPopularLink
        title="Utah Geological Survey (UGS) Scanned Aerial Imagery"
        href="https://geodata.geology.utah.gov/imagery/">1935-Present scanned aerial imagery.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink
        title="High Resolution Orthophotography (HRO)"
        href="/products/sgid/aerial-photography/high-resolution-orthophotography"
        style="secondary">High resolution orthorectified aerial photography</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Digital Orthophoto Quads (DOQ)"
        href="/products/sgid/aerial-photography/digital-orthophoto-quadrangle"
        style="secondary">1 Meter orthorectified aerial photography</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
