---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Correctional Facilities',
  description: `Jail and prison locations in Utah.`,
  stewards: ['UGRC'],
  type: ProductType.POINT,
  category: SgidCategory.SOCIETY,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`January 2023`, `June 2013`, `August 2011`],

  hub: {
    ...dataPages[metadata.title],
  },

  links: [
    {
      title: 'The link title',
      url: 'https://link-to-the-resource.com',
    },
  ],
};
---

<Layout
  title={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{ skipInDepth: true }}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Correctional Facilities consists of any facility or location where individuals are regularly and lawfully detained
      against their will. This includes Federal and State prisons, local jails, and juvenile detention facilities, as
      well as law enforcement temporary holding facilities. A Federal Prison is a facility operated by the Federal
      Bureau of Prisons for the incarceration of individuals. A State Prison is a facility operated by a state,
      commonwealth, or territory of the US for the incarceration of individuals for a term usually longer than 1 year. A
      Juvenile Detention Facility is a facility for the incarceration of those who have not yet reached the age of
      majority (usually 18 years). A Local Jail is a locally administered facility that holds inmates beyond arraignment
      (usually 72 hours) and is staffed by municipal or county employees.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UDC" href="https://corrections.utah.gov/"
        >Utah Department of Corrections.</CardWithPopularLink
      >
      <CardWithPopularLink title="Offender Search" href="https://corrections.utah.gov/offender-search/"
        >Utah Department of Corrections offender search.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Law Enforcement" href="/products/sgid/society/law-enforcement-facilities"
        >Utah law enforcement facilities</CardWithSmallLink
      >
      <CardWithSmallLink title="PSAP" href="/products/sgid/society/public-safety-answering-point-locations"
        >Public saftey answering point locations</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
