---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Liquor Stores',
  description: `Liquor stores contains information and locations for liquor stores and package agencies controlled by the Department of Alcoholic Beverage Services of Utah.`,
  stewards: ['UGRC', 'DABS'],
  type: ProductType.POINT,
  category: SgidCategory.SOCIETY,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://abs.utah.gov/shop-products/find-store/',
  updateHistory: [
    `August 2023`,
    `March 2017`,
  ],

  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application} config={{skipInDepth:true}}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Liquor stores contains information and locations for liquor stores and package agencies controlled by the
      Department of Alcoholic Beverage Services of Utah. These locations were originally geocoded from DABS store
      addresses and are now being updated as locations are added, moved, or closed.</p>
  </Fragment>

  <!-- the title for hub data is typically `Use the data` but it can be anything
  When using direct downloads for apps or services, use `Get the app`, or `Use the service` -->
  <Section title="Use the data" slot="downloads" titlePosition="center">
    <!-- a hub download uses the hub component. Only keep one element and delete the unused. -->
    <HubDownloads {...page.hub} />
  </Section>


  <!-- <UpdateHistory slot="update-history" updates={page.updateHistory} /> -->


  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="DABS" href="https://abs.utah.gov/">Department of Alcoholic Beverage Services.</CardWithPopularLink>
      <CardWithPopularLink title="Visit Utah" href="/products/sgid/address/">Utah Liquor Laws Visitor Guide.</CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov">Utah base maps and more</CardWithSmallLink>
      <CardWithSmallLink title="Health Care Facilities" href="/products/sgid/health/health-care-facilities/">Hospitals and other health care locations</CardWithSmallLink>
      <CardWithSmallLink title="Law Enforcement" href="/products/sgid/society/law-enforcement/">Law enforcement office locations</CardWithSmallLink>
      <CardWithSmallLink title="Ski Areas" href="/products/sgid/recreation/ski-areas/">Ski area locations</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
