---
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/Pillar.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import { Image } from 'astro:assets';

import communityPhoto from '@images/collaboration/community.svg';
import conferencePhoto from '@images/collaboration/conference.svg';
import eventsPhoto from '@images/collaboration/events.svg';
import resourcesPhoto from '@images/collaboration/resources.svg';
import connectedPhoto from '@images/collaboration/connected-world.svg';
---

<Layout title="Collaboration">
  <Section slot="popular-level-ones" stripe titlePosition="center">
    <GridForPillars>
      <CardWithTopImage title="Community" actionUrl="/collaboration/community">
        <Image slot="image" src={communityPhoto} loading="eager" alt="people together in a room" class="block h-44" />
        Utah has a robust and active geospatial community with a friendly and collaborative atmosphere. There are ample opportunities
        to connect at the local, regional, and statewide levels, and beyond, with colleagues from public and private industry
        who are passionate about GIS and willing to cooperate and find new solutions. Find your community, get connected,
        and get involved!
      </CardWithTopImage>
      <CardWithTopImage title="Events" actionUrl="/collaboration/events">
        <Image
          slot="image"
          src={eventsPhoto}
          loading="eager"
          alt="a person circling a date on a calendar"
          class="block h-44"
        />
        Come and join your colleagues at the myriad GIS-related events each year within Utah and beyond, with a focus on
        learning and fun. Whether you’re giving a presentation, displaying your work in a map gallery, or simply showing
        up to observe, each event offers a unique opportunity to engage with your peers and share your knowledge, learn from
        others, network, and make new friends.
      </CardWithTopImage>
      <CardWithTopImage title="Resources" actionUrl="/collaboration/resources">
        <Image
          slot="image"
          loading="eager"
          src={resourcesPhoto}
          alt="a person searches a manilla folder containing a lot of documents "
          class="block h-44"
        />
        Explore our favorite and most popular resources such as blog posts with great information, free training opportunities,
        all our past presentations, and even our logos. We strive to make all of our knowledge open and accessible to enable
        you to apply what we've learned to your own projects and solutions, and to learn from our mistakes so you don't repeat
        them. We greatly value contributing to an informed GIS workforce in Utah.
      </CardWithTopImage>
    </GridForPillars>
  </Section>

  <Section title="Popular Collaboration Resources" slot="popular-resources" titlePosition="center">
    <GridForPopularResources>
      <CardWithPopularLink title="UGIC" href="/collaboration/community/#utah-geographic-information-council-ugic">
        Utah Geographic Information Council. Present, join, or get involved with the statewide GIS group.
      </CardWithPopularLink>
      <CardWithPopularLink title="Maps on the Hill" href="/collaboration/events/#maps-on-the-hill">
        Show off your professional work and network with colleagues, elected officials, and the public.
      </CardWithPopularLink>
      <CardWithPopularLink title="UGRC Presentations" href="/collaboration/resources/presentations/">
        A collection of talks given by UGRC staff at various conferences and venues.
      </CardWithPopularLink>
      <CardWithPopularLink title="User Groups" href="/collaboration/community/#gis-user-groups">
        Local groups to connect with colleagues and peers about all things GIS.
      </CardWithPopularLink>
    </GridForPopularResources>
  </Section>

  <Section title="More Collaboration Resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithSideImage title="NSGIC" actionUrl="/collaboration/community/#national-states-geographic-information-council-nsgic">
        <Image slot="image" src={conferencePhoto} alt="man at a lecturn speaking to people sitting in chairs" class="self-center" />
        National States Geographic Information Council. The national council to advance state-led geospatial coordination for the nation.
      </CardWithSideImage>
      <CardWithSideImage title="Slack spatial community" actionUrl="/collaboration/community/#the-spatial-community">
        <Image slot="image" src={connectedPhoto} alt="people using mobile devices and connected by lines with the earth in the background" class="self-center" />
        A forum for connecting with a global community of GIS enthusiasts and experts.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="UGRC blog" href="/blog/">
        We blog about a variety of topics that may be of interest to you.
      </CardWithSmallLink>
      <CardWithSmallLink title="Learning opportunities" href="/collaboration/resources/#where-can-i-learn-more">
        Links to GIS software training materials, courses, tutorials, and more.
      </CardWithSmallLink>
      <CardWithSmallLink title="UGRC documentation" href="/documentation/">
        All you need to know about the products and services we provide and how to use them.
      </CardWithSmallLink>
      <CardWithSmallLink title="About UGRC" href="/about/">
        Learn more about who we are, what we do, and why we do it.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
