---
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/Pillar.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';

import { Image } from 'astro:assets';

import policyPhoto from '@images/documentation/policy.svg';
import dataSharingPhoto from '@images/sgid/data-sharing-agreement.svg';
import licensePhoto from '@images/sgid/license-disclaimer.svg';
import openSgid from '@images/sgid/open-sgid.svg';
import sgidIndex from '@images/sgid/sgid-index.svg';
---

<Layout title="Documentation">
  <Fragment slot="popular-level-ones">
    <Section stripe>
      <GridForPillars>
        <CardWithTopImage title="SGID" actionUrl="/documentation/sgid">
          <Image slot="image" src={sgidIndex} alt="a person using a search engine" class="block h-44" />
          The State Geographic Information Datasource (SGID) provides a centralized collection of hundreds of GIS data layers
          developed, aggregated, or acquired by the State. The documentation explains the different facets of the SGID, how
          to connect to them, and how to include your data in the SGID.
        </CardWithTopImage>
        <CardWithTopImage title="Discover base map and imagery services" actionUrl="/documentation/discover">
          <Image slot="image" src={openSgid} alt="a person connected to a database" class="block h-44" />
          Our Discover services provide streaming access to our base maps and aerial imagery. The documentation explains
          how to sign up, connect, use the services, and troubleshoot common issues.
        </CardWithTopImage>
        <CardWithTopImage title="UGRC policies" actionText="Learn more" actionUrl="/documentation/policy">
          <Image
            slot="image"
            src={policyPhoto}
            alt="a person agreeing to terms and conditions on a tablet"
            class="block h-44"
          />
          The rules and guidelines that UGRC follows to ensure that our data and services are consistent, repeatable, and
          available to the public.
        </CardWithTopImage>
      </GridForPillars>
    </Section>
  </Fragment>

  <Fragment slot="popular-resources">
    <Section title="Popular Resources" titlePosition="center">
      <GridForPopularResources>
        <CardWithPopularLink title="TURN GPS" href="/documentation/turn">
          Sign up and access the TURN GPS service
        </CardWithPopularLink>
        <CardWithPopularLink title="Porter" href="https://github.com/agrc/porter"
          >The GitHub repository where UGRC tracks all additions and removals from the SGID.</CardWithPopularLink
        >
      </GridForPopularResources>
    </Section>
  </Fragment>

  <Fragment slot="more-resources">
    <Section title="More Resources" stripe titlePosition="center">
      <GridForMoreResources>
        <CardWithSideImage title="Masquerade" actionUrl="/documentation/masquerade">
          <Image slot="image" src={licensePhoto} alt="man in front of warning sign" class="self-center" />
          The UGRC API and SGID accessed through Esri clients.
        </CardWithSideImage>
        <CardWithSideImage title="palletjack" actionUrl="/products/sgid/sharing">
          <Image slot="image" src={dataSharingPhoto} alt="people shaking hands" class="self-center" />
          Something
        </CardWithSideImage>
      </GridForMoreResources>
    </Section>
  </Fragment>

  <Fragment slot="you-might-also-like">
    <Section title="You might also like" titlePosition="center">
      <GridForYouMightLike>
        <CardWithSmallLink title="UDOT Data Portal" href="https://data.udot.utah.gov">
          This portal provides access to UDOT data. Data layers are available to view and download. Data is discoverable
          by searching a keyword or browsing by category. Applications are available for exploring many of UDOT's
          current and authoritative datasets.
        </CardWithSmallLink>
        <CardWithSmallLink title="SITLA GIS Portal" href="https://gis.trustlands.utah.gov">
          Discover spatial data and tools that empower informed land management decisions
        </CardWithSmallLink>
        <CardWithSmallLink title="DNR Data Portal" href="https://dwr-data-utahdnr.hub.arcgis.com/">
          Explore spatial data relevant to Utah's aquatic and terrestrial wildlife distributions, habitats, and wildlife
          management.
        </CardWithSmallLink>
      </GridForYouMightLike>
    </Section>
  </Fragment>
</Layout>
