---
import Layout from '@layouts/Pillar.astro';

import type { IStandardPageMetadata } from '@models/types';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import policyPhoto from '@images/documentation/policy.svg';
import masqueradePhoto from '@images/documentation/sgid/masquerade.svg';
import palletjackPhoto from '@images/documentation/sgid/palletjack.svg';
import openSgid from '@images/sgid/open-sgid.svg';
import sgidIndex from '@images/sgid/sgid-index.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Documentation',
  pageDescription: 'Documentation for UGRC services and data.',
  section: stripeSections([
    {},
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <Section slot="popular-level-ones" {...page.section[0]}>
    <GridForPillars>
      <CardWithTopImage title="SGID" actionUrl="/documentation/sgid">
        <Image slot="image" loading="eager" src={sgidIndex} alt="a person using a search engine" class="block h-44" />
        The State Geographic Information Datasource (SGID) provides a centralized collection of hundreds of GIS data layers
        developed, aggregated, or acquired by the State. The documentation explains the different facets of the SGID, how
        to connect to them, and how to include your data in the SGID.
      </CardWithTopImage>
      <CardWithTopImage title="Discover Base Map and Imagery Services" actionUrl="/documentation/discover">
        <Image slot="image" loading="eager" src={openSgid} alt="a person connected to a database" class="block h-44" />
        Our Discover services provide streaming access to our base maps and aerial imagery. The documentation explains how
        to sign up, connect, use the services, and troubleshoot common issues.
      </CardWithTopImage>
      <CardWithTopImage title="UGRC Policies" actionText="Learn more" actionUrl="/documentation/policy">
        <Image
          slot="image"
          loading="eager"
          src={policyPhoto}
          alt="a person agreeing to terms and conditions on a tablet"
          class="block h-44"
        />
        We have put together a series of internal and external policies and procedures to ensure our data and services are
        consistent, repeatable, and available to the public.
      </CardWithTopImage>
    </GridForPillars>
  </Section>

  <Section slot="popular-resources" {...page.section[1]}>
    <GridForPopularResources>
      <CardWithPopularLink title="TURN GPS" href="/documentation/turn">
        Learn about how to sign up and access the TURN GPS service.
      </CardWithPopularLink>
      <CardWithPopularLink title="Porter" href="https://github.com/agrc/porter"
        >The GitHub repository where UGRC tracks all additions and removals from the SGID.</CardWithPopularLink
      >
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[2]}>
    <GridForMoreResources>
      <CardWithSideImage title="Masquerade" actionUrl="https://github.com/agrc/masquerade/blob/main/README.md">
        <Image slot="image" src={masqueradePhoto} alt="People wearing masks" class="self-center" />
        The UGRC API and SGID accessed through Esri clients.
      </CardWithSideImage>
      <CardWithSideImage title="palletjack" actionUrl="https://agrc.github.io/palletjack/palletjack/">
        <Image slot="image" src={palletjackPhoto} alt="Construction workers moving dirt" class="self-center" />
        A library for updating AGOL data from various external sources.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[3]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="UGRC API getting started guide" href="https://developer.mapserv.utah.gov/StartupGuide">
        The who what why and how for using the UGRC API.
      </CardWithSmallLink>
      <CardWithSmallLink title="esri documentation" href="https://doc.arcgis.com/en/">
        Up-to-date documentation for ArcGIS and more.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
