---
import Layout from '@layouts/FullWidth.astro';

import type { IStandardPageMetadata } from '@models/types';

import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import agreementPhoto from '@images/solutions/agreement.svg';
import arrowPhoto from '@images/solutions/arrow.svg';
import decisionPhoto from '@images/solutions/decision.svg';
import developmentPhoto from '@images/solutions/development.svg';
import emergencyPhoto from '@images/solutions/emergency.svg';
import gisUsersPhoto from '@images/solutions/gis-users.svg';
import gpsPhoto from '@images/solutions/gps.svg';
import notesPhoto from '@images/solutions/notes.svg';
import routingPhoto from '@images/solutions/routing.svg';
import studentPhoto from '@images/solutions/students.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'UGRC solutions',
  pageDescription:
    'UGRC offers a wide range of solutions for GIS users. We are known for authoritative geospatial data (SGID) however our offerings include base maps, imagery, address locator, a web API, GPS location services, Lidar, and more. Best of all, they are all free to use (with the exception of the GPS service)!',
  section: stripeSections([
    { title: 'For government employees', actionUrl: '/solutions/for-government', actionText: "Let's collaborate" },
    { title: 'For GIS users', actionUrl: '/solutions/for-gis-users' },
    {
      title: 'For application developers',
      actionUrl: '/solutions/for-application-developers',
      actionText: 'Explore our resources',
    },
    { title: 'For surveyors', actionUrl: '/solutions/for-surveyors' },
    { title: 'For students', actionUrl: '/solutions/for-students', actionText: 'Explore our resources' },
    { title: 'Data management and access', actionUrl: '/solutions/spatial-data-management' },
    { title: 'Emergency response', actionUrl: '/solutions/for-emergency-response' },
    { title: 'GIS strategy', actionUrl: '/solutions/gis-strategy', actionText: 'Strategy for geospatial success' },
    { title: 'Integrating GIS', actionUrl: '/solutions/gis-integration', actionText: 'Integrate with us' },
    { title: 'High precision location', actionUrl: '/solutions/high-precision-location' },
  ]),
};
---

<Layout pageTitle={page.pageTitle}>
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={agreementPhoto}
      loading="eager"
      alt="two government employees shaking hands"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC uses a cost recovery model to contract with State of Utah agencies to provide high quality, innovative, and
      cost effective GIS, mapping, and data-related solutions and services.
    </p>
    <p>
      Drawing on extensive experience in the geospatial field, we've encountered diverse challenges and accomplishments.
      Whether our partnership with you is large or small, reaching out to us early in your process often ensures optimal
      returns on investment and a smoother path to success.
    </p>
    <p>Click to read about some ways we can collaborate with your government agency.</p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={gisUsersPhoto}
      alt="a person sitting in a chair using a computer to work with maps and data"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC offers a wide range of solutions for GIS users. We are known for authoritative geospatial data (SGID) however
      our offerings include base maps, imagery, address locator, a web API, GPS location services, Lidar, and more. Best
      of all, they are all free to use (with the exception of the GPS service)!
    </p>
    <p>
      GIS users are at the forefront of our minds in all of our products. The data and services we provide adhere to
      industry standards and can be used on a variety of platforms - including macOS and Windows.
    </p>
    <p>We encourage you to explore our products, as we are certain to have a solution for your mapping needs.</p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={developmentPhoto}
      alt="a person with a prototype on an easel and the app partially built on a phone"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Explore the variety of tools and resources that we offer to integrate geospatial tech, craft custom apps, and
      access valuable data. Whether you're a casual developer tinkering with configurable apps, an experienced
      developer, or a data scientist, we've got something for your current or next app project!
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={gpsPhoto}
      alt="a satellite in orbit around the earth with a GPS signal coming from it"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We're honored to offer solutions for surveyors such as centimeter-level precision measurements through our TURN
      GPS Network, and a variety of other services and support related to the Public Land Survey System; the Monument
      Replacement and Restoration Committee and funding; municipal annexations and county boundaries; and survey control
      based on National Geodetic Survey specifications.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={studentPhoto}
      loading="eager"
      alt="students sitting in front of a university building"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC loves students! We want to help you get the best education you can. We've got a host of resources that can
      help you with class projects, personal exploration, and preparing for life after school. Have you made something
      cool? <ExternalLink href="https://twitter.com/MapUtah">Let us know about it</ExternalLink>, we'd love to hear!
    </p>
  </Section>
  <Section {...page.section[5]}>
    <Image
      slot="image"
      src={notesPhoto}
      alt="A person explaining charts on a white board to a person taking notes"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Here at UGRC, we value good data and understand what it takes to achieve it. Whether you’re starting from scratch,
      re-imagining your GIS portfolio, or already have a solid data inventory in place, we can provide you with
      recommendations for and help you implement best practices, standards, and tools to apply to your unique situation
      and get the most out of your data.
    </p>
  </Section>
  <Section {...page.section[6]}>
    <Image
      slot="image"
      src={emergencyPhoto}
      alt="A fireman with some emergency prevention items in bubbles like a fire extinguisher etc"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>TODO: Greg Bunce</p>
  </Section>
  <Section {...page.section[7]}>
    <Image
      slot="image"
      src={decisionPhoto}
      alt="A person presented with 3 paths who is thinking about which route to take"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Good data and strong analysis don’t just happen. It takes planning and resources to make your spatial goals a
      reality. Over the years we’ve seen what works consistently to generate solid results. Have a look at our ideas and
      start making a plan for geospatial success today.
    </p>
  </Section>
  <Section {...page.section[8]}>
    <Image
      slot="image"
      src={routingPhoto}
      alt="A person with directions on a phone screen and a map in the background."
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      When GIS becomes part of your business processes at any point, it opens the door to a greater perspective and
      understanding of your area of influence, and helps you answer questions with greater locational clarity, thereby
      enabling you to deploy your resources more effectively and efficiently. For many years, and over a multitude of
      subjects and situations, UGRC has been assisting state and local governments in Utah to integrate aspects of GIS
      solutions that fit their needs.
    </p>
  </Section>
  <Section {...page.section[9]}>
    <Image
      slot="image"
      src={arrowPhoto}
      alt="Two people holding an arrow pointed at the bullseye of a dartboard"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC is interested in new and emerging technologies that utilize high precision positioning and can increase
      efficiencies of important, and sometimes life saving, daily tasks and needs. Check out some of the current uses of
      our own high precision GPS network, and other use cases for high precision positioning. Get in touch to
      collaborate, or just to let us know about your own use of this technology!
    </p>
  </Section>
</Layout>
