---
import type { IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import agreementPhoto from '@images/solutions/agreement.svg';
import developmentPhoto from '@images/solutions/development.svg';
import gisUsersPhoto from '@images/solutions/gis-users.svg';
import gpsPhoto from '@images/solutions/gps.svg';
import studentPhoto from '@images/solutions/students.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'UGRC solutions',
  section: stripeSections([
    { title: 'For government employees', actionUrl: '/solutions/for-government', actionText: "Let's collaborate" },
    { title: 'For GIS users', actionUrl: '/solutions/for-gis-users' },
    {
      title: 'For application developers',
      actionUrl: '/solutions/for-application-developers',
      actionText: 'Explore our resources',
    },
    { title: 'For surveyors', actionUrl: '/solutions/for-surveyors' },
    { title: 'For students', actionUrl: '/solutions/for-students', actionText: 'Explore our resources' },
  ]),
};
---

<Layout title={page.title}>
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={agreementPhoto}
      loading="eager"
      alt="two government employees shaking hands"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC uses a cost recovery model to contract with State of Utah agencies to provide high quality, innovative, and
      cost effective GIS, mapping, and data-related solutions and services.
    </p>
    <p>
      Drawing on extensive experience in the geospatial field, we've encountered diverse challenges and accomplishments.
      Whether our partnership with you is large or small, reaching out to us early in your process often ensures optimal
      returns on investment and a smoother path to success.
    </p>
    <p>Click to read about some ways we can collaborate with your government agency.</p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={gisUsersPhoto}
      alt="a person sitting in a chair using a computer to work with maps and data"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC offers a wide range of solutions for GIS users. We are known for authoritative geospatial data (SGID) however
      our offerings include base maps, imagery, address locator, a web API, GPS location services, Lidar, and more. Best
      of all, they are all free to use (with the exception of the GPS service)!
    </p>
    <p>
      GIS users are at the forefront of our minds in all of our products. The data and services we provide adhere to
      industry standards and can be used on a variety of platforms - including macOS and Windows.
    </p>
    <p>We encourage you to explore our products, as we are certain to have a solution for your mapping needs.</p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={developmentPhoto}
      alt="a person with a prototype on an easel and the app partially built on a phone"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Explore the variety of tools and resources that we offer to integrate geospatial tech, craft custom apps, and
      access valuable data. Whether you're a casual developer tinkering with configurable apps, an experienced
      developer, or a data scientist, we've got something for your current or next app project!
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={gpsPhoto}
      alt="a satellite in orbit around the earth with a GPS signal coming from it"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We're proud to offer surveyors centimeter-level precision measurements through our TURN GPS Network. The TURN
      Network is a high-precision global navigation satellite system (GNSS) providing real-time corrections and data for
      post processing. Surveyors in Utah, Nevada, Idaho, and Wyoming are taking advantage of this useful service for a
      variety of purposes including research, engineering, drone operations, and more!
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={studentPhoto}
      loading="eager"
      alt="students sitting in front of a university building"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC loves students! We want to help you get the best education you can. We've got a host of resources that can
      help you with class projects, personal exploration, and preparing for life after school. Have you made something
      cool? <ExternalLink href="https://twitter.com/MapUtah">Let us know about it</ExternalLink>, we'd love to hear!
    </p>
  </Section>
</Layout>
