---
import Contacts from '@components/page/Contacts.astro';
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Transit Special Tax Areas',
  description:
    'This dataset contains areas outside of incorporated municipalities where additional sales tax is collected to support transit activities (generally buses).',
  stewards: ['UGRC', 'USTC'],
  type: ProductType.POLYGON,
  category: SgidCategory.ECONOMY,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: ['March 2022', 'January 2019', 'March 2018'],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      This dataset contains areas outside of incorporated municipalities where additional sales tax is collected to
      support transit activities (generally buses).
    </p>
    <p>Currently only in Cache, Summit, Tooele and Utah Counties.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <Contacts contactKey="tax" />
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="USTC" href="https://tax.utah.gov/">Utah State Tax Commission</CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Tax Areas" href="/products/sgid/economy/taxing-areas" style="secondary"
        >Tax collection areas.</CardWithSmallLink
      >
      <CardWithSmallLink title="Sales Tax Areas" href="/products/sgid/economy/sales-tax-areas" style="secondary"
        >Sales tax collection areas.</CardWithSmallLink
      >
      <CardWithSmallLink title="Tax Entities" href="/products/sgid/economy/tax-entities" style="secondary"
        >Tax entities in Utah.</CardWithSmallLink
      >
      <CardWithSmallLink title="Economy" href="/products/sgid/economy" style="secondary"
        >SGID category.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
