---
import type { Page } from 'astro';

import { twMerge } from 'tailwind-merge';

interface Props {
  page: Page;
  class: string;
  baseHref: string;
}
const { page, class: className, baseHref } = Astro.props;
const maxLinks = 5;

let bufferLinks = Math.floor(maxLinks / 2);
let start: number;
let end: number;
if (page.currentPage < maxLinks) {
  start = 1;
  end = maxLinks;
} else if (page.currentPage > page.lastPage - maxLinks) {
  start = page.lastPage - maxLinks;
  end = page.lastPage;
} else {
  start = page.currentPage - bufferLinks;
  end = page.currentPage + bufferLinks;
}
const links = Array.from({ length: end - start + 1 }, (_, i) => start + i);
const hasStartEllipsis = start > 1;
const hasEndEllipsis = end < page.lastPage;
const linkClasses =
  'custom-style relative block select-none rounded-full px-3 py-2 text-sm font-medium leading-none text-zinc-600 no-underline outline-none hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:focus:shadow-zinc-200 dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100';
const arrowButtonClasses =
  'custom-style relative select-none rounded-full px-3 py-2 text-xl leading-4 font-medium bg-transparent border-0 cursor-pointer text-zinc-900 dark:text-zinc-50 hover:bg-zinc-200 dark:hover:bg-white/20 outline-none focus:shadow-[0_0_0_2px] focus:shadow-primary dark:focus:shadow-zinc-200 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-transparent';
---

<nav aria-label="page through items" class={className}>
  <ul class="flex w-full items-center justify-center space-x-1 text-zinc-900 dark:text-zinc-50">
    <li>
      <!-- the `custom-style` prop needs to be set as a prop rather than in the style tag because of this issue: https://github.com/tailwindlabs/tailwindcss/issues/7055 -->
      <button
        type="button"
        disabled={!page.url.prev}
        onclick={page.url.prev ? `window.location.href='${page.url.prev}'` : undefined}
        class={arrowButtonClasses}
        aria-label="Previous page"
      >
        <span aria-hidden="true">←</span>
        <span class="sr-only">Previous page</span>
      </button>
    </li>
    {
      hasStartEllipsis ? (
        <>
          <li>
            <a href={`/${baseHref}/`} class={linkClasses} aria-label="go to first page">
              {1}
            </a>
          </li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
        </>
      ) : null
    }
    {
      links.map((num) => (
        <li>
          <a
            href={`/${baseHref}/${num === 1 ? '' : num}`}
            class={twMerge(
              linkClasses,
              num === page.currentPage && 'bg-zinc-200 hover:bg-primary hover:text-zinc-50 dark:text-zinc-600',
            )}
            aria-current={num === page.currentPage ? 'page' : undefined}
            aria-label={num === page.currentPage ? `page ${num}` : `Go to page ${num}`}
          >
            {num}
          </a>
        </li>
      ))
    }
    {
      hasEndEllipsis ? (
        <>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
          <li>
            <a href={`/${baseHref}/${page.lastPage}/`} class={linkClasses} aria-label="go to last page">
              {page.lastPage}
            </a>
          </li>
        </>
      ) : null
    }
    <li>
      <button
        type="button"
        disabled={!page.url.next}
        onclick={page.url.next ? `window.location.href='${page.url.next}'` : undefined}
        class={arrowButtonClasses}
        aria-label="Next page"
      >
        <span aria-hidden="true">→</span>
        <span class="sr-only">Next page</span>
      </button>
    </li>
  </ul>
</nav>
