---
const bundlePath = import.meta.env.DEV ? '/dist/pagefind/' : `${import.meta.env.BASE_URL}pagefind/`;
const { suffix } = Astro.props;
---

<site-search
  class="flex flex-col justify-center rounded-full px-3 hover:bg-zinc-200 hover:text-zinc-900 focus:shadow-[0_0_0_2px] focus:shadow-primary dark:text-zinc-50 dark:hover:bg-white/20 dark:hover:text-zinc-100"
  data-bundle-path={bundlePath}
  data-suffix={suffix}
>
  <button data-open-modal aria-label="open site search dialog">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 text-zinc-600 dark:text-zinc-50"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
    </svg>
  </button>
  <dialog
    class="m-0 h-full max-h-full w-full max-w-full border border-zinc-400 bg-zinc-200 text-left shadow lg:mx-auto lg:mt-20 lg:h-max lg:max-h-[calc(100%-6rem)] lg:w-2/3 lg:rounded-md lg:backdrop:backdrop-blur-sm dark:bg-zinc-900"
    aria-label="site search"
  >
    <div data-dialog-frame class="px-5 py-4">
      <h3 class="mb-2 text-left text-zinc-700 dark:text-zinc-300">Search our website</h3>
      <div id={`pagefind-ui-${suffix}`}></div>
      <button class="absolute right-2 top-2" data-close-modal aria-label="close site search dialog">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-primary dark:text-zinc-300"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </dialog>
</site-search>

<script>
  class SiteSearch extends HTMLElement {
    initialized = false;
    dialog = this.querySelector('dialog')!;
    dialogFrame = this.querySelector('div[data-dialog-frame]')!;
    openBtn = this.querySelector('button[data-open-modal]')!;
    closeBtn = this.querySelector('button[data-close-modal]')!;

    constructor() {
      super();

      this.onWindowResize();

      window.addEventListener('resize', this.onWindowResize);
    }

    onWindowResize = (): void => {
      // prevent initializing two instances of the same component
      if (window.innerWidth >= 1024 && this.dataset.suffix === 'large') {
        this.init();
      } else if (window.innerWidth < 1024 && this.dataset.suffix === 'small') {
        this.init();
      } else {
        this.destroy();
      }
    };

    openModal = (event?: MouseEvent): void => {
      this.dialog.showModal();
      document.body.toggleAttribute('data-search-modal-open', true);
      this.querySelector('input')!.focus();
      event?.stopPropagation();
      window.addEventListener('click', this.onPageClick);
    };

    closeModal = (): void => {
      this.dialog.close();
    };

    onPageClick = (event: MouseEvent): void => {
      // Close the modal if a user clicks on a link or outside of the modal.
      const isLink = 'href' in (event.target || {});
      if (
        isLink ||
        (document.body.contains(event.target as Node) && !this.dialogFrame.contains(event.target as Node))
      ) {
        this.closeModal();
      }
    };

    onKeyDown = (event: KeyboardEvent): void => {
      // Listen for `/` and `cmd + k` keyboard shortcuts.
      const isInput =
        document.activeElement instanceof HTMLElement &&
        (['input select textarea'].includes(document.activeElement.tagName.toLowerCase()) ||
          document.activeElement.isContentEditable);
      if (event.metaKey === true && event.key === 'k') {
        this.dialog.open ? this.closeModal() : this.openModal();
        event.preventDefault();
      } else if (event.key === '/' && !this.dialog.open && !isInput) {
        this.openModal();
        event.preventDefault();
      }
    };

    init = (): void => {
      if (this.initialized) return;

      // events
      this.openBtn.addEventListener('click', this.openModal as EventListener);
      this.closeBtn.addEventListener('click', this.closeModal);
      this.dialog.addEventListener('close', () => {
        document.body.toggleAttribute('data-search-modal-open', false);
        window.removeEventListener('click', this.onPageClick);
      });
      window.addEventListener('keydown', this.onKeyDown);

      const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));
      onIdle(async () => {
        const { PagefindUI } = await import('@pagefind/default-ui');
        new PagefindUI({
          element: `#pagefind-ui-${this.dataset.suffix}`,
          bundlePath: this.dataset.bundlePath,
          showSubResults: true,
          showImages: false,
          resetStyles: false,
        });

        // use for testing
        // this.openModal();
        // this.querySelector('input')!.value = 'geocoding';
        // this.querySelector('input')!.dispatchEvent(new Event('input'));
      });

      console.log('SiteSearch initialized', this.dataset.suffix, this.dataset.bundlePath);

      this.initialized = true;
    };

    destroy = (): void => {
      if (!this.initialized) return;

      this.querySelector(`#pagefind-ui-${this.dataset.suffix}`)!.innerHTML = '';
      this.closeModal();
      this.openBtn.removeEventListener('click', this.openModal as EventListener);
      this.closeBtn.removeEventListener('click', this.closeModal);
      window.removeEventListener('click', this.onPageClick);
      window.removeEventListener('keydown', this.onKeyDown);

      this.initialized = false;

      console.log('SiteSearch destroyed', this.dataset.suffix, this.dataset.bundlePath);
    };
  }

  customElements.define('site-search', SiteSearch);
</script>

<!-- is:global is required, perhaps because it's within a dialog? -->
<style is:global>
  /* prevent scrolling the page when the modal is open */
  [data-search-modal-open] {
    overflow: hidden;
  }

  site-search form {
    @apply relative;
  }

  site-search input {
    @apply w-full rounded-md border border-gray-300 px-3 py-2 dark:border-gray-700;
  }

  site-search button.pagefind-ui__search-clear {
    @apply absolute right-3 top-[14px] text-xs;
  }

  site-search .pagefind-ui__message {
    @apply my-2 text-sm font-bold text-primary dark:text-zinc-300;
  }

  site-search mark {
    @apply bg-accent;
  }

  site-search .pagefind-ui__result {
    @apply my-4 rounded border border-black/30 bg-white px-3 py-2 dark:border-white/30 dark:bg-zinc-800;
  }

  site-search .pagefind-ui__result-title a {
    @apply text-lg font-bold;
  }
  site-search .pagefind-ui__result-nested .pagefind-ui__result-title a {
    @apply text-base font-semibold;
  }

  site-search .pagefind-ui__result-excerpt {
    @apply text-zinc-600 dark:text-zinc-50;
  }
  site-search .pagefind-ui__result-nested {
    @apply relative pl-4 pt-1;
  }

  site-search .pagefind-ui__result-nested::before {
    content: '"';
    @apply absolute -left-1 -top-1 text-4xl italic text-primary dark:text-zinc-300;
  }

  site-search button.pagefind-ui__button {
    @apply relative flex min-h-9 cursor-pointer items-center justify-center rounded-full border-2 border-zinc-400 bg-secondary px-8 text-zinc-50 no-underline transition-all hover:border-zinc-600 hover:shadow hover:contrast-125 focus:outline-2 focus:outline-accent focus:transition-none active:scale-95 active:shadow-inner dark:border-zinc-400/30 dark:hover:border-white/30;
  }
</style>
