---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import ButtonLink from '@components/page/ButtonLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import Podcast from '@components/page/Podcast.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import blogPhoto from '@images/collaboration/blog.svg';
import boxesPhoto from '@images/collaboration/boxes.svg';
import conferenceLogo from '@images/collaboration/conference.svg';
import groupPhoto from '@images/collaboration/group.svg';
import checklistPhoto from '@images/documentation/checklist.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'GIS knowledge',
  pageDescription: 'We at UGRC strive to bring you the best of what the geospatial community has to offer.',
  pillar: Pillar.COLLABORATION,
  section: stripeSections([
    {},
    {
      title: `What we're saying`,
      actionUrl: '/blog',
      actionText: 'Read the blog',
    },
    {
      title: `What we've said`,
      actionUrl: '/collaboration/knowledge/presentations',
      actionText: 'View our presentations',
    },
    {
      title: `How we do things`,
      actionUrl: '/documentation/policy',
      actionText: 'Read our policies',
    },
    {
      title: 'What others are saying',
    },
    {
      title: 'Where can I learn more',
    },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={boxesPhoto}
      loading="eager"
      alt="a person opening boxes"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We strive to bring you the best of what the geospatial community has to offer. Here's a quick list of resources
      that we just can't live without. This list is by no means all inclusive—if you have tools or resources you really
      like, let us know and we'll see if we can include it here.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={blogPhoto}
      alt="A person sitting in a chair writing a blog post"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We blog about stuff. More specifically, we like to share insights, projects, tools, and best practices with the
      geospatial community.
    </p>
    <p>
      Occasionally we interview our colleagues and peers about their unique and impactful work, and the intersection of
      geospatial concepts and techniques within that work. Check out the <ExternalLink
        href="https://utahgeospatialpodcast.buzzsprout.com/">Utah Geospatial Podcast</ExternalLink
      > or listen to the latest episode below.
    </p>
    <Podcast id={1737415} />
    <p>
      We also have a quarterly <ExternalLink href="https://s.utah.gov/ugrc-newsletter">newsletter</ExternalLink> that you
      can subscribe to where we highlight our best content from the last three months.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={conferenceLogo}
      alt="a person talking to a group of people at a conference"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We love sharing our experiences and solutions at conferences, and we make all our presentation materials available
      for anyone to access. These are a great way to learn what we're doing, what problems we encountered, and how we
      solved them.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={checklistPhoto}
      alt="A checklist of items to be completed"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We document all of our policies and procedures so we can operate in a consistent manner. Being familiar with these
      documents will allow you to know what to expect from us and what we expect from you. Please read our policies and
      procedures.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={groupPhoto}
      alt="A group of people talking and sharing with each other"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>There are many other great places to learn about GIS and to get help. Here are a few of our favorites:</p>
    <h4>Slack</h4>
    <p>
      Slack is our distributed communication platform of choice. The Spatial Community workspace is a thriving GIS
      community where we join with some helpful Esri employees, other public servants from across the country, and all
      other types of friends interested in GIS. This is a great place to ask realtime questions and spark a conversation
      with other GIS professionals. Join #arcgis-desktop and #arcgis-web and say hi to @steveoh, @Jake Adams, and
      @stdavis from UGRC.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://thespatialcommunity.org/#join">Join the community</ButtonLink>
    </div>

    <h4>X</h4>
    <p>
      X is our real time communication platform. We tweet as @MapUtah about new blog posts, <ExternalLink
        href="https://github.com/agrc/porter/issues">porter issues</ExternalLink
      >, issues with services, and other GIS info. If you want to know what is going on before anyone else, follow us on
      X.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://twitter.com/maputah">Follow along</ButtonLink>
    </div>
    <h4>Esri Forums</h4>
    <p>
      The Esri forums are a great place to find multiple people to help you with any issues or questions you may be
      having. We tend to lean toward the real time communication platforms, but the forums are a great place to ask
      questions and search for how someone else may have solved a problem.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://community.esri.com/">Create a post</ButtonLink>
    </div>

    <h4>Esri Ideas</h4>
    <p>
      The mechanism to make changes to Esri products is through the ideas website. Here you can propose, comment, and
      vote on ideas that you think would improve their products. Below are a few ideas we have suggested and would love
      your comment and support with.
    </p>
    <BulletedList>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-pro-ideas/keeping-consistent-layer-ids-when-publishing-a/idi-p/1362342"
          >Keeping consistent layer ids when publishing</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-enterprise-ideas/allow-marking-arcgis-server-services-as-deprecated/idi-p/1281015"
          >Allow marking arcgis server services as deprecated</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-pro-ideas/use-deprecation-flag-through-platform/idi-p/971940"
          >Use deprecation flag throughout the Esri platform</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/attribute-rules-ideas/improve-attribute-rule-debugging/idi-p/927913"
          >Improve attribute rule debugging</ExternalLink
        >.
      </li>
    </BulletedList>
    <div class="max-w-fit">
      <ButtonLink href="https://ideas.esri.com/">Submit an idea</ButtonLink>
    </div>
    <h4>Stack Exchange (GIS)</h4>
    <p>
      The GIS Stack Exchange is a great network of GIS professionals to ask questions and get answers in a consistent
      manner. This is an especially great place to ask questions about open source projects or other non-Esri GIS
      products.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://gis.stackexchange.com/">Ask a question</ButtonLink>
    </div>
  </Section>
  <Section {...page.section[5]}>
    <h4>Esri Training</h4>
    <p>
      Esri has many online courses that are included in the annual software maintenance cost. They also have several
      basic free courses that are a good introduction to GIS, ArcGIS Online, and ArcGIS Pro.
    </p>
    <h5>Free Esri Courses</h5>
    <h6>Introduction to GIS</h6>
    <BulletedList>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/5d9cd7de5edc347a71611ccc/gis-basics/"
          >GIS Basics</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.esri.com/training/catalog/57630435851d31e02a43f007/getting-started-with-arcgis-pro/"
          >Getting Started with ArcGIS Pro</ExternalLink
        > (Introduction to ArcGIS Pro)
      </li>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/596e584bb826875993ba4ebf/cartography./"
          >Cartography MOOC</ExternalLink
        > (This is a great introduction to cartographic design principles and applications.)
      </li>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/5b733e9d2fad23092c930883/arcgis-online-fundamentals/"
          >ArcGIS Online Fundamentals</ExternalLink
        > (This includes short introductory videos, one introductory course, and several advanced courses that require an
        active maintenance agreement.)
      </li>
    </BulletedList>
    <h6>ArcGIS Online Basics and Essentials</h6>
    <BulletedList>
      <li>
        Esri's <a href="https://doc.arcgis.com/en/arcgis-online/get-started/get-started.htm">getting started</a> page
      </li>
      <li>
        <ExternalLink href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm"
          >Understanding credits</ExternalLink
        >, which are how you pay for storage and analysis in ArcGIS Online
      </li>
      <li>
        ArcGIS Online user account control: <ExternalLink
          href="https://doc.arcgis.com/en/arcgis-online/reference/roles.htm">types, roles, and privileges</ExternalLink
        >
      </li>
      <li>
        <ExternalLink href="https://www.esri.com/en-us/arcgis/products/arcgis-online/buy"
          >ArcGIS Online pricing</ExternalLink
        > for user types and credits (purchased in blocks of 1,000)
      </li>
    </BulletedList>
    <h5>A Note on Figuring out ArcGIS Online Credits</h5>
    <p>
      (This is a quick summary of how UGRC understands ArcGIS Online credit accounting. For the official Esri position,
      check out Esri's <ExternalLink href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm"
        >Understand credits</ExternalLink
      > page.)
    </p>
    <p>
      Esri gives credit costs per month and billing is calculated each hour. For example, a 10 MB hosted feature service
      that was hosted for one month would use 2.4 credits. That same dataset hosted for an hour would be 2.4 / 30 / 24 =
      0.00333 credits and hosted for one year would be 28.8 credits.
    </p>
    <p>
      Tile layers (and other non-feature storage categories) are currently significantly cheaper (1/200th) than hosted
      feature layers—1.2 credits per 1 GB vs 2.4 credits per 10 MB.
    </p>
    <p>
      All your credits sit in a common pool regardless of where they come from. You’ll get a certain number of credits
      from different sources—various AGOL subscription levels, Business Analyst, or purchasing them outright. Some of
      these have different expiration dates, and right now there’s no good way in AGOL to tell how many will expire
      when. Good accounting is your only tool.
    </p>
    <h4><a href="https://www.qgis.org/en/site/forusers/trainingmaterial/index.html">QGIS Training</a></h4>
    <BulletedList>
      <li>
        <a href="https://docs.qgis.org/3.34/en/docs/gentle_gis_introduction/index.html">A Gentle Introduction to GIS</a>
      </li>
      <li><a href="https://docs.qgis.org/3.34/en/docs/training_manual/index.html">QGIS Training Manual</a>.</li>
      <li>
        <a href="https://www.qgistutorials.com/en/"
          >QGIS Tutorials and Tips: Step-by-step guides for common QGIS tasks</a
        >
      </li>
      <li>
        Baruch College's <a href="https://www.baruch.cuny.edu/confluence/display/geoportal/GIS+Practicum"
          >Introduction to GIS Using Open Source Software</a
        >
      </li>
    </BulletedList>
  </Section>
</Layout>
