---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import ButtonLink from '@components/page/ButtonLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import blogPhoto from '@images/collaboration/blog.svg';
import boxesPhoto from '@images/collaboration/boxes.svg';
import conferenceLogo from '@images/collaboration/conference.svg';
import groupPhoto from '@images/collaboration/group.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'GIS knowledge',
  pageDescription: 'We at UGRC strive to bring you the best of what the geospatial community has to offer.',
  pillar: Pillar.COLLABORATION,
  section: stripeSections([
    {},
    {
      title: `What we're saying`,
      actionUrl: '/blog',
      actionText: 'Read the blog',
    },
    {
      title: `What we've said`,
      actionUrl: '/collaboration/knowledge/presentations',
      actionText: 'View our presentations',
    },
    {
      title: 'What others are saying',
    },
    {
      title: 'Where can I learn more',
    },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={boxesPhoto}
      loading="eager"
      alt="a person opening boxes"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We at UGRC strive to bring you the best of what the geospatial community has to offer. Here’s a quick list of
      knowledge resources that we either use regularly or just can’t live without. This list is by no means all
      inclusive, so if you have tools or resources you really like - let us know and we’ll see if we can include it
      here.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={blogPhoto}
      alt="A person sitting in a chair writing a blog post"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We blog about stuff. More specifically, we blog about insights and projects that highlight our involvement in the
      geospatial community, as well as tools and best practices we have developed.
    </p>
    <p>
      Occasionally we interview our colleagues and peers about the unique and impactful work they’re doing, and the intersection of geospatial concepts and techniques within their work. Check out the <ExternalLink href="https://utahgeospatialpodcast.buzzsprout.com/">Utah Geospatial Podcast</ExternalLink>.
    </p>
    <p>
      We also have a quarterly <ExternalLink href="https://s.utah.gov/ugrc-newsletter">newsletter</ExternalLink> that you
      can subscribe to where we highlight the best content for the quarter.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={conferenceLogo}
      alt="a person talking to a group of people at a conference"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      We present at many conferences and we have kept the slide decks and presentations from those conferences. These
      are a great way to learn about what we are doing and how we are doing it.
    </p>
    <p>
      We document all of our policies and procedures so we can operate in a consistent manner. Being familiar with these
      documents will allow you to know what to expect from us and what we expect from you. Please read our <a
        href="/documentation/policy">policies and procedures</a
      >.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={groupPhoto}
      alt="A group of people talking and sharing with each other"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>There are many other great places to learn about GIS and to get help. Here are a few of our favorites:</p>
    <h4>Slack</h4>
    <p>
      Slack is our distributed communication platform of choice. A few members of UGRC, some helpful esri employees,
      other public servants from across the country, and all other types of friends interested in GIS are in the Spatial
      Community. This is a great place to ask realtime questions and spark a conversation with other GIS professionals.
      Join #arcgis-desktop and #arcgis-web and say hi to @steveoh, @Jake Adams, and @stdavis from UGRC.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://thespatialcommunity.org/#join">Join the community</ButtonLink>
    </div>

    <h4>X</h4>
    <p>
      X is our real time communication platform. We tweet as @MapUtah. New blog posts, porter issues, issues with
      services, etc are tweeted. If you want to know what is going on before anyone else, follow us on X.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://twitter.com/maputah">Follow along</ButtonLink>
    </div>
    <h4>Esri Forums</h4>
    <p>
      The esri forums are a great place to have multiple people help you with any issues or questions you may be having.
      We tend to lean toward the real time communication platforms, but the forums are a great place to ask questions
      and get answers.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://community.esri.com/">Create a post</ButtonLink>
    </div>

    <h4>Esri Ideas</h4>
    <p>
      The mechanism to make changes to esri products is through the ideas website. Here you can propose, comment, and
      vote on ideas that you think would improve the product. Below are a few ideas we have suggested and would love
      your comment and support with.
    </p>
    <BulletedList>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-pro-ideas/keeping-consistent-layer-ids-when-publishing-a/idi-p/1362342"
          >Keeping consistent layer ids when publishing</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-enterprise-ideas/allow-marking-arcgis-server-services-as-deprecated/idi-p/1281015"
          >Allow marking arcgis server services as deprecated</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/arcgis-pro-ideas/use-deprecation-flag-through-platform/idi-p/971940"
          >Use deprecation flag through out the esri platform</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://community.esri.com/t5/attribute-rules-ideas/improve-attribute-rule-debugging/idi-p/927913"
          >Improve attribute rule debugging</ExternalLink
        >.
      </li>
    </BulletedList>
    <div class="max-w-fit">
      <ButtonLink href="https://ideas.esri.com/">Submit an idea</ButtonLink>
    </div>
    <h4>Stack Exchange (GIS)</h4>
    <p>
      Stack Exchange is a great network of GIS professionals to ask questions and get answers in a consistent manner. We
      come here to ask questions non esri related about open source projects or other GIS products.
    </p>
    <div class="max-w-fit">
      <ButtonLink href="https://gis.stackexchange.com/">Ask a question</ButtonLink>
    </div>
  </Section>
  <Section {...page.section[4]}>
    <h4>Esri Training</h4>
    <p>
      Esri has many online courses that are included in the annual software maintenance cost. They also have several
      basic free courses that are a good introduction to GIS and ArcGIS Pro.
    </p>
    <h5>Free Esri Courses</h5>
    <BulletedList>
      <li>Intro to GIS.</li>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/5d9cd7de5edc347a71611ccc/gis-basics/"
          >GIS Basics</ExternalLink
        >.
      </li>
      <li>
        <ExternalLink
          href="https://www.esri.com/training/catalog/57630435851d31e02a43f007/getting-started-with-arcgis-pro/"
          >Getting Started with ArcGIS Pro</ExternalLink
        > (Intro ArcGIS Pro) .
      </li>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/596e584bb826875993ba4ebf/cartography./"
          >Cartography MOOC</ExternalLink
        > (This is a great introduction to cartographic design principles and applications.) .
      </li>
      <li>
        <ExternalLink href="https://www.esri.com/training/catalog/5b733e9d2fad23092c930883/arcgis-online-fundamentals/"
          >AGOL Fundamentals</ExternalLink
        > (This includes short intro videos; one intro course; and several advanced, maintenance required courses.) .
      </li>
    </BulletedList>
    <h5>AGOL Basics and Essentials</h5>
    <BulletedList>
      <li>
        Esri’s <a href="https://doc.arcgis.com/en/arcgis-online/get-started/get-started.htm">getting started</a> page .
      </li>
      <li>
        <ExternalLink
          href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm#ESRI_SECTION1_709121D2C7694DCAB9B8592F36F7A5BA"
          >Credit usage by capability</ExternalLink
        >.
      </li>
      <li>
        Credits can be <ExternalLink
          href="https://www.esri.com/en-us/arcgis/products/credits/buy?rmedium=www_esri_com_EtoF&rsource=/en-us/store/arcgis-online/arcgis-online-credits"
          >purchased</ExternalLink
        > in blocks of 1,000, usually for $100 (i.e., 10 cents/credit).
      </li>
      <li>
        <ExternalLink
          href="https://www.esri.com/en-us/arcgis/products/arcgis-online/buy?rmedium=esri_com_regex&rsource=arcgis-online"
          >AGOL subscription types and pricing</ExternalLink
        >.
      </li>
      <li>
        AGOL user account control: <ExternalLink href="https://doc.arcgis.com/en/arcgis-online/reference/roles.htm"
          >types, roles, and privileges</ExternalLink
        >.
      </li>
    </BulletedList>
    <p>
      <ExternalLink href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm"
        >A Note on Figuring out AGOL Credits</ExternalLink
      >
    </p>
    <p>
      (This is a quick summary of how UGRC understands AGOL credit accounting. For the official Esri position, check out
      Esri’s <ExternalLink href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm"
        >Understand credits</ExternalLink
      > page.
    </p>
    <p>
      Esri gives credit costs per month and billing is calculated each hour. For example, a 10 MB hosted feature service
      that was hosted for one month would use 2.4 credits. That same dataset hosted for an hour would be 2.4 / 30 / 24 =
      0.00333 credits and hosted for one year would be 28.8 credits.
    </p>
    <p>
      Tile layers (and other non-feature storage categories) are currently significantly cheaper (1/200th) than hosted
      feature layers—1.2 credits per 1 GB vs 2.4 credits per 10 MB.
    </p>
    <p>
      All your credits sit in a common pool regardless of where they come from. You’ll get a certain number of credits
      from different sources—various AGOL subscription levels, Business Analyst, or purchasing them outright. Some of
      these have different expiration dates, and right now there’s no good way in AGOL to tell how many will expire
      when. Good accounting is your only tool.
    </p>
    <h4><a href="https://www.qgis.org/en/site/forusers/trainingmaterial/index.html">QGIS Training</a></h4>
    <BulletedList>
      <li>
        <a href="https://docs.qgis.org/3.34/en/docs/gentle_gis_introduction/index.html">A Gentle Introduction to GIS</a
        >.
      </li>
      <li><a href="https://docs.qgis.org/3.34/en/docs/training_manual/index.html">QGIS Training Manual</a>.</li>
      <li>
        <a href="https://www.qgistutorials.com/en/"
          >QGIS Tutorials and Tips: Step-by-step guides for common QGIS tasks</a
        >.
      </li>
      <li>
        Baruch College’s <a href="https://www.baruch.cuny.edu/confluence/display/geoportal/GIS+Practicum"
          >Introduction to GIS Using Open Source Software</a
        >.
      </li>
    </BulletedList>
  </Section>
</Layout>
