---
interface Props {
  description: string;
  title: string;
  slug: string;
  date: Date;
  includeYear?: boolean;
  estimatedReadingTime?: string;
}

import FormattedDate from '../FormattedDate.astro';

const { title, description, slug, date, includeYear, estimatedReadingTime } = Astro.props;
---

<div class="rounded-lg border border-zinc-400 bg-white dark:border dark:border-white/20 dark:bg-zinc-900/70">
  <a href={`/blog/${slug}/`} class="custom-style flex flex-1 divide-x-2 divide-zinc-300/60 p-4">
    <div class="pr-1">
      <FormattedDate date={date} style={includeYear ? 'short-with-year' : 'short'} />
    </div>
    <div class="flex flex-1 pl-6">
      <div class="flex flex-1 flex-col">
        <p class="line-clamp-1 grow font-semibold text-primary dark:text-zinc-200">
          {title}
          <span class="text-sm font-normal">({estimatedReadingTime})</span>
        </p>
        <p class="line-clamp-2 grow text-zinc-600 dark:text-zinc-300">{description}</p>
      </div>
      <div class="hidden self-center text-4xl text-primary sm:block dark:text-zinc-300">&#x2192;</div>
    </div>
  </a>
</div>
