---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  name: string;
  team: string;
  tags?: string[];
  email: string;
  x?: string;
  photo?: string;
}

const convert = (name: string) => name.toLowerCase().replaceAll(' ', '-');

const { name, team, x, tags, email } = Astro.props;

const location = '/src/images/pillar-contact/staff/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/pillar-contact/staff/*.{svg,png}');
---

<li>
  <div class="grid h-60 grid-cols-150 items-center gap-1 p-3 sm:grid-cols-3-150">
    <Image
      class="size-32 rounded-full border-2 border-primary/90 shadow-xl dark:border-accent"
      src={images[`${location}${convert(name)}.png`]()}
      alt={`portrait of ${name} with a white background`}
      width={128}
      height={128}
    />
    <div>
      <h3 class="text-base font-semibold leading-7 tracking-tight">{name}</h3>
      <div class="text-base text-secondary dark:text-accent">
        <p class="text-sm font-semibold leading-6">
          <a href={`mailto:${email}`}>{email}</a>
        </p>
        {
          x && (
            <p class="text-sm font-semibold leading-6">
              <a href={`https://x.com/${x}`}>{x}</a>
            </p>
          )
        }
      </div>
      <div class="text-sm font-semibold leading-6">
        <div class="flex items-center text-base text-zinc-500 dark:text-zinc-300">
          <p class="text-sm font-medium leading-6">{team}</p>
        </div>
      </div>
    </div>
    <div
      class="col-span-2 flex flex-row flex-wrap items-end justify-center gap-2 self-center text-xs sm:col-span-1 sm:flex-col sm:gap-0.5"
    >
      {
        tags &&
          tags
            .sort((a, b) => a.length - b.length)
            .map((tag) => (
              <div class="select-none self-center rounded-full border border-secondary bg-primary/90 px-4 py-1 text-center font-semibold lowercase text-zinc-50 dark:border-accent/30 dark:bg-secondary">
                {tag.replaceAll(' ', '-')}
              </div>
            ))
      }
    </div>
  </div>
</li>
