---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Parks Local',
  description: `Local neighborhood parks and open spaces.`,
  stewards: ['UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.RECREATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`June 2023`, `January 2020`],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout pageTitle={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Local neighborhood parks and open spaces. These data do not include state or national parks.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Parks and Recreation" href="https://slco.org/parks-recreation/parks-trails/all-parks/"
        >Salt Lake County Parks and Recreation.</CardWithPopularLink
      >
      <CardWithPopularLink title="SLC Parks" href="https://www.slc.gov/parks/find-a-park/"
        >Salt Lake City Public Lands Department.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Ski Areas" href="/products/sgid/recreation/ski-areas" style="secondary"
        >Ski area boundaries.</CardWithSmallLink
      >
      <CardWithSmallLink title="Trails" href="/products/sgid/recreation/trails-pathways" style="secondary"
        >Trails and pathways.</CardWithSmallLink
      >
      <CardWithSmallLink title="Golf" href="/products/sgid/recreation/golf-courses" style="secondary"
        >Golf courses.</CardWithSmallLink
      >
      <CardWithSmallLink title="Cemeteries" href="/products/sgid/society/cemeteries" style="secondary"
        >Cemetery locations.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
