---
import Layout from '@layouts/Pillar.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';
import ApiDescription from '@partials/ApiDescription.astro';

import { Image } from 'astro:assets';

import apiClientInstallPhoto from '@images/api/api-client-install.svg';
import apiLogo from '@images/api/api-logo.svg';
import documentationPhoto from '@images/api/documentation.svg';
import privacyPhoto from '@images/api/privacy.svg';
import selfServicePhoto from '@images/api/self-service.svg';
import signUpPhoto from '@images/api/sign-up.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'UGRC API',
  pageDescription: 'The UGRC API is a free service that allows you to geocode and search SGID data.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    {},
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300" />
  <Fragment slot="popular-level-ones">
    <Section>
      <Fragment slot="title">The UGRC API</Fragment>
      <Image
        src={apiLogo}
        slot="image"
        loading="eager"
        alt="wavy gravy api logo"
        class="w-full rounded-2xl dark:brightness-200 dark:grayscale"
      />
      <ApiDescription />
    </Section>

    <Section stripe>
      <GridForPillars>
        <CardWithTopImage
          title="Sign up"
          actionText="Get started"
          actionUrl="https://ut-dts-agrc-web-api-dev.web.app/getting-started/"
        >
          <Image slot="image" src={signUpPhoto} alt="a person filling out a form" class="block h-44" />
          The UGRC API is a free service that allows you to geocode and search SGID data. To use the API, you need to have
          an account and create API keys. These key are used to authenticate requests and to give you usage analytics. Click
          the link below to get started.
        </CardWithTopImage>
        <CardWithTopImage
          title="Documentation"
          actionText="Start learning"
          actionUrl="https://ut-dts-agrc-web-api-dev.web.app/docs/"
        >
          <Image slot="image" src={documentationPhoto} alt="a person reading books" class="block h-44" />
          There are many ways to use the UGRC API. We have created documentation to help you get started. Click the link
          below to learn more about the API and how to use it.
        </CardWithTopImage>
        <CardWithTopImage title="API Client" actionText="Start geocoding" actionUrl="/products/sgid/address/api-client">
          <Image
            slot="image"
            src={apiClientInstallPhoto}
            alt="a person installing a program on a computer with a loading screen"
            class="block h-44"
          />
          The API Client is a desktop tool to thoughtfully guide you through the process of using the UGRC API to geocode
          your data. It allows you to geocode your data without any knowledge of the API. It requires no license and is free
          to use. Click the link below to download the application and visualize your data.
        </CardWithTopImage>
      </GridForPillars>
    </Section>
  </Fragment>

  <Section slot="popular-resources" {...page.section[1]}>
    <GridForPopularResources>
      <CardWithPopularLink
        title="Sample Code"
        href="https://github.com/agrc/api.mapserv.utah.gov/tree/development/samples"
      >
        Sample code calling the API in multiple programming languages
      </CardWithPopularLink>
      <CardWithPopularLink title="dart-board" href="https://www.npmjs.com/package/@ugrc/dart-board">
        A react component for geocoding addresses and route/mileposts using UGRC's API.
      </CardWithPopularLink>
      <CardWithPopularLink title="sherlock" href="https://www.npmjs.com/package/@ugrc/sherlock">
        A react component for searching for data and zooming to it on an ArcGIS map using UGRC's API as well as other
        providers.
      </CardWithPopularLink>
      <CardWithPopularLink title="masquerade" href="https://github.com/agrc/masquerade">
        A proxy service that impersonates an Esri locator using the UGRC API and SGID data.
      </CardWithPopularLink>
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[2]}>
    <GridForMoreResources>
      <CardWithSideImage title="Privacy Policy" actionUrl="https://ut-dts-agrc-web-api-dev.web.app/privacy/">
        <Image slot="image" src={privacyPhoto} alt="a computer with a lock on the screen" class="self-center" />
        UGRC's data license and general data disclaimer.
      </CardWithSideImage>
      <CardWithSideImage title="API Self Service" actionUrl="https://ut-dts-agrc-web-api-dev-self-service.web.app/">
        <Image
          slot="image"
          src={selfServicePhoto}
          alt="a person checking out at the grocery store"
          class="self-center"
        />
        The self service website to create, manage, and view analytics for your API keys.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[3]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="layer-selector" href="https://www.npmjs.com/package/@ugrc/layer-selector">
        A react component for adding a quick base map selector with a happy path for using UGRC's Discover base maps.
      </CardWithSmallLink>
      <CardWithSmallLink title="mouse-trap" href="https://www.npmjs.com/package/@ugrc/mouse-trap">
        A react component to display cursor coordinates while hovering over an ArcGIS Maps SDK MapView.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
