---
import Layout from '@layouts/Pillar.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import citePhoto from '@images/discover/cite.svg';
import discoverLogo from '@images/discover/discover-logo.svg';
import getConnectedPhoto from '@images/discover/get-connected.svg';
import licensedAccessPhoto from '@images/discover/licensed-access.svg';
import schedulePhoto from '@images/discover/schedule.svg';
import signUpPhoto from '@images/discover/sign-up.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Discover base maps',
  pageDescription:
    'Elevate your GIS, CAD, and web applications with Discover, a cloud-based web service serving aerial imagery and base maps.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    {},
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300" />
  <Fragment slot="popular-level-ones">
    <Section>
      <Fragment slot="title">Discover imagery and base maps</Fragment>
      <Image
        src={discoverLogo}
        slot="image"
        loading="eager"
        alt="wavy gravy api logo"
        class="w-full rounded-2xl dark:brightness-200 dark:grayscale"
      />
      <p>
        Elevate your GIS, CAD, and web applications with Discover, a cloud-based web service serving aerial imagery and
        base maps. These services are available in both WMTS and WMS formats from the Open Geospatial Consortium (OGC)
        for broad compatibility and are provided in the Web Mercator WGS84 projection (wkid/EPSG 3857).
      </p>
      <p>Discover offers over 20 services that are free to use (however, a few require a signed license agreement).</p>
    </Section>

    <Section stripe>
      <GridForPillars>
        <CardWithTopImage
          title="General access"
          actionText="Register now"
          actionUrl="https://docs.google.com/forms/d/1vS0Yw9DKezmDcJOCU-2MA-xXTHPMp3mBW4Y16RxMI0o/edit?ts=5cf67b75"
        >
          <Image slot="image" src={signUpPhoto} alt="a person filling out a form" class="block h-44" />
          Anyone can sign up for a free general access to our base maps, NAIP aerial imagery, and older high-resolution orthophoto
          (HRO) products. These make great backdrops for many different datasets, and the NAIP imagery is a great free-to-use
          aerial imagery layer for medium- and small-scale maps.
        </CardWithTopImage>
        <CardWithTopImage
          title="Licensed access"
          actionText="Register now"
          actionUrl="https://docs.google.com/forms/d/18FnT2fdg7nrA9xZYKUYV5UvxG0GO9w9DNFfeNG1D4TU/edit?ts=5cf67d38"
        >
          <Image
            slot="image"
            src={licensedAccessPhoto}
            alt="A person looking at their phone with a fingerprint on the screen and a lock"
            class="block h-44"
          />
          Utah state agencies, cities, counties, special service districts, educational institutions and their students,
          and tribal entities (along with formal partners of these groups) can sign up for licensed access to our latest
          state-wide high-resolution aerial imagery in both streaming and downloadable formats.
        </CardWithTopImage>
        <CardWithTopImage title="Get connected" actionText="Get started" actionUrl="/documentation/discover/clients">
          <Image slot="image" src={getConnectedPhoto} alt="A person sitting on a globe" class="block h-44" />
          The WMTS and WMS links you receive after registering for access work in a wide variety of software programs and
          web development platforms. We've put together guides for the most popular programs to help you get started.
        </CardWithTopImage>
      </GridForPillars>
    </Section>
  </Fragment>

  <Section slot="popular-resources" {...page.section[1]}>
    <GridForPopularResources>
      <CardWithPopularLink title="Raster discovery app" href="https://raster.utah.gov">
        Download NAIP and HRO imagery.
      </CardWithPopularLink>
      <CardWithPopularLink title="Licensed access details" href="/documentation/discover/licensed-imagery">
        Who qualifies and why.
      </CardWithPopularLink>
      <CardWithPopularLink title="Discover the docs" href="/documentation/discover"
        >Discover new ways to use Discover
      </CardWithPopularLink>
      <CardWithPopularLink title="Atlas" href="https://atlas.utah.gov"
        >Explore our base maps and licensed imagery in your browser- no account required!
      </CardWithPopularLink>
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[2]}>
    <GridForMoreResources>
      <CardWithSideImage title="Citing your sources" actionUrl="/documentation/discover/licensed-imagery">
        <Image slot="image" src={citePhoto} alt="an arm holding a pencil on a piece of paper" class="self-center" />
        Using the licensed imagery may require additional citation.
      </CardWithSideImage>
      <CardWithSideImage title="Base map update schedule" actionUrl="/documentation/discover/maintenance-schedule">
        <Image slot="image" src={schedulePhoto} alt="a person pointing at a calendar" class="self-center" />
        See when your favorite base map was last updated with our authoritative data.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[3]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="SGID" href="/products/sgid">
        View the data from the base maps in the SGID.
      </CardWithSmallLink>
      <CardWithSmallLink title="UGS aerial imagery database" href="https://imagery.geology.utah.gov/"
        >Travel back in time with historic imagery.
      </CardWithSmallLink>
      <CardWithSmallLink title="USGS TopoView" href="https://ngmdb.usgs.gov/topoview/"
        >Explore, interact, and download topographic maps from the USGS free of charge.
      </CardWithSmallLink>
      <CardWithSmallLink title="USGS EarthExplorer" href="https://earthexplorer.usgs.gov/"
        >Download vector, topographical, and remote sensing data.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
