---
import Layout from '@layouts/Pillar.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import dataSharingPhoto from '@images/sgid/data-sharing-agreement.svg';
import licensePhoto from '@images/sgid/license-disclaimer.svg';
import openSgidPhoto from '@images/sgid/open-sgid.svg';
import sgidIndexPhoto from '@images/sgid/sgid-index.svg';
import sgidOpenDataPhoto from '@images/sgid/sgid-opendata.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'State Geographic Information Datasource',
  pageDescription:
    'The SGID provides a one-stop access point to hundreds of data layers that are maintained by state agencies.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300" />
  <Section slot="popular-level-ones">
    <GridForPillars>
      <CardWithTopImage title="What is the SGID" actionText="Learn more" actionUrl="/documentation/sgid">
        <Image
          slot="image"
          loading="eager"
          src={sgidOpenDataPhoto}
          alt="people connected to a network through geography"
          class="block h-44"
        />
        The SGID aims to be the primary source for state-wide GIS data in Utah by creating a single portal to datasets created
        by many different agencies and organizations. With such a broad scope, SGID datasets live in many different places
        depending on their type, availability, and popularity.
      </CardWithTopImage>
      <CardWithTopImage title="Data Categories" actionText="Browse our data" actionUrl="/products/sgid/categories">
        <Image
          slot="image"
          loading="eager"
          src={openSgidPhoto}
          alt="a person connected to a database"
          class="block h-44"
        />
        SGID data is organized into 27 categories to help you find the data you need. e.g. boundaries, cadastre, elevation
        and terrain, and water to name a few. Within the Open SGID, these are schemas. In the SGID on ArcGIS they are groups.
        Each category contains datasets that relate to the parent category. This organization helps you discover the data
        you need and related datasets you might not have known about for your projects or learning.
      </CardWithTopImage>
      <CardWithTopImage title="SGID Index" actionText="Search the index" actionUrl="/products/sgid/sgid-index/">
        <Image
          slot="image"
          loading="eager"
          src={sgidIndexPhoto}
          alt="a person using a search engine"
          class="block h-44"
        />
        The SGID Index is <span class="font-bold">the primary source</span> of information for SGID datasets. It includes
        links to detailed information pages about UGRC-maintained datasets as well as direct links to the authoritative sources
        for datasets served by other state agencies. The index lists the resource's category, name, and primary data steward,
        along with a short description of the resource and links to web services (if available).
      </CardWithTopImage>
    </GridForPillars>
  </Section>

  <Section slot="popular-resources" {...page.section[0]}>
    <GridForPopularResources>
      <CardWithPopularLink title="Address data" href="/products/sgid/address">
        Browse the address category
      </CardWithPopularLink>
      <CardWithPopularLink title="Aerial photos" href="/products/sgid/aerial-photography">
        View aerial photography
      </CardWithPopularLink>
      <CardWithPopularLink title="Base maps" href="/products/sgid/base-maps">
        View base maps and imagery
      </CardWithPopularLink>
      <CardWithPopularLink title="Topo maps" href="/products/sgid/topo">View USGS topo maps</CardWithPopularLink>
      <CardWithPopularLink title="Boundaries" href="/products/sgid/boundaries"
        >Browse the boundary category</CardWithPopularLink
      >
      <CardWithPopularLink title="Parcels" href="/products/sgid/cadastre/parcels">View parcel data</CardWithPopularLink>
      <CardWithPopularLink title="Land ownership" href="/products/sgid/cadastre/land-ownership"
        >View land ownership</CardWithPopularLink
      >
      <CardWithPopularLink title="Transportation" href="/products/sgid/transportation"
        >Browse the transportation category</CardWithPopularLink
      >
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[1]}>
    <GridForMoreResources>
      <CardWithSideImage title="SGID on ArcGIS" actionUrl="https://opendata.gis.utah.gov/">
        <Image slot="image" src={licensePhoto} alt="man in front of warning sign" class="self-center" />
        Browse the SGID through ArcGIS Hub.
      </CardWithSideImage>
      <CardWithSideImage title="SGID Documentation" actionUrl="/documentation/sgid">
        <Image slot="image" src={dataSharingPhoto} alt="people shaking hands" class="self-center" />
        Learn what SGID resource is the best for your project.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[2]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="Contributing to the SGID" href="/documentation/sgid/sharing" style="secondary">
        If you or your agency are a steward of Utah GIS data layers, you can get the best return on your hard work and
        investment by sharing your data with the SGID.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="UGRC Shelf"
        href="http://utah.maps.arcgis.com/home/group.html?id=8765687b7b0545668fff02d1b750f7a9"
        style="secondary"
      >
        UGRC removes datasets from the Open SGID that are no longer current but continue to have historical value (e.g.,
        Census/ACS data or previous tax district boundaries).
      </CardWithSmallLink>
      <CardWithSmallLink title="DNR Data Portal" href="https://dwr-data-utahdnr.hub.arcgis.com/" style="secondary">
        Explore spatial data relevant to Utah's aquatic and terrestrial wildlife distributions, habitats, and wildlife
        management.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="DEQ Data Portal"
        href="https://utahdeq.maps.arcgis.com/home/index.html"
        style="secondary"
      >
        Explore spatial data relevant to safeguarding and improving Utah’s air, land and water through balanced
        regulation.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
