---
import Layout from '@layouts/Pillar.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import cloudDataPhoto from '@images/sgid/cloud-data.svg';
import documentationPhoto from '@images/sgid/documentation.svg';
import openSgidPhoto from '@images/sgid/open-sgid.svg';
import sgidIndexPhoto from '@images/sgid/sgid-index.svg';
import sgidOpenDataPhoto from '@images/sgid/sgid-opendata.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'State Geographic Information Datasource',
  pageDescription:
    'The SGID provides a one-stop access point to hundreds of data layers that are maintained by state agencies.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs
    path={Astro.url.pathname}
    slot="crumbs"
    class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300"
    gradients="from-zinc-100 dark:from-zinc-900"
  />
  <Section slot="popular-level-ones">
    <GridForPillars>
      <CardWithTopImage title="What is the SGID" actionText="Learn more" actionUrl="/documentation/sgid">
        <Image
          slot="image"
          loading="eager"
          src={sgidOpenDataPhoto}
          alt="people connected to a network through geography"
          class="block h-44"
        />
        The SGID aims to be the primary source for state-wide GIS data in Utah by creating a single portal to datasets from
        many different agencies and organizations. With such a broad scope, SGID datasets live in many different places depending
        on their type, availability, and popularity.
      </CardWithTopImage>
      <CardWithTopImage title="Data Categories" actionText="Browse our data" actionUrl="/products/sgid/categories">
        <Image
          slot="image"
          loading="eager"
          src={openSgidPhoto}
          alt="a person connected to a database"
          class="block h-44"
        />
        Our SGID datasets are organized into 27 categories, such as Boundaries, Cadastre, Elevation & Terrain, or Water to
        name just a few. Each one contains related datasets to help you find what you need and discover related datasets
        you might not have known about. These categories are separate schemas within the Open SGID and separate groups in
        the SGID on ArcGIS.
      </CardWithTopImage>
      <CardWithTopImage title="SGID Index" actionText="Search the index" actionUrl="/products/sgid/sgid-index/">
        <Image
          slot="image"
          loading="eager"
          src={sgidIndexPhoto}
          alt="a person using a search engine"
          class="block h-44"
        />
        The SGID Index is <span class="font-bold">the primary listing </span> of SGID datasets. It includes links to detailed
        information pages about UGRC-maintained datasets as well as direct links to the authoritative sources for datasets
        served by other state agencies. It lists the resource's category, name, and primary data steward, along with a short
        description of the resource and links to web services (if available).
      </CardWithTopImage>
    </GridForPillars>
  </Section>

  <Section slot="popular-resources" {...page.section[0]}>
    <GridForPopularResources>
      <CardWithPopularLink title="Address data" href="/products/sgid/address">
        "Where" often begins with addresses
      </CardWithPopularLink>
      <CardWithPopularLink title="Aerial photos" href="/products/sgid/aerial-photography">
        See the world from above
      </CardWithPopularLink>
      <CardWithPopularLink title="Base maps" href="/products/sgid/base-maps">
        Use our beautiful base maps to quickly add a great background for your data
      </CardWithPopularLink>
      <CardWithPopularLink title="Topo maps" href="/products/sgid/topo"
        >Who doesn't love a classic USGS topo map?</CardWithPopularLink
      >
      <CardWithPopularLink title="Boundaries" href="/products/sgid/boundaries"
        >From "how close am I to the county line?" to "where do I vote?", boundaries shape our lives</CardWithPopularLink
      >
      <CardWithPopularLink title="Parcels" href="/products/sgid/cadastre/parcels"
        >Did you know we get parcel data from every county?</CardWithPopularLink
      >
      <CardWithPopularLink title="Land ownership" href="/products/sgid/cadastre/land-ownership"
        >National Forests and Parks for everyone!</CardWithPopularLink
      >
      <CardWithPopularLink title="Transportation" href="/products/sgid/transportation"
        >We can't tell you why the chicken crossed the road, but we can tell you which road it crossed</CardWithPopularLink
      >
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[1]}>
    <GridForMoreResources>
      <CardWithSideImage title="SGID on ArcGIS" actionUrl="https://opendata.gis.utah.gov/">
        <Image slot="image" src={cloudDataPhoto} alt="A person connected to a cloud database" class="self-center" />
        Browse the SGID through ArcGIS Hub.
      </CardWithSideImage>
      <CardWithSideImage title="SGID Documentation" actionUrl="/documentation/sgid">
        <Image slot="image" src={documentationPhoto} alt="A person reading books and papers" class="self-center" />
        Learn what SGID resource is the best for your project.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[2]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="Contributing to the SGID" href="/documentation/sgid/sharing">
        If you are a steward of Utah GIS data layers, you can get the best return on your hard work and investment by
        sharing your data far and wide through the SGID.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="UGRC Shelf"
        href="http://utah.maps.arcgis.com/home/group.html?id=8765687b7b0545668fff02d1b750f7a9"
      >
        This where we store data that are no longer current but continue to have historical value (e.g., Census/ACS data
        or previous tax district boundaries).
      </CardWithSmallLink>
      <CardWithSmallLink
        title="Department of Natural Resources' Data Portal"
        href="https://dwr-data-utahdnr.hub.arcgis.com/"
      >
        Explore spatial data relevant to Utah's aquatic and terrestrial wildlife distributions, habitats, and
        management.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="Department of Environmental Quality Data Portal"
        href="https://utahdeq.maps.arcgis.com/home/index.html"
      >
        Explore spatial data relevant to safeguarding and improving Utah's air, land, and water through balanced
        regulation.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
