---
import Layout from '@layouts/Pillar.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSideImage from '@components/page/CardWithSideImage.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import CardWithTopImage from '@components/page/CardWithTopImage.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForPillars from '@components/page/GridForPillars.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import getConnectedPhoto from '@images/turn/get-connected.svg';
import learningPhoto from '@images/turn/learning.svg';
import mapPhoto from '@images/turn/map.svg';
import signUpPhoto from '@images/turn/sign-up.svg';
import turnLogo from '@images/turn/turn-logo.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'TURN GPS',
  pageDescription:
    'The Utah Reference Network (TURN) is a GPS network of permanently installed GPS receivers and antennas throughout the state of Utah.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    {},
    { title: 'Popular resources', titlePosition: 'center' },
    { title: 'More resources', titlePosition: 'center' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-300" />
  <Fragment slot="popular-level-ones">
    <Section>
      <Fragment slot="title">The Utah Reference Network</Fragment>
      <Image
        src={turnLogo}
        slot="image"
        loading="eager"
        alt="wavy gravy turn logo"
        class="w-full rounded-2xl dark:brightness-200 dark:grayscale"
      />
      <p>
        The Utah Reference Network, TURN, is a high-precision global navigation satellite system (GNSS) providing
        real-time corrections and data for post processing. A GNSS network consists of permanently located GPS
        receivers, installed across an area, that generate real-time, high-accuracy GPS positioning. All of the
        permanently installed GPS receivers send their data to a central system via the internet. The central system
        analyzes the input to adjust and correct the data to provide the most accurate locations, usually down to
        centimeter level. Our networks use the Trimble PIVOT VRS Platform. The generated data is sent from the GPS
        receiver to the GPS reference network through a wireless connection using the Networked Transport of RTCM via
        Internet Protocol (NTRIP).
      </p>
    </Section>

    <Section stripe>
      <GridForPillars>
        <CardWithTopImage
          title="Registration"
          actionText="Register now"
          actionUrl="https://turngps-billpay.ugrc.utah.gov"
        >
          <Image slot="image" src={signUpPhoto} loading="eager" alt="a person filling out a form" class="block h-44" />
          Having centimeter precision is the new norm for surveying and mapping. Join the hundreds of others using the TURN
          GPS system to improve your accuracy. All that is required is a small yearly subscription and it only takes a few
          minutes to get started.
        </CardWithTopImage>
        <CardWithTopImage title="Get connected" actionText="Connect now" actionUrl="/documentation/turn/connecting">
          <Image
            slot="image"
            src={getConnectedPhoto}
            loading="eager"
            alt="a person connected to a database with a lock and key shield"
            class="block h-44"
          />
          Once you have an account you can connect to the network using a variety of devices. We've put together guides for
          many popular devices. If you don't see your device listed, contact us and we'll help you get connected.
        </CardWithTopImage>
        <CardWithTopImage title="Documentation" actionUrl="/documentation/turn">
          <Image
            slot="image"
            src={learningPhoto}
            loading="eager"
            alt="a person reading a book learning"
            class="block h-44"
          />
          There are many artifacts and resources available to help you get the most out of the TURN GPS system. We've put
          together a list of the most popular resources to help you get started including site logs and maps.
        </CardWithTopImage>
      </GridForPillars>
    </Section>
  </Fragment>

  <Section slot="popular-resources" {...page.section[1]}>
    <GridForPopularResources>
      <CardWithPopularLink title="TURN Network Map" href="https://arcg.is/0SG5ra0">
        View all of GPS station information in one place.
      </CardWithPopularLink>
      <CardWithPopularLink title="TURN Sensor map" href="https://turngps.utah.gov/Map/SensorMap.aspx">
        GPS Sensor map health and information.
      </CardWithPopularLink>
    </GridForPopularResources>
  </Section>

  <Section slot="more-resources" {...page.section[2]}>
    <GridForMoreResources>
      <CardWithSideImage title="TURN PDF wall map" actionUrl="/images/2023TURNGPSNetwork.png">
        <Image slot="image" src={mapPhoto} alt="a person holding a map with pins on it" class="self-center" />
        Hang the network on your wall.
      </CardWithSideImage>
      <CardWithSideImage title="Purchase or renew an account" actionUrl="https://turngps-billpay.ugrc.utah.gov/">
        <Image slot="image" src={mapPhoto} alt="a person checking out at the grocery store" class="self-center" />
        Instructions on how you can sign up for or renew your account.
      </CardWithSideImage>
    </GridForMoreResources>
  </Section>

  <Section slot="you-might-also-like" {...page.section[3]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="SGID" href="/products/sgid">
        View the data from the base maps in the SGID.
      </CardWithSmallLink>
      <CardWithSmallLink title="UGS aerial imagery database" href="https://imagery.geology.utah.gov/"
        >Travel back in time with historic imagery.
      </CardWithSmallLink>
      <CardWithSmallLink title="USGS TopoView" href="https://ngmdb.usgs.gov/topoview/"
        >Explore, interact, and download topographic maps from the USGS free of charge.
      </CardWithSmallLink>
      <CardWithSmallLink title="USGS EarthExplorer" href="https://earthexplorer.usgs.gov/"
        >Download vector, topographical, and remote sensing data.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
