---
import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import automationPhoto from '@images/solutions/automation.svg';
import developmentPhoto from '@images/solutions/development.svg';
import enhancePhoto from '@images/solutions/enhance.svg';
import mapPhoto from '@images/solutions/map.svg';
import rocketPhoto from '@images/solutions/rocket.svg';

import { Image } from 'astro:assets';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'Developer solutions',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    {},
    { title: 'Spatially enable it', actionText: 'Start geocoding', actionUrl: '/products/api' },
    { title: 'Show it off', actionText: 'View our base maps', actionUrl: '/products/discover' },
    { title: 'Enrich it', actionText: 'Browse our data', actionUrl: '/products/sgid' },
    { title: 'Automate it', actionText: 'Contact us', actionUrl: '/contact' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={developmentPhoto}
      loading="eager"
      alt="a person with a prototype on an easel and the app partially built on a phone"
      class="w-full max-w-[400px] rounded-2xl"
    />

    <p>
      Explore the variety of tools and resources that we offer to integrate geospatial tech, craft custom apps, and
      access valuable data. Whether you're a casual developer tinkering with configurable apps, an experienced
      developer, or a data scientist, we've got something for your current or next app project!
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image slot="image" src={rocketPhoto} alt="a rocket ship launching off a screen" class="w-full max-w-[400px]" />
    <p>
      The gateway to the spatial world often begins with an address. Let us enable you to geocode your address data
      <strong>without restriction</strong>. Once you have spatial data, the possibilities become limitless. The UGRC API
      is the foundation for offering this service, enabling geocoding and reverse geocoding of addresses and route and
      mileposts. It's a self-service API, allowing you to begin immediately. If you can write code to make an HTTP
      request you are on your way! Or you can interact with the API through our tailored desktop app, the UGRC API
      Client, or within the ArcGIS platform with Masquerade. Front-end developers can seamlessly integrate prebuilt UI
      to interact with the UGRC API into their apps using our React components. Even if we haven't built the specific
      component you require, our expertise extends to creating custom solutions across many platforms, including popular
      front-end libraries like React and Angular, as well as platform as a service (PaaS) implementations like
      Salesforce. Let us navigate the intricacies of geospatial integration, so you can focus on building the core
      functionalities of your app.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={mapPhoto} alt="two people holding a map" class="w-full max-w-[400px]" />

    <p>
      Once you have spatial data, you need a clean canvas to put it on. Our <a href="/products/discover">Discover</a> base
      map and imagery web services provide access to both aerial imagery and our collection of <a
        href="/products/discover">base maps</a
      >
      that you can use in web maps. Enjoy the locally sourced authoritative data carefully styled by our cartographers without
      the restrictions and cost of other base map providers. Our WMTS compliant base maps are designed to be used in a variety
      of applications and are available in a variety of formats including vector and raster tiles.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={enhancePhoto}
      alt="a person with a box labeled v2 that is upgrading their application"
      class="w-full max-w-[400px]"
    />

    <p>
      The SGID on ArcGIS and the UGRC API provide access to our entire collection of data that can be accessed via HTTP
      and used to enrich your data and applications. These SGID data are a one stop shop for data such as house, senate,
      and congressional districts, city and county boundaries, school districts, census blocks, and much more. The
      feature services in the SGID on ArcGIS and the UGRC API offer search and query endpoints that return JSON. For
      example, you can use the coordinates of a geocoded address to find the legislative districts that it falls within.
      Or if a parcel of land is in a floodplain. Or how many people live within a certain distance of a proposed
      development. The possibilities are endless.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image slot="image" src={automationPhoto} alt="a robot automating a task" class="w-full max-w-[400px]" />

    <p>
      Do you have data in a system that you want to use in a mapping application but it isn't natively spatial, publicly
      accessible, or can't efficiently be drawn on a map? We have a variety of tools and resources to help you automate
      the process of getting your data into a spatial format and into a web map. Whether it is data in Salesforce, a
      database, or a spreadsheet, we can help you get it into a spatial format and into a web map. The extract,
      transform, load (ETL) process is a common way to automate the process of getting data into a spatial format. We
      have a couple of tools built to ETL your data. Contact us to find out which product is right for you.
    </p>
  </Section>
</Layout>
