---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import accessiblePhoto from '@images/solutions/accessible.svg';
import agreementPhoto from '@images/solutions/agreement.svg';
import applicationDevelopmentPhoto from '@images/solutions/application-development.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'What we offer surveyors',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    {},
    { title: 'Solutions for surveyors' },
    { title: 'Stuff' },
    { title: 'More stuff' },
    { title: 'GPS location services' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <p>text</p>
  </Section>
  <Section {...page.section[1]}>
    <Image slot="image" src={agreementPhoto} alt="two people shaking hands in agreement" class="w-full max-w-[400px]" />
    <p>text</p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={accessiblePhoto} alt="a person breaking down a wall" class="w-full max-w-[400px]" />
    <p>text</p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={applicationDevelopmentPhoto}
      alt="a person standing in front of a monitor holding a wrench with a crane in the background"
      class="w-full max-w-[400px]"
    />
    <p>text</p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={applicationDevelopmentPhoto}
      alt="a person standing in front of a monitor holding a wrench with a crane in the background"
      class="w-full max-w-[400px]"
    />
    <p>text</p>
  </Section>
</Layout>
