---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import making911CallPhoto from '@images/solutions/emergency-call.svg';
import ambulanceHospitalPhoto from '@images/solutions/hospital-building.svg';
import peopleInLibraryPhoto from '@images/solutions/library.svg';
import manMapCityPhoto from '@images/solutions/location-man-map.svg';
import dispatchCenterPhoto from '@images/solutions/monitor-station.svg';
import { Image } from 'astro:assets';

import BulletedList from '@components/page/BulletedList.astro';
import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Emergency response',
  pageDescription:
    'Discover resources and solutions for emergency response, including 911 resources and temporary solutions.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { title: 'Resources for 911' },
    { title: 'Service area boundaries' },
    { title: 'Civic location data' },
    {
      title: 'NG911 dataset',
      actionText: 'Download the NG911 dataset',
      actionUrl: 'https://drive.google.com/a/utah.gov/uc?id=1Sp6v4FmNV5fhdfEWPTxPGHMbnz-yeY47&export=download',
    },
    { title: 'Additional resources and services' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={making911CallPhoto}
      loading="eager"
      alt="a person making a 911 call"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Every second counts in an emergency. Accurate and precise GIS data is the backbone for a swift and effective 911
      response. That is where the Utah Geospatial Resource Center (UGRC) comes in.
    </p>
    <p>
      UGRC empowers Public Safety Answering Points (PSAPs) by providing access to a comprehensive suite of accurate and
      up-to-date geospatial data. This includes vital infrastructure layers such as service area boundaries and civic
      location data. With this data, PSAPs can pinpoint caller location, ensuring emergency responders are dispatched to
      the appropriate scene.
    </p>
    <p>
      UGRC goes beyond data provision, offering technical assistance and fostering collaboration between PSAPs. By
      ensuring all players have access to the same high-quality GIS data, UGRC plays a critical role in streamlining
      emergency response and potentially saving lives.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={ambulanceHospitalPhoto}
      alt="an ambulance parked in front of a hospital"
      class="w-full max-w-[400px]"
    />
    <p>
      Service area boundaries are required data layers for PSAPs and dispatch centers and include EMS, fire, and law.
    </p>
    <p>
      These boundaries define the specific geographic areas each emergency service agency is responsible for. This
      allows dispatchers to quickly identify the most appropriate agency to respond to an incident based on its
      location. Dispatching the closest and most qualified unit saves valuable time and ensures resources are used
      efficiently.
    </p>
    <p>
      UGRC maintains statewide geographic data layers for each the required service area boundaries. These layers are
      updated on a monthly basis and are actively used in the state's Next Generation 911 (NG911) call routing system.
    </p>
    <p>Learn more and explore the data for each of these layers on UGRC's product pages:</p>
    <BulletedList>
      <li><a href="/products/sgid/society/emergency-medical-response-areas">EMS</a></li>
      <li><a href="/products/sgid/society/fire-response-areas">Fire</a></li>
      <li><a href="/products/sgid/society/law-enforcement-boundaries">Law</a></li>
    </BulletedList>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={manMapCityPhoto} alt="a man holding a map in the city" class="w-full max-w-[400px]" />
    <p>lorem</p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={dispatchCenterPhoto}
      alt="a person sitting in front of a computer command center"
      class="w-full max-w-[400px]"
    />
    <p>
      UGRC is the official Next-Generation-911 (NG911) geospatial data provider for the Utah statewide 911 system. We
      work closely with the Utah Communications Authority's (UCA) <ExternalLink
        href="https://www.uca911.org/911-division">911 Division</ExternalLink
      > to ensure that all 911 calls in Utah are routed to the appropriate PSAP.
    </p>
    <p>
      UGRC's NG911 Dataset provides the foundation to this system. The dataset adheres to the <ExternalLink
        href="https://www.nena.org/page/standards">National Emergency Number Association</ExternalLink
      > (NENA) standard. It includes the essential layers like road centerlines, address points, and PSAP, fire, and law
      boundaries. Additionally, the dataset incorporates many recommended layers, such as cell towers, county boundaries,
      hydrology lines (streams and lakes), incorporated municipalities, mile markers, railroads, state boundaries, and unincorporated
      communities. The primary source for the NG911 Dataset is the SGID.
    </p>
    <p>
      The NG911 Dataset is a great starting point for PSAPs wanting to explore what UGRC has to offer. It is updated
      monthly and can be downloaded as a file geodatabase.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={peopleInLibraryPhoto}
      alt="people in a library looking at resources"
      class="w-full max-w-[400px]"
    />
    <p>...</p>
  </Section>
</Layout>
