---
import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import accessiblePhoto from '@images/solutions/accessible.svg';
import agreementPhoto from '@images/solutions/agreement.svg';
import applicationDevelopmentPhoto from '@images/solutions/application-development.svg';
import gps from '@images/solutions/gps.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'What we offer surveyors',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    {},
    { title: 'Solutions for surveyors' },
    { title: 'About the network' },
    { title: 'Benefits of our network' },
    { title: 'Plans for the future' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <p>
      We're proud to offer surveyors centimeter-level precision measurements through our TURN GPS Network. The TURN
      Network is a high-precision global navigation satellite system (GNSS) providing real-time corrections and data for
      post processing. Surveyors in Utah, Nevada, Idaho, and Wyoming are taking advantage of this useful service for a
      variety of purposes including research, engineering, drone operations, and more!
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image slot="image" src={agreementPhoto} alt="two people shaking hands in agreement" class="w-full max-w-[400px]" />
    <p>
      Surveyors have long relied on GPS for their land surveying needs. When GNSS networks came along, offering more
      reliable, high-precision accuracy, the survey industry was one of the earliest adopters of the new technology.
    </p>
    <p>
      Today, networks such as ours offer coverage across the globe. Our TURN and Reno networks provides coverage in not
      only Utah, but Nevada, Wyoming, and Idaho. We continue to offer surveryors a reliable network and expert support.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={accessiblePhoto} alt="a person breaking down a wall" class="w-full max-w-[400px]" />
    <p>
      The TURN Network has grown significantly since it was first launch in 2006. Originally, the network only supported
      surveyors working in Utah. In the spring of 2017, the Reno network was created to aid survey needs in the Reno,
      Nevada region Over time, we added more stations to improve accuracy and service for our clients.
    </p>
  </Section>

  <Section {...page.section[3]}>
    <Image slot="image" src={gps} alt="a person breaking down a wall" class="w-full max-w-[400px]" />
    <p>
      TURNGPS is used for a range of precision GPS applications including surveying, engineering, construction and GIS
      data collection. Benefits of using our network include:
    </p>
    <BulletedList>
      <li>Ideal for municipal asset management and feature collection.</li>
      <li>
        Eliminates traditional time wasting processes to improve GPS data; corrections are given real time in the field.
      </li>
      <li>
        TURNGPS enables high-accuracy positioning in real time over much larger geographic region than standard real
        time methods, using the internet for communication.
      </li>
      <li>
        It maximizes the performance from a network of reference stations and eliminates the need to set up a temporary
        field base station for each individual project or post processing data, saving you time and money.
      </li>
      <li>It is ideal for any application requiring reliable, fast, high precision wide area positioning.</li>
    </BulletedList>
  </Section>

  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={applicationDevelopmentPhoto}
      alt="a person standing in front of a monitor holding a wrench with a crane in the background"
      class="w-full max-w-[400px]"
    />
    <p>
      Our network extensively covers the state of Utah. We also offer coverage in other states including Nevada, Idaho,
      and Wyoming. We plan to continue to expand the network in order to better serve all of your surveying needs. Our
      team is actively in the field planning and installing additional stations across the West in order to provide the
      best service possible for surveyors!
    </p>
  </Section>
</Layout>
