---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import emergencyPhoto from '@images/solutions/911.svg';
import hospitalPhoto from '@images/solutions/hospital.svg';
import libraryPhoto from '@images/solutions/library.svg';
import locationPhoto from '@images/solutions/location2.svg';
import dispatchCenterPhoto from '@images/solutions/monitor-station.svg';

import BulletedList from '@components/page/BulletedList.astro';
import Contacts from '@components/page/Contacts.astro';
import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Emergency response',
  pageDescription:
    'Discover resources and solutions for emergency response, including 911 resources and temporary solutions.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { title: 'Resources for 911' },
    {
      title: 'Service area boundaries',
    },
    {
      title: 'Civic location data',
    },
    {
      title: 'NG911 dataset',
    },
    { title: 'Additional resources' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={emergencyPhoto}
      loading="eager"
      alt="a person making a 911 call"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Every second counts in an emergency. Accurate and precise location data is crucial for a swift and effective 911
      response, and UGRC is honored to play a part in stewarding this data and supporting Utah's emergency responders.
    </p>
    <p>
      UGRC empowers Public Safety Answering Points (PSAPs) by providing access to a comprehensive suite of accurate and
      up-to-date geospatial data, including vital infrastructure layers like address points, service area boundaries,
      and road centerlines. With these datasets, PSAPs can pinpoint caller location to ensure the right emergency
      responders are dispatched to the right incident.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={hospitalPhoto}
      alt="an ambulance parked in front of a hospital"
      class="w-full max-w-[400px]"
    />
    <p>
      Service area boundaries for <a href="/products/sgid/society/public-safety-answering-point-boundaries/">PSAPs</a>, <a
        href="/products/sgid/society/emergency-medical-response-areas/">EMS</a
      >, <a href="/products/sgid/society/fire-response-areas/">fire</a>, and <a
        href="/products/sgid/society/law-enforcement-boundaries/">law enforcement</a
      > define the specific geographic areas each emergency service agency is responsible for. These foundational datasets
      allows dispatchers to quickly identify the most appropriate agency to respond to an incident based on its location,
      saving valuable time and ensuring resources are used efficiently.
    </p>
    <p>
      UGRC maintains statewide geographic data layers for each of the required service area boundaries. These layers are
      updated on a monthly basis and are actively used in the state's Next Generation 911 (NG911) call routing system.
    </p>
    <p>
      Please reach out <Contacts contactKey="psap" subject="PSAP solutions inquiry" inline />
      to learn more.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={locationPhoto} alt="a man holding a map in the city" class="w-full max-w-[400px]" />
    <p>
      When seconds matter, knowing the precise location of an emergency is critical. UGRC is as a trusted source for
      this vital data, and our commitment to data quality and accessibility empowers all emergency response agencies
      across Utah to operate with the same standardized and comprehensive library of authoritative and up-to-date civic
      location information.
    </p>
    <p>
      Our precise <a href="/products/sgid/location/address-points/">address points</a> and <a
        href="/products/sgid/transportation/road-centerlines/">road centerlines</a
      > help emergency dispatchers to pinpoint caller locations with unmatched accuracy. Crucial infrastructure layers like
      law enforcement locations (<a href="/products/sgid/society/law-enforcement-facilities/">police</a> and <a
        href="/products/sgid/society/fire-stations/">fire</a
      > stations), <a href="/products/sgid/health/healthcare-facilities/">hospitals</a>, and <a
        href="/products/sgid/society/open-source-places/">common places</a
      > ensure the closest first responders are directed to the exact scene without delay.
    </p>
    <p>
      Please reach out <Contacts contactKey="psap" subject="PSAP solutions inquiry" inline />
      to learn more.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={dispatchCenterPhoto}
      alt="a person sitting in front of a computer command center"
      class="w-full max-w-[400px]"
    />
    <p>
      UGRC is the official Next-Generation-911 (NG911) geospatial data provider for the Utah statewide 911 system. We
      work closely with the Utah Communications Authority's (UCA) <ExternalLink
        href="https://www.uca911.org/911-division">911 Division</ExternalLink
      > to ensure that all 911 calls in Utah are routed to the appropriate PSAP.
    </p>
    <p>
      UGRC's NG911 Dataset provides the foundation to this system. The dataset adheres to the <ExternalLink
        href="https://www.nena.org/page/standards">National Emergency Number Association</ExternalLink
      > (NENA) standard. It includes the essential layers like road centerlines, address points, and PSAP, fire, and law
      boundaries. Additionally, the dataset incorporates many recommended layers, such as cell towers, county boundaries,
      hydrology lines (streams and lakes), incorporated municipalities, mile markers, railroads, state boundaries, and unincorporated
      communities. The primary source for the these layers is the <a href="/products/sgid/">SGID</a>.
    </p>
    <p>
      The NG911 Dataset is a great starting point for PSAPs wanting to explore what UGRC has to offer. It is updated
      monthly and can be downloaded as a file geodatabase.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={libraryPhoto}
      alt="people in a library looking at resources"
      class="w-full max-w-[400px]"
    />
    <p>
      Navigating the ever-changing world of 911 data standards and best practices can be challenging. Finding the right
      resources amidst complex requirements can feel overwhelming. That's where UGRC comes in! We are dedicated to
      staying informed, and here are a few of the resources and workgroups that we have found invaluable.
    </p>
    <BulletedList>
      <li>
        <ExternalLink href="https://nsgic.org/initiatives/next-generation-9-1-1/">NSGIC NG911 Workgroup</ExternalLink>
      </li>
      <li><ExternalLink href="https://www.nena.org/page/ng911_ice">NENA NG911 Standards and Events</ExternalLink></li>
      <li>
        <ExternalLink href="https://www.apcointl.org/technology/next-generation-9-1-1/"
          >APCO NG911 Workgroup</ExternalLink
        >
      </li>
      <li><ExternalLink href="https://www.uca911.org/911-division">UCA 911 Division</ExternalLink></li>
    </BulletedList>
    <p>
      We also encourage you browse the <a href="/products/sgid/">SGID data catalog</a>, particularly in the <a
        href="/products/sgid/location/">Location</a
      >, <a href="/products/sgid/transportation/">Transportation</a>, <a href="/products/sgid/society/">Society</a>, and <a
        href="/products/sgid/health/">Health</a
      > catagories
    </p>
    <p>
      Please reach out <Contacts contactKey="emergencyzones" subject="NG911 solutions inquiry" inline />
      with questions or to learn more.
    </p>
  </Section>
</Layout>
