---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import championPhoto from '@images/solutions/champion.svg';
import collaboratePhoto from '@images/solutions/collaborate.svg';
import rocketPhoto from '@images/solutions/rocket.svg';
import startPhoto from '@images/solutions/start.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'GIS strategy',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { title: 'What is GIS strategy' },
    { title: 'Spatial champion' },
    { title: 'Is your data ready' },
    { title: 'Where to start' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      loading="eager"
      src={rocketPhoto}
      alt="a rocket ship launching off a screen"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      The best time to develop a strategy for incorporating spatial thinking into the business is the moment that
      business begins asking questions involving “where”. Where is everything from ‘Where do we locate our office?’, to
      ‘Where are our customers?’ or ‘Where are needs being unmet or underserved?’. Having some clear goals and
      expectations will help in right sizing the investment in GIS - from a consumer to an enterprise contributor. You
      don’t need to see into the distant future, however you should have some clearly defined agency goals that you are
      trying to achieve, then investigate <strong>where</strong> GIS can help to achieve those goals.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={championPhoto}
      alt="two people holding a first place trophy"
      class="w-full max-w-[400px]"
    />
    <p>
      Forget fancy maps and data visualizations – the real key to unlocking the power of location data for your
      organization is getting someone, a champion, on board who understands its value. Find a champion who sees the
      potential of using location information to improve decision-making.
    </p>
    <p>
      Together, you can explore how to integrate this type of analysis into your everyday work processes to solve real
      problems. Even a simple map showing the current situation can be very helpful. But the real power comes from
      seeing how things change over time and location. This can reveal hidden patterns that can lead to better choices
      across the company.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={collaboratePhoto}
      alt="two people assembling a light bulb idea made of puzzle pieces"
      class="w-full max-w-[400px]"
    />
    <p>
      Does your data contain a street address, a zip code or something that could be considered a location or boundary?
      If so, then ensuring that the spatial component of your data is suitable for analysis is a critical step in the
      development of an overall business strategy regarding spatial data. Get in touch with us if you need help with
      this aspect of your data.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image slot="image" src={startPhoto} alt="A person jumping over a hurdle." class="w-full max-w-[400px]" />
    <p>
      There are many ways to get started using and thinking about geospatial data. One of the best ways we’ve found for
      agencies interested in GIS to get started is to buy an office subscription to Esri’s <ExternalLink
        href="https://www.esri.com/en-us/arcgis/products/arcgis-online/buy">ArcGIS Online platform</ExternalLink
      >. It gives you access to all of the data, including the <a href="/documentation/sgid/">SGID on ArcGIS</a> and <ExternalLink
        href="https://livingatlas.arcgis.com/en/home/">Esri’s Living Atlas</ExternalLink
      >. It has tools to help you <ExternalLink href="https://www.esri.com/en-us/arcgis/products/arcgis-online/overview"
        >analyze your data</ExternalLink
      >, you can create and deploy low code and no code applications to highlight and bring attention to your GIS
      efforts, and most importantly from UGRC’s perspective, it allows you to easily share your data with a wider
      audience if appropriate to your business's goals and mission. ArcGIS Online can scale with your agency needs
      without having to make a huge initial investment in GIS. Reach out to us if you have any questions about joining
      Utah's preferred spatial data and low code no code platform.
    </p>
  </Section>
</Layout>
