---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import championPhoto from '@images/solutions/champion.svg';
import collaboratePhoto from '@images/solutions/collaborate.svg';
import rocketPhoto from '@images/solutions/rocket.svg';
import startPhoto from '@images/solutions/start.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'GIS strategy',
  pageDescription:
    'The best time to develop a strategy for incorporating spatial thinking into the business is the moment that business begins asking questions involving “where”.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { title: 'What is GIS strategy' },
    { title: 'Spatial champion' },
    { title: 'Is your data ready' },
    { title: 'Where to start' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      loading="eager"
      src={rocketPhoto}
      alt="a rocket ship launching off a screen"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      The best time for you to start thinking spatially is the moment that you start asking "where." "Where do we locate
      our office?" "Where are our customers?" "Where are needs being unmet or underserved?" A GIS strategy can help you
      develop the data, tools, and processes for answering these questions and more.
    </p>
    <p>
      Having clear goals and expectations will help you choose the right size of investment in GIS - from a relatively
      simple consumer of GIS data to an enterprise creating and sharing GIS data for others. You don't need to see into
      the distant future and have everything mapped out perfectly, but you should have some clearly defined agency goals
      that you are trying to achieve so that you can investigate <strong>where</strong> GIS can help to achieve those goals.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={championPhoto}
      alt="two people holding a first place trophy"
      class="w-full max-w-[400px]"
    />
    <p>
      Forget fancy maps and data visualizations - the real key to unlocking the power of GIS for your organization is
      getting someone on board who understands its value. Find someone who sees the potential of using location
      information to improve decision-making and make them your champion.
    </p>
    <p>
      Together, we can work with you and your champion to explore how to integrate location analysis into your everyday
      work processes to solve real problems. Even a simple map showing the current situation can be very helpful. But,
      the real power of GIS comes from seeing how things change over time and location. This can reveal hidden patterns
      that can lead to better choices across your organization.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={collaboratePhoto}
      alt="two people assembling a light bulb idea made of puzzle pieces"
      class="w-full max-w-[400px]"
    />
    <p>
      Spatial analyses begin with spatial data, but this doesn't have to be difficult to create. Does your data contain
      a street address, a zip code, or something that could connect it to a location or boundary? If so, it's only one
      small step away from being useful for spatial analysis.
    </p>
    <p>
      However, other data may need more work to make it spatial. Maybe you have a question that you know involves
      "where" but it's not clear how your data can be used to answer it. We're happy to help you figure out how to make
      your data spatial so you can answer your important questions.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image slot="image" src={startPhoto} alt="A person jumping over a hurdle." class="w-full max-w-[400px]" />
    <p>
      One of the best ways we've found to get started in GIS is to purchase a subscription to Esri's <ExternalLink
        href="https://www.esri.com/en-us/arcgis/products/arcgis-online/buy">ArcGIS Online platform</ExternalLink
      >. This includes access to a wide variety of data, including the <a href="/documentation/sgid/">SGID on ArcGIS</a>
      and
      <ExternalLink href="https://livingatlas.arcgis.com/en/home/">Esri's Living Atlas</ExternalLink>, along with tools
      to help you <ExternalLink href="https://www.esri.com/en-us/arcgis/products/arcgis-online/overview"
        >analyze your data</ExternalLink
      >. After you've analyzed your data, you can use <ExternalLink
        href="https://www.esri.com/en-us/arcgis/products/arcgis-experience-builder/overview"
        >Experience Builder</ExternalLink
      > to create and deploy low-code and no-code applications to highlight and bring attention to your results.
    </p>
    <p>
      ArcGIS Online also allows you to easily share your data with a wider audience (if appropriate), including sharing
      it with the SGID if it meets our <a href="/documentation/policy/sgid">qualifications</a>. The big advantage of
      ArcGIS Online is that it scales with your agency needs without having to make a huge initial investment in GIS.
      Reach out to us if you have any questions about joining Utah's preferred spatial data and low-code/no-code
      platform.
    </p>
  </Section>
</Layout>
