---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import TurnDescription from '@partials/TurnDescription.astro';

import { Image } from 'astro:assets';

import arrowPhoto from '@images/solutions/arrow.svg';
import carPhoto from '@images/solutions/car.svg';
import dronePhoto from '@images/solutions/drone.svg';
import monitorPhoto from '@images/solutions/monitor.svg';
import weatherPhoto from '@images/solutions/weather.svg';

import { YouTube } from '@astro-community/astro-embed-youtube';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'High precision location',
  pageDescription: 'Our high-accuracy GNSS network provides real-time, high-accuracy GPS positioning.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    {},
    { title: 'Drones' },
    { title: 'Driverless vehicles' },
    { title: 'Monitoring' },
    { title: 'Weather' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={arrowPhoto}
      loading="eager"
      alt="Two people holding an arrow pointing to a targets bullseye."
      class="w-full max-w-[400px] rounded-2xl"
    />

    <TurnDescription />
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={dronePhoto}
      alt="A drone delivering a package to a person in a chair."
      class="w-full max-w-[400px]"
    />
    <p>
      Our real-time GPS network plays a crucial role in keeping drones in designated flight corridors and away from
      controlled airspaces. This aids a multitude of services including critical medical deliveries.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image slot="image" src={carPhoto} alt="A car with a cliche GPS pin above it." class="w-full max-w-[400px]" />
    <p>
      The centimeter-level precision of a real-time network greatly improves driverless vehicles' navigation compared to
      standard GPS' potential error of a dozen feet or more. Having a reliable network helps keep drivers safe by
      preventing collisions and keeping vehicles in the appropriate lane.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={monitorPhoto}
      alt="A person sitting in the wilderness with a laptop monitoring something outdoors."
      class="w-full max-w-[400px]"
    />
    <p>
      High-accuracy GNSS networks are used in science and research to study and better understand the world around us.
      Whether it's monitoring tectonic plate movements measured in millimeters per year or unstable hillsides that shift
      a couple of feet a month, our GNSS network can help support disaster response management, agricultural and
      forestry, landslide monitoring, and more!
    </p>
    <p>
      Watch this interesting video of GPS base stations capturing the intensity of Japan's 2011 earthquake, revealing
      the horizontal displacement by up to 400 centimeters on the left, and a vertical shift of 75 centimeters on the
      right.
    </p>
    <div class="mx-auto w-full max-w-4xl">
      <YouTube
        class="aspect-video max-w-full rounded-lg border-2 border-black shadow-xl"
        id="X3WI9nKsA2E"
        playlabel="GPS base stations during Japan earthquake"
      />
    </div>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={weatherPhoto}
      alt="A walking in the rain under an umbrella."
      class="w-full max-w-[400px]"
    />
    <p>
      High-accuracy GNSS networks play a crucial role in meteorology and mitigating the effects of climate change.
      Real-time measurements can help improve weather predictions, severe weather monitoring, atmospheric modeling, and
      much more!
    </p>
  </Section>
</Layout>
