---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import blocksPhoto from '@images/solutions/blocks.svg';
import highFivePhoto from '@images/solutions/high-five.svg';
import notesPhoto from '@images/solutions/notes.svg';
import processPhoto from '@images/solutions/process.svg';
import shoppingPhoto from '@images/solutions/shopping.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Data Management and Access',
  pageDescription: 'UGRC can help you manage and access your data better.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { actionText: 'Get in touch', actionUrl: '/contact' },
    { title: 'Build the foundation', actionText: 'Explore SGID categories', actionUrl: '/products/sgid/categories' },
    {
      title: 'Make it accessible and current',
      actionText: 'Explore our spatial data lifecycle',
      actionUrl: 'https://drive.google.com/file/d/1kDzCLf_UolQqSVZQSzHAHVrtFC4ViEFC/view',
    },
    { title: 'Use our tools', actionText: 'Developer solutions', actionUrl: '/solutions/for-application-developers' },
    { title: 'Participate in the SGID', actionText: 'Read about the SGID', actionUrl: '/documentation/sgid' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={notesPhoto}
      loading="eager"
      alt="a person taking notes from another person explaining charts on a whiteboard"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Data management is the cornerstone of data-driven decision making. Before anyone can use your data, they have to
      be able to find and understand it. Ensuring your data is curated and optimized for use within your agency, by your
      constituents, and throughout state government is key to planning for change and providing services efficiently and
      effectively.
    </p>
    <p>
      UGRC has been creating, accumulating, aggregating, transforming, and hosting data for over 30 years, so we know a
      thing or two about data curation and management. No matter where you are in the data life cycle, get in touch to
      explore how we can help you “spatialize” and manage your data better.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image
      slot="image"
      src={blocksPhoto}
      alt="two people working together assembling blocks to build something awesome"
      class="w-full max-w-[400px]"
    />
    <p>
      Even if your data are not natively spatial, or you're not quite sure what spatial means, UGRC can help enrich your
      data by incorporating a locational component. Whether it's geocoding a list of addresses to see how they
      cluster together, aggregating and joining data to an existing boundary like counties or zip codes to display where
      a value is highest, or pulling in information from geographically-related datasets like census demographic data,
      you can use the power of location to gain new insights from your data.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <Image
      slot="image"
      src={shoppingPhoto}
      alt="A person shopping for data in a store with a couple of bags of data in hand"
      class="w-full max-w-[400px]"
    />
    <p>
      Democracy depends on distributing accurate information as widely as possible to help people make informed
      decisions. You may need to make your data available in a variety of formats and sources to share it with the
      broadest possible audience. Additionally, understanding how people use your data will inform how often you update
      these sources to keep it current and reliable. Our long history of data management has taught us many valuable
      lessons on how to keep data up to date and shared on multiple different platforms, and we are happy to pass along
      our knowledge and experience to your team, program, or agency.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <Image
      slot="image"
      src={processPhoto}
      alt="A person standing next to some gears with a progress bar"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Automating the processes that keep your data useful and available can be a real time saver. As an aggregator of
      data across the state, UGRC has lots of experience with automating the extract, transform, and load (ETL) process.
      We create our automation tools with the intent of sharing them with anyone that will benefit from them, and
      towards this end almost all our work is available in our <ExternalLink href="https://github.com/agrc"
        >GitHub organization</ExternalLink
      > under an open source license. You can try using one of our tools "off the shelf," or you can use it as a starting
      point for your own custom solution.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <Image
      slot="image"
      src={highFivePhoto}
      alt="A group of people high-fiving each other in celebration of a job well done"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Once your datasets are built, accessible, and current, consider contributing them to the State Geographic
      Information Datasource (SGID) for maximal exposure and usage. The SGID's goal is to make the most relevant and
      authoritative Utah spatial data available to the largest possible audience. Ideally, we can help people find the
      data you've already published by adding it to the <a href="/products/sgid/sgid-index">SGID Index</a> or the <a
        href="https://opendata.gis.utah.gov">SGID on ArcGIS</a
      >. But, if you don't have the capability to host the data yourself, we can help you publish it to the SGID
      directly.
    </p>
  </Section>
</Layout>
