---
import type { DecoratedBlogEntry } from '@utils/collections';
import { slugify } from '@utils/collections';
import { getDateParts } from '@utils/page';

const { category, date: pubDate, estimatedReadTime, lastUpdated } = Astro.props as DecoratedBlogEntry['data'];

const { year, month, day } = getDateParts(pubDate);
const lastUpdatedDate = getDateParts(lastUpdated);
---

<div class="flex flex-col gap-x-2 border-t border-primary/30 pt-3 text-sm font-medium md:flex-row dark:border-white/30">
  <div class="flex justify-center gap-1 text-sm">
    <span class="whitespace-nowrap font-semibold text-primary/80 dark:text-white">Published</span>
    <span>路</span>
    <span class="whitespace-nowrap uppercase">
      {month}
      {day}, {year}
    </span>
  </div>
  {
    lastUpdated && (
      <div class="flex justify-center gap-1 text-sm">
        <span class="whitespace-nowrap font-semibold text-primary/80 dark:text-white">Last modified</span>
        <span>路</span>
        <span class="whitespace-nowrap uppercase">
          {lastUpdatedDate.month} {lastUpdatedDate.day}, {lastUpdatedDate.year}
        </span>
      </div>
    )
  }
  {
    !!category ? (
      <div class="flex justify-center gap-1 text-sm">
        <span class="whitespace-nowrap font-semibold text-primary/80 dark:text-white">Category</span>
        <span>路</span>
        <span class="whitespace-nowrap">
          <a href={`/blog/categories/${slugify(category)}`}>{category}</a>
        </span>
      </div>
    ) : null
  }
  <div class="flex justify-center gap-1 text-sm">
    <span class="whitespace-nowrap font-semibold text-primary/80 dark:text-white">Read time</span>
    <span>路</span>
    <span class="whitespace-nowrap">
      {estimatedReadTime}
    </span>
  </div>
</div>
<article
  class="mdx-headings:dark:text-zinc-50 mdx-headings:text-zinc-700 mdx mdx-zinc dark:mdx-invert mdx-img:border mdx-img:rounded-lg mdx-li:my-0 mdx-tr:dark:border-white/30 mdx-thead:dark:border-white/50 mdx-img:mx-auto max-w-none space-y-6 overflow-hidden"
>
  <slot />
</article>
