---
import FormattedDate from '@components/FormattedDate.astro';
import Layout from '@layouts/Prose.astro';
import type { CollectionEntry } from 'astro:content';

type BlogPost = CollectionEntry<'blog'>['data'];
interface Props extends BlogPost {
  estimatedReadTime?: string;
}

const { title, date: pubDate, updated, estimatedReadTime } = Astro.props;
---

<Layout title={title}>
  <article>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} style="long" />
          {
            updated && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updated} style="long" />
              </div>
            )
          }
          <div class="flex justify-center text-sm text-primary/80 dark:text-accent">{estimatedReadTime}</div>
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
