---
import type { IStandardPageMetadata } from '@models/types';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import Banner from '@components/Banner.astro';
import BaseHead from '@components/BaseHead.astro';
import FooterAgencyInformation from '@components/FooterAgencyInformation.astro';
import Qualtrics from '@components/Qualtrics.astro';
import SocialMedia from '@components/SocialMedia.astro';
import UtahHeader from '@components/UtahHeader.astro';

import '../styles/tailwind.css';

export interface Props extends Omit<IStandardPageMetadata, 'section'> {}

const { pageTitle = 'UGRC', pillar, bannerHeading, pageDescription = SITE_DESCRIPTION, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} - ${pageTitle}`} description={pageDescription} image={image} />
  </head>
  <body class="bg-white dark:bg-primary-950">
    <UtahHeader />
    <Banner title={bannerHeading || pageTitle} pillar={pillar} />
    <main id="main-content">
      <slot />
    </main>
    <footer>
      <SocialMedia />
      <FooterAgencyInformation />
      <Qualtrics activeSurvey={true} />
      <div id="utah-footer-placeholder"></div>
    </footer>
  </body>
</html>
