---
import BreadCrumbs from '@components/data/BreadCrumbs.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';
import type { SgidCategory } from '@models/products/sgid/types';

interface Props {
  title: string;
  subTitle?: string;
  category: SgidCategory;
  actionUrl?: string;
  config?: {
    skipInDepth?: boolean;
  };
}

const { title = 'UGRC', subTitle, category, actionUrl, config } = Astro.props;
---

<Layout title={`SGID ${category.replaceAll('-', ' ').toLowerCase()}`}>
  <BreadCrumbs category={category} product={title} />

  <Section
    title={title}
    subTitle={`Last update · ${subTitle}`}
    stripe
    actionText="See the data in action"
    actionUrl={actionUrl}
    titlePosition="center"
  >
    <slot name="metadata" />
    <slot name="summary" />
  </Section>
  <slot name="downloads" />

  {
    !(config?.skipInDepth ?? false) && (
      <Section title="More details" stripe titlePosition="center">
        <slot name="description" />
        <slot name="update-history" />
        <slot name="disclaimer" />
      </Section>
    )
  }
  <slot name="more-resources" />
  <slot name="you-might-also-like" />
</Layout>
