---
import type { SgidCategory } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import BreadCrumbs from '@components/data/BreadCrumbs.astro';
import Section from '@components/page/Section.astro';

interface Props {
  pageTitle: string;
  pageDescription?: string;
  subTitle?: string;
  category: SgidCategory;
  actionUrl?: string;
  config?: {
    skipInDepth?: boolean;
    stripeDescription?: boolean;
  };
}

const { pageTitle = 'UGRC', pageDescription, subTitle, category, actionUrl, config } = Astro.props;
---

<Layout
  bannerHeading={`SGID ${category.replaceAll('-', ' ').toLowerCase()}`}
  pageTitle={pageTitle}
  pageDescription={pageDescription}
>
  <BreadCrumbs category={category} product={pageTitle} />

  <Section
    title={pageTitle}
    subTitle={`Last update · ${subTitle}`}
    stripe
    actionText="See the data in action"
    actionUrl={actionUrl}
    titlePosition="center"
  >
    <slot name="metadata" />
    <slot name="summary" />
  </Section>
  <slot name="downloads" />
  {
    !(config?.skipInDepth ?? false) && (
      <>
        <Section title="A closer look" stripe={!(config?.stripeDescription ?? false)} titlePosition="center">
          <slot name="description" />
          <slot name="update-history" />
          <slot name="disclaimer" />
        </Section>
        <slot name="extra" />
      </>
    )
  }
  <slot name="more-resources" />
  <slot name="you-might-also-like" />
</Layout>
